    </div> <!-- /column (main content) -->
    <div class="col-sm-3">
        <div class="pl-docs-sidebar" data-spy="affix" data-offset-top="60">
            <p class="pl-docs-sidebar-header"><a href="#top">{{header}}</a></p>
            <ul class="nav pl-docs-sidenav">
                {{#link}}
                <li>
                    <a href="{{css_id}}">{{nav_header}}</a>
                </li>
                {{/link}}
            </ul>
            <a href="#top">back to top</a>
        </div>
    </div> <!-- /column (sidebar) -->
</div> <!-- /row -->
