// File: buttons-groups.less
// Note: Extends Bootstrap buttons-groups.less



// Custom button groups
// -------------------------

// These are an alternative to Bootstrap's justified button groups

.btn-group-two {
	width: 100%;
	.btn { width: 50%;}
}

.btn-group-three {
	width: 100%;
	.btn { width: 33.33%;}
}