// File: buttons.less
// Note: Extends Bootstrap buttons.less

// Buttons
// -------------------------

.btn {
	.box-shadow(inset 0 1px 1px rgba(255,255,255,.25));
	border-radius: @border-radius-small;
}


// Alternate Buttons
// -------------------------

.btn-attention {
  .button-variant(@btn-attention-color; @btn-attention-bg; @btn-attention-border);
}


// Buttons with icons
// -------------------------

.btn {
	> i {
		float: left;
		font-size: @font-size-base + 2px;
		margin: 1px @margin-xsmall 0 -2px;
	}
}

.btn-lg {
	> i {
		font-size: @font-size-large + 2px;
		margin: 1px @margin-small 0 -2px;
	}
}

.btn-sm {
	> i {
		font-size: @font-size-small + 2px;
	}
}

.btn-xs {
	> i {
		font-size: @font-size-small + 2px;
		margin: 2px 2px 0 -2px;
	}
}

.btn-block {
	> i {
		display: inline-block;
		float: none;
		margin: 0;
	}
}

// Icon-only buttons
// -------------------------

.btn-icon {
	padding-left: @padding-base;
	padding-right: @padding-base;
	i {
		display: block;
		margin: 0;
		padding: 2px;
	}
	&.btn-lg {
		padding-left: @padding-medium;
		padding-right: @padding-medium;
	}
	&.btn-xs {
		padding-left: @padding-xsmall;
		padding-right: @padding-xsmall;
	}
}


