// File: cards.less
// Note: Property card


// Card
// -------------------------


.card {
  background-color: @white;
  .border();
  border-radius: @border-radius-small;
  max-width: 320px;
  .sash {
    .border-top-radius(@border-radius-small);
  }
}

.card-info {
	padding: @padding-base-vertical @padding-base-horizontal;
}

.card-info-street {
	color: @link-color;
	.text-overflow();
}


