// File: cards.less
// Note: Property card


// Card
// -------------------------


.card {
  background-color: @white;
  .border();
  border-radius: @card-border-radius;
  display: inline-block;
  max-width: 320px;
  p {
  	margin: 0;
  	.text-overflow();
  }
  .sash {
    .border-top-radius(@card-border-radius);
  }
}

.card-container {
	padding: @padding-large-vertical @padding-xs-horizontal;
}


.card-priority {
	font-size: 16px;
	font-weight: 600;
}

.card-stats {
	font-size: 11px;
	border-top: @gray-lighter 1px solid;
	border-bottom: @gray-lighter 1px solid;
	text-align: center;
	text-transform: uppercase;
}

.card-stat {
	display: inline-block;
	padding: @padding-large-vertical 0;
	&+.card-stat {
		padding-left: @padding-small-horizontal;
	}
}

.card-street {
	color: @link-color;
}

.card-more {
	background-color: @gray-lightest;
	border-top: @gray-lighter 1px solid;
	.border-bottom-radius(@card-border-radius);
	cursor: pointer;
	font-size: 12px;
	padding: @padding-small-vertical 0;
	text-align: center;
}


// Small Card
// -------------------------

.card-sm {
	max-width: 240px;
	min-width: 220px;
	padding: @padding-small-vertical @padding-xs-horizontal;
	p {
		line-height: @line-height-computed - 5px;
	}
	.sash {
		font-size: 11px;
		padding: 0 0 @padding-xs-vertical 0;
	}
}

.card-sm-container {
	padding: @padding-small-vertical 0;
}

.card-sm-priority {
	font-size: 13px;
	font-weight: 600;
}

.card-sm-stats {
	//color: @gray;
	border-top: @gray-lighter 1px solid;
	font-size: 10px;
	text-align: center;
	text-transform: uppercase;
}

.card-sm-stat {
	display: inline-block;
	padding: @padding-base-vertical 0;
	&+.card-sm-stat {
		padding-left: 4px;
	}
}

.card-sm-street {
	color: @link-color;
}












