// File: cards.less
// Note: Property card


// Card
// -------------------------


.card {
  background-color: @white;
  .border();
  border-radius: @border-radius-base;
  width: 240px;
  height: 320px;
  .sash {
    .border-top-radius(@border-radius-base);
  }
}



