// File: carets.less
// Note: Extends Bootstrap caret found in dropdowns.less


// Caret Up
// -------------------------

.caret-up {
  .caret();
  border-top: 0;
  border-bottom: @caret-width-base solid;
  content: "";
}








