// File: carousel.less
// Note: Extends Bootstrap carousel.less


// Left/right controls for nav
// ---------------------------


.carousel-control {
  cursor: pointer;
  .ficon {
    background-color: @gray-darker;
    display: inline-block;
    font-size: 28px;
    margin-top: -18px;
    padding: 4px;
    position: absolute;
    top: 50%;
    z-index: 5;
  }
  &.left {
    background: transparent; // override bootstrap's grandient
    .ficon {
      left: 0;
    }
  }
  &.right {
    background: transparent; // override bootstrap's grandient
    .ficon {
      right: 0;
    }
  }

}


