// File: dropdowns.less
// Note: Extends Bootstrap dropdowns.less

// Dropdown menus
// -------------------------

// The dropdown menu (ul)

.dropdown-menu {
  .divider {
    margin: @margin-xsmall 0;
  }
}

// Hover/Focus state
.dropdown-menu > li > a {
  padding: 3px @padding-large;
  &:hover,
  &:focus {
    outline: none;
  }
}

// No min width dropdown menu (ul)

.dropdown-menu-no-min-width {
  min-width: 1px;
}

// Lead category dropdown menu (ul)

.dropdown-menu-leadcat {
  min-width: 50px;
  > li > a {
    padding: 3px @padding-base @padding-small;
  }
  .leadcat { 
    .leadcat-eq;
  }
}

// Lead type dropdown menu (ul)

.dropdown-menu-leadtype {
  min-width: 50px;
  > li > a {
    padding: 3px @padding-base @padding-small;
  }
  .leadtype { 
    .leadtype-eq;
  }
}



// Dropdown toggles
// -------------------------

// Link buttons with dropdown caret

.dropdown-toggle {
  &.btn-link {
    padding: 0;
    text-decoration: none;
    .caret { color: @btn-default-color; }
  }
}




