// File: dropdowns.less
// Note: Extends Bootstrap dropdowns.less

// Dropdown menus
// -------------------------



// The dropdown menu (ul)
.dropdown-menu {
  .divider {
    margin: @margin-xsmall 0;
  }
}


// Link buttons

.dropdown-toggle {
  &.btn-link {
    padding: 0;
    text-decoration: none;
    .caret { color: @btn-default-color; }
  }
}




.dropdown-menu-cat {
  min-width: 50px;
  > li > a {
    padding: 3px @padding-base @padding-small;
  }
  .cat { 
    .cat-eq;
  }
}