// File: labels.less
// Note: Extends Bootstrap labels.less


// Labels
// -------------------------

.label {
  font-weight: 700;
  padding: 0.1em 0.5em 0.2em;
}

.label-attention{
  .label-variant(@label-attention-bg);
}


// Lead Category
// -------------------------

.leadcat {
  &:extend(.label);
  display: inline-block;
  line-height: 1.1;
  text-transform: lowercase;
}


// Lead Category Options
// -------------------------

.leadcat-archive {
  background-color: @label-archive-color;
  &.leadcat-outline {
    .label-variant-outline(@label-archive-color);
  }
}
.leadcat-closed {
  background-color: @label-closed-color;
  &.leadcat-outline {
    .label-variant-outline(@label-closed-color);
  }
}
.leadcat-hot {
  background-color: @label-hot-color;
  &.leadcat-outline {
    .label-variant-outline(@label-hot-color);
  }
}
.leadcat-new {
  background-color: @label-new-color;
  &.leadcat-outline {
    .label-variant-outline(@label-new-color);
  }
}
.leadcat-nurture {
  background-color: @label-nurture-color;
  &.leadcat-outline {
    .label-variant-outline(@label-nurture-color);
  }
}
.leadcat-pending {
  background-color: @label-pending-color;
  &.leadcat-outline {
    .label-variant-outline(@label-pending-color);
  }
}
.leadcat-qualify {
  background-color: @label-qualify-color;
  &.leadcat-outline {
    .label-variant-outline(@label-qualify-color);
  }
}
.leadcat-trash {
  background-color: @label-trash-color;
  &.leadcat-outline {
    .label-variant-outline(@label-trash-color);
  }
}
.leadcat-watch {
  background-color: @label-watch-color;
  &.leadcat-outline {
    .label-variant-outline(@label-watch-color);
  }
}

// Lead Category Equal Width
// -------------------------

.leadcat-eq,.leadcat-eq-abbr {
  padding-left: 0;
  padding-right: 0;
  width: 56px;
}

.leadcat-eq-abbr {
  width: 42px;
}


// Lead Type
// -------------------------

.leadtype {
  &:extend(.label);
  display: inline-block;
  line-height: 1.1;
  text-transform: lowercase;
  .label-variant-outline();
}

// Lead Type Equal Width
// -------------------------

.leadtype-eq {
  padding-left: 0;
  padding-right: 0;
  width: 76px;
}

// Tags - henceforth known in classes as marker
// -------------------------

.marker {
  &:extend(.label);
  display: inline-block;
  font-weight: 400;
  line-height: 1.1;
}

.marker-default {
  .marker-variant-outline(@gray-dark, @gray-light);
}

.marker-primary {
  .marker-variant-outline(@brand-primary, @gray-light);
}

.marker-attention {
  .marker-variant-outline(@brand-attention, @gray-light);
}

.marker-success {
  .marker-variant-outline(@brand-success, @gray-light);
}

.marker-info {
  .marker-variant-outline(@brand-info, @gray-light);
}

.marker-warning {
  .marker-variant-outline(@brand-warning, @gray-light);
}

.marker-danger {
  .marker-variant-outline(@brand-danger, @gray-light);
}
