// File: mixins.less
// Note: Custom Boomstrap mixins, overrides, extends



// Borders
// -------------------------

.border(@color: @gray-light, @style: solid, @width: 1px) {
  border-color: @color;
  border-style: @style;
  border-width: @width;
}





// Buttons
// -------------------------

// Note: Override Boostrap .button-variant mixin to add gradient

.button-variant(@color; @background; @border) {
  color: @color;
  background-color: @background;
  border-color: @border;


  #gradient > .vertical(@background; darken(@background,4%)); // add gradient

  &:hover,
  &:focus,
  &:active,
  &.active,
  .open .dropdown-toggle& {
    color: @color;
    background-color: darken(@background, 10%);
    border-color: @border;
    //background-image: none;
    #gradient > .vertical(darken(@background,4%); darken(@background,10%)); // add gradient
    //background-position: 0 -15px;
  }
  &:active,
  &.active,
  .open .dropdown-toggle& {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: @background;
      border-color: @border;
      #gradient > .vertical(@background; darken(@background,4%)); // add gradient
    }
  }

  .badge {
    color: @background;
    background-color: @color;
  }
}


// Callouts
// -------------------------

.callout-variant(@background; @color; @text-color) {
  background-color: @background;
  border-color: @color;
  color: @text-color;
  h1,h2,h3,h4,h5 {
    color: darken(@color,5%);
  }
  hr {
    border-top-color: @color;
  }
  .callout-link {
    color: @color;
  }
}




// Tab focus
// -------------------------

// Note: Override Boostrap .tab-focus mixin

.tab-focus() {
  outline: thin dotted;
  outline: 2px auto -webkit-focus-ring-color;
  outline-offset: -3px;
}


// Scores
// -------------------------

.score-size(@padding-vertical; @width; @font-size; @line-height; @border-radius) {
  padding: @padding-vertical 0;
  width: @width;
  font-size: @font-size;
  line-height: @line-height;
  border-radius: @border-radius;
}







