// File: _docs.less
// Note: This file is used for constructing the pattern library document


@import (reference) 'bower_components/bootstrap/less/bootstrap';
@import (reference) 'variables';

.pl-body {
	padding-top: 70px;
	h3 {
		//margin: @line-height-computed 0;
	}
}

.pl-section {
	padding: 3em 0;
	&+.pl-section {
		border-top: 1px @gray-light solid;
	}
	> h1 { margin-top: 0; }
	//> h2 { color: @gray-darker; }
	> h3 { color: @gray-dark; }
}

.pl-article {
	&+article { margin-top: 3em; }
	> h1 { margin-top: 0; }
	//> h2 { color: @gray-darker; }
	> h3 { color: @gray-dark; }
	> h4 { color: @gray-dark; }
}

.pl-example {
	&:extend(.well);
	background-color: @white;
	margin-bottom: 0;
	&+.pl-code {
		margin: -6px 0 @line-height-computed 0;
		pre {
		 .border-top-radius(0);
		}
	}
	>p:last-child { margin-bottom: 0; }
}

.pl-example-control-sizing select, .pl-example-control-sizing input[type=text]+input[type=text] {
	margin-top: 10px;
}
.pl-example>.img-circle, .pl-example>.img-rounded, .pl-example>.img-thumbnail {
	margin: 5px;
}
.pl-example-bg-classes > p {
	padding: 10px;
}
.pl-example > p > .close { float: none; }

// Code Snippets
// -------------------------

.pl-code {
	margin: 1.5em 0;
	pre {
		border-color: @well-border;
		padding-left: 19px;
		padding-right: 19px;
	}
 .na { color: #4f9fcf; }
 .nc { color: #0A8; }
 .nt { color: #2f6f9f; }
 .s { color: #d44950; }
 .t { color: darken(yellow,15%); }
}

// Color Swatches
// -------------------------

.pl-swatch-txt {
	padding-top: (@line-height-computed / 2);
	text-align: center;
}

[class*="pl-swatch--"] {
	height: 160px;
	width: 100%;
}

.pl-swatch--bt-orange { background-color: @brand-attention; }
.pl-swatch--bt-blue { background-color: @brand-primary; }

.pl-swatch--primary { background-color: @brand-primary; }
.pl-swatch--attention { background-color: @brand-attention; }
.pl-swatch--success { background-color: @brand-success; }
.pl-swatch--info { background-color: @brand-info; }
.pl-swatch--warning { background-color: @brand-warning; }
.pl-swatch--danger { background-color: @brand-danger; }

.pl-swatch--gray { background-color: @gray; }
.pl-swatch--gray-light { background-color: @gray-light; }
.pl-swatch--gray-lighter { background-color: @gray-lighter; }
.pl-swatch--gray-lightest { background-color: @gray-lightest; }
.pl-swatch--gray-dark { background-color: @gray-dark; }
.pl-swatch--gray-darker { background-color: @gray-darker; }

.pl-swatch--black { background-color: #000; }
.pl-swatch--white { background-color: #fff; }



