// File: labels.less
// Note: Extends bower_components/perfect-scrollbar/src/perfect-scrollbar.css
// and bower_components/angular-perfect-scrollbar/dependencies/perfect-scrollbar.css

.ps-container {
    // white-space: pre-line; << this was recommended by the docs, but it seems to cause extra white space
    overflow-y: hidden;
    position: relative;
    .ps-scrollbar-x-rail, .ps-scrollbar-y-rail, .ps-scrollbar-x, .ps-scrollbar-y {
      background-color: #444;
    }
    &:hover .ps-scrollbar-x-rail, &:hover .ps-scrollbar-y-rail, &:hover .ps-scrollbar-x, &:hover .ps-scrollbar-y {
      opacity: 0.65;
    }
}