// File: set-to-do.less
// Note: set to-do component



// Set todo base
// -------------------------

.set-to-do { } // currently no styles

.set-to-do__body {
  padding: 0;
  position: relative;
}

.set-to-do__comments,.set-to-do__phones,.set-to-do__status {
  margin-bottom: @margin-half-gutter
}

.set-to-do__checkboxes {
  &:extend(.clearfix all);
}
  
.set-to-do__checkbox {
  margin: 0;
  &:extend(.small);
}

.set-to-do__comments {
  textarea {
    height: 60px;
    overflow: auto;
    resize: none;
    &:extend(.small);
  }  
}

.set-to-do__phones__dropdown {
  &:extend(.btn-group-block-dropdown all);
}

.set-to-do__status {
  .ficon { margin-right: @margin-base; }
  .list-group { margin-bottom: 0; }
  &:extend(.small);
}


// Log call modifier - wrapped in modal
.set-to-do--modal {
  .set-to-do__body {
    padding: @modal-inner-padding;
  }
}

// Log call modifier - wrapped in small modal
.set-to-do--modal-sm {
  .set-to-do__checkbox {
    float: left;
    width: 50%;
    &+.set-to-do__checkbox {
      padding-left: 0;
    }
  }
}







