// File: set-to-do.less
// Note: set to-do component



// Set todo base
// -------------------------

.set-to-do { } // currently no styles

.set-to-do__date,.set-to-do__date-btns,.set-to-do__time {
  margin-bottom: @margin-half-gutter;
}

.set-to-do__assign {
  margin-top: @margin-half-gutter;
  p {
    margin-bottom: @margin-xsmall;
  }
}

.set-to-do__body {
  padding: 0;
  position: relative;
}

.set-to-do__cancel {
  font-size: 11px;
  //margin: -12px 0 @margin-half-gutter 0;
  position: absolute;
  right: @margin-half-gutter;
  top: @margin-half-gutter + 4px;
}

.set-to-do__category {
  margin-bottom: @margin-xsmall;
}

.set-to-do__comments {
  textarea {
    height: 60px;
    overflow: auto;
    resize: none;
    &:extend(.small);
  } 
}

.set-to-do__date {
  font-weight: 600;
  padding-right: 68px; // make room for cancel to-do button
}

.set-to-do__date-btns {
  font-size: 0;
  margin: 0 0 @margin-half-gutter -2%;
  &:extend(.clearfix all);
}

.set-to-do__date-btns > .btn {
  display: inline-block;
  margin: 0 0 2% 2%;
  width: 48%;
  &:extend(.btn-xs);
  &.active {
    &:extend(.btn-success);
  }
  &.btn-block {
    margin-bottom: 0;
    width: 98%;
  }
}

.set-to-do__time__opts {
  display: block;
  margin: @margin-xsmall 0 0 0;
  &.hide {
    display: none;
  }
}

.set-to-do__time__radios {
  display: inline-block;
}

.set-to-do__time__radio {
  margin-bottom: 0px;
  margin-top: 0px;
  &:extend(.small);
}

// Set to do modifier - small

.set-to-do--sm {
  .set-to-do__time__opts {
    display: inline-block;
    margin: 0 0 0 @margin-xsmall;
  }
  .set-to-do__date-btns {
    font-size: 0;
    margin-left: -1%;
  }
  .set-to-do__date-btns > .btn {
    margin: 0 0 1% 1%;
    width: 49%;
    &:extend(.btn-sm);
    &.btn-block {
      margin-bottom: 0px;
      width: 99%;
    }
  }
}

// Set to do modifier - wrapped in modal

.set-to-do--modal {
  .set-to-do__body {
    padding: @modal-inner-padding;
  }
}









