// File: set-to-do.less
// Note: set to-do component



// Set todo base
// -------------------------

.set-to-do { } // currently no styles

.set-to-do__date,.set-to-do__date-btns,.set-to-do__time {
  margin-bottom: @margin-half-gutter;
}

.set-to-do__assign {
  margin-top: @margin-half-gutter;
  p {
    margin-bottom: @margin-xsmall;
  }
}

.set-to-do__body {
  padding: 0;
  position: relative;
}

.set-to-do__comments {
  textarea {
    height: 60px;
    overflow: auto;
    resize: none;
    &:extend(.small);
  } 
}

.set-to-do__date {
  font-weight: 600;
}

.set-to-do__date-btns {
  &:extend(.clearfix all);
  .btn.active {
    &:extend(.btn-success);
  }
}

.set-to-do__date-btns .btn {
  float: left;
  margin: 3px 0;
  width: 49%;
  &:nth-child(even) {
    float: right;
  }
  &:last-child {
    .btn-block;
  }
}

.set-to-do__radio {
  &:extend(.small);
}

.set-to-do__time {
  .fauxdio { margin: 0; }
}

.set-to-do__time__opts {
  display: none;
  margin-left: 3px;
}


// Log call modifier - wrapped in modal
.set-to-do--modal {
  .set-to-do__body {
    padding: @modal-inner-padding;
  }
}

// Log call modifier - wrapped in small modal
.set-to-do--modal-sm {
  /*.set-to-do__checkbox {
    float: left;
    width: 48%;
    &+.set-to-do__checkbox {
      padding-left: 0;
    }
  }*/
  
}







