// File: tables.less
// Note: Extends Bootstrap tables.less

// Table
// -------------------------

.table {
  background-color: @white;
  // Cells
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th {
        text-transform: uppercase;
        font-size: 12px;
      }
      > th,
      > td {
        vertical-align: middle; // override BS vertical-align top
      }
    }
  }
}

// Sortable tables
// -------------------------

.sortable {
  cursor: pointer;
  &:hover { background-color: @gray-lightest; };
  &.is-sorting {
    background-color: @gray-lighter;
    &:after {
      content: "";
      .caret;
    }
    &.descending:after {
      content: "";
      .caret-up;
    }
  }
}



// Table backgrounds
// -------------------------

.table-row-variant(selected; @state-warning-bg); // add "selected" class



