// File: type.less
// Note: Extends Bootstrap type.less


// Body text
// -------------------------

.lead {
  font-weight: 300;
}


// Emphasis & misc
// -------------------------

// Contextual colors
.text-attention {
  .text-emphasis-variant(@brand-attention);
}

// Contextual backgrounds
.bg-attention {
  .bg-variant(@brand-attention);
  color: #fff;
}


// Headings
// -------------------------

h1 { letter-spacing: -1px; }