// File: type.less
// Note: Extends Bootstrap type.less


// Body text
// -------------------------

.lead {
  font-weight: 300;
}


// Emphasis & misc
// -------------------------


// Contextual backgrounds
.bg-attention {
  .bg-variant(@brand-attention);
  color: #fff;
}

// Contextual colors
.text-attention {
  .text-emphasis-variant(@brand-attention);
}

// Ex: 14px base font * 75% = about 11px
.xsmall  { font-size: 75%; }


// Headings
// -------------------------

h1 { letter-spacing: -1px; }


// Page Header
// -------------------------

.page-header { margin-top: 0; }