// File: variables.less
// Note: Extends Bootstrap variables.less

// -------------------------
// Buttons
// -------------------------

@btn-default-color:           @gray-dark;
@btn-attention-color:     		@white;
@btn-attention-bg:        		@brand-attention;

// -------------------------
// Colors
// -------------------------

@boomtown-blue:							#1581e2;
@boomtown-orange:						#f68a24;

@gray-darker:           		#444444;
@gray-dark:             		#696969;
@gray:                  		#848484;
@gray-light:            		#cccccc;
@gray-lighter:          		#ececec;
@gray-lightest:          		lighten(@gray-lighter,4%);

@brand-primary:         		@boomtown-blue;
@brand-attention: 					@boomtown-orange;
@brand-success:         		#669900;
@brand-info:            		#5bc0de;
@brand-warning:         		#ffcc33;
@brand-danger:          		#cb2027;

@white:											#fff;
@black: 										#000;


// -------------------------
// Components
// -------------------------

@padding-xs-horizontal:     	6px; // override bootstrap


// -------------------------
// Callouts
// -------------------------

@callout-link-font-weight:		600;

@callout-success-bg:					lighten(@state-success-bg,5%);
@callout-success-color:				@brand-success;
@callout-success-txt:					@gray-darker;

@callout-info-bg:							lighten(@state-info-bg,6%);
@callout-info-color:					@brand-info;
@callout-info-txt:						@gray-darker;

@callout-warning-bg:					@state-warning-bg;
@callout-warning-color:				@brand-warning;
@callout-warning-txt:					@gray-darker;

@callout-danger-bg:						lighten(@state-danger-bg,5%);
@callout-danger-color:				@brand-danger;
@callout-danger-txt:					@gray-darker;

@callout-attention-bg:				lighten(@state-attention-bg,5%);
@callout-attention-color:			@brand-attention;
@callout-attention-txt:				@gray-darker;


// -------------------------
// Cards
// -------------------------

@card-border-radius:     		@border-radius-small;
@card-image-padding:				75%;


// -------------------------
// Grid
// -------------------------

@grid-gutter-width-condensed:   14px;
@grid-gutter-width-xcondensed:  6px;


// -------------------------
// Form States & Alerts
// -------------------------

@state-attention-text:      #31708f;
@state-attention-bg:        lighten(@brand-attention,30%);
@state-attention-border:    @brand-attention;
@btn-attention-border:    	darken(@btn-attention-bg, 5%);


// -------------------------
// Labels
// -------------------------

@label-attention-bg:				@brand-attention;

// Lead Category Labels
@label-archive-bg:					@gray-light;
@label-closed-bg:       		#a4c16b; // light green
@label-hot-bg:          		@brand-attention;
@label-new-bg:          		@brand-warning; // yellow
@label-nurture-bg:      		@brand-primary;
@label-pending-bg:      		#a9c49b; // mint
@label-qualify-bg:      		@brand-success; // dark green
@label-trash-bg:        		@gray;
@label-watch-bg:						darken(@brand-warning,15%);


// -------------------------
// Navs
// -------------------------

//== Tabs
@nav-tabs-border-color:                     		@gray-light;

@nav-tabs-link-hover-border-color:          		@gray-light;

@nav-tabs-active-link-hover-bg:             		@body-bg;
@nav-tabs-active-link-hover-color:          		@brand-attention;
@nav-tabs-active-link-hover-border-color:   		@gray-light;

@nav-tabs-justified-link-border-color:          @gray-light;
@nav-tabs-justified-active-link-border-color:   @body-bg;

@nav-tabs-active-link-hover-border-color-top:		@brand-attention;


// -------------------------
// Popovers
// -------------------------

@popover-title-bg:					transparent;


// -------------------------
// Sashes
// -------------------------

@sash-back-color:						@brand-info;
@sash-new-color:						@brand-warning;
@sash-off-color:						@gray-dark;
@sash-reduced-color:				@brand-success;


// -------------------------
// Scaffolding
// -------------------------

@text-color:            		@gray-darker;


// -------------------------
// Scores
// -------------------------

@score-width-base: 					36px;
@score-width-large: 				48px;
@score-width-small: 				32px;
@score-width-xs: 						24px;

@score-bg-base:							@white;
@score-bg-excellent:    		@brand-success;
@score-bg-good:							@brand-warning;
@score-bg-average:					@gray-light;

@score-border-base:				  @gray-light;
@score-border-excellent:    @brand-success;
@score-border-good:					@brand-warning;
@score-border-average:			@gray-light;

@score-color-base:    			@gray-light;
@score-color-invert:    		@white;


// -------------------------
// Tooltip
// -------------------------

@tooltip-bg:								@gray; // override bootstrap


// -------------------------
// Typography
// -------------------------

@font-family-sans-serif:	 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif; // override bootstrap

@headings-font-weight:    	600; // override bootstrap






