// File: variables.less


@text-color:            @gray-darker;

// -------------------------
// Colors
// -------------------------

@bt-blue:										#1581e2;
@bt-orange:									#f68a24;

@gray-darker:           		#444444;
@gray-dark:             		#696969;
@gray:                  		#848484;
@gray-light:            		#b4b4b4;
@gray-lighter:          		#ececec;
@gray-lightest:          		lighten(@gray-lighter,5%);

@brand-primary:         		@bt-blue;
@brand-attention: 					@bt-orange;
@brand-success:         		#669900;
@brand-info:            		#5bc0de;
@brand-warning:         		#e5ac00;
@brand-danger:          		#ef5959;

@white:											#ffffff;


// -------------------------
// Buttons
// -------------------------

@btn-attention-color:     	#fff;
@btn-attention-bg:        	@brand-attention;
@btn-attention-border:    	darken(@btn-attention-bg, 5%);


// -------------------------
// Labels
// -------------------------

@label-attention-bg:				@brand-attention;

// Lead Category Labels
@label-archive-bg:					@gray-light;
@label-closed-bg:       		#a4c16b; // light green
@label-hot-bg:          		@brand-attention;
@label-new-bg:          		@brand-warning; // yellow
@label-nurture-bg:      		@brand-primary;
@label-pending-bg:      		#a9c49b; // mint
@label-qualify-bg:      		@brand-success; // dark green
@label-trash-bg:        		@gray;
@label-watch-bg:						darken(@brand-warning,15%);


// -------------------------
// Typography
// -------------------------

@font-family-sans-serif:	 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif;

@headings-font-weight:    	600; // Open Sans Semi-Bold


// -------------------------
// Form States & Alerts
// -------------------------

@state-attention-text:                #31708f;
@state-attention-bg:                  lighten(@brand-attention,40%);
@state-attention-border:              @brand-attention;




