<!-- ================================== Alerts ================================== -->


<div class="pl-docs-section">
  <h1 id="alerts" class="page-header">Alerts</h1>

  <p class="lead">Provide contextual feedback messages for typical user actions with the handful of available and flexible alert messages. For inline dismissal, use the <a href="../javascript/#alerts">alerts jQuery plugin</a>.</p>

  <h2 id="alerts-examples">Examples</h2>
  <p>Wrap any text and an optional dismiss button in <code>.alert</code> and one of the four contextual classes (e.g., <code>.alert-success</code>) for basic alert messages.</p>

  <div class="callout callout-info">
    <h4>No default class</h4>
    <p>Alerts don't have default classes, only base and modifier classes. A default gray alert doesn't make too much sense, so you're required to specify a type via contextual class. Choose from success, info, warning, or danger.</p>
  </div>

  <div class="pl-example">
    <div class="alert alert-success">
      <strong>Well done!</strong> You successfully read this important alert message.
    </div>
    <div class="alert alert-info">
      <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
    </div>
    <div class="alert alert-warning">
      <strong>Warning!</strong> Better check yourself, you're not looking too good.
    </div>
    <div class="alert alert-danger">
      <strong>Oh snap!</strong> Change a few things up and try submitting again.
    </div>
  </div>
<div class="pl-code"><pre><code class="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;alert alert-success&quot;</span><span class="nt">&gt;</span>...<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;alert alert-info&quot;</span><span class="nt">&gt;</span>...<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;alert alert-warning&quot;</span><span class="nt">&gt;</span>...<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;alert alert-danger&quot;</span><span class="nt">&gt;</span>...<span class="nt">&lt;/div&gt;</span>
</code></pre></div>

  <h2 id="alerts-dismissable">Dismissable alerts</h2>
  <p>Build on any alert by adding an optional <code>.alert-dismissable</code> and close button.</p>
  <div class="pl-example">
    <div class="alert alert-warning alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>Warning!</strong> Better check yourself, you're not looking too good.
    </div>
  </div>
<div class="pl-code"><pre><code class="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;alert alert-warning alert-dismissable&quot;</span><span class="nt">&gt;</span>
  <span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">&quot;button&quot;</span> <span class="na">class=</span><span class="s">&quot;close&quot;</span> <span class="na">data-dismiss=</span><span class="s">&quot;alert&quot;</span> <span class="na">aria-hidden=</span><span class="s">&quot;true&quot;</span><span class="nt">&gt;</span><span class="ni">&amp;times;</span><span class="nt">&lt;/button&gt;</span>
  <span class="nt">&lt;strong&gt;</span>Warning!<span class="nt">&lt;/strong&gt;</span> Better check yourself, you&#39;re not looking too good.
<span class="nt">&lt;/div&gt;</span>
</code></pre></div>

  <div class="callout callout-warning">
    <h4>Ensure proper behavior across all devices</h4>
    <p>Be sure to use the <code>&lt;button&gt;</code> element with the <code>data-dismiss="alert"</code> data attribute.</p>
  </div>

  <h2 id="alerts-links">Links in alerts</h2>
  <p>Use the <code>.alert-link</code> utility class to quickly provide matching colored links within any alert.</p>
  <div class="pl-example">
    <div class="alert alert-success">
      <strong>Well done!</strong> You successfully read <a href="#" class="alert-link">this important alert message</a>.
    </div>
    <div class="alert alert-info">
      <strong>Heads up!</strong> This <a href="#" class="alert-link">alert needs your attention</a>, but it's not super important.
    </div>
    <div class="alert alert-warning">
      <strong>Warning!</strong> Better check yourself, you're <a href="#" class="alert-link">not looking too good</a>.
    </div>
    <div class="alert alert-danger">
      <strong>Oh snap!</strong> <a href="#" class="alert-link">Change a few things up</a> and try submitting again.
    </div>
  </div>
<div class="pl-code"><pre><code class="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;alert alert-success&quot;</span><span class="nt">&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">&quot;#&quot;</span> <span class="na">class=</span><span class="s">&quot;alert-link&quot;</span><span class="nt">&gt;</span>...<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;alert alert-info&quot;</span><span class="nt">&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">&quot;#&quot;</span> <span class="na">class=</span><span class="s">&quot;alert-link&quot;</span><span class="nt">&gt;</span>...<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;alert alert-warning&quot;</span><span class="nt">&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">&quot;#&quot;</span> <span class="na">class=</span><span class="s">&quot;alert-link&quot;</span><span class="nt">&gt;</span>...<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;alert alert-danger&quot;</span><span class="nt">&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">&quot;#&quot;</span> <span class="na">class=</span><span class="s">&quot;alert-link&quot;</span><span class="nt">&gt;</span>...<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</code></pre></div>

  
  <h1 id="ui-alerts" class="page-header">UI Alerts</h1>

  <p class="lead">UI Alerts are a new kind of alert.  Typically these alerts are page level alerts that provide a contextual color and icon.  Currently, these alerts are configured via the UI Alerts Javascript module in LMS.</p>


  <h2 id="ui-alert-info">Configuration</h2>
  <ul>
    <li>UI Alerts can be dismissable, automatically dismissed after a timeout, or not dismissable.</li>
    <li>The color of the icon is specified by the alert type supplied, and the icon is specified by the alert supplied.</li>
    <li>The contents of a UI Alert can be a string, or a full fledged React component for complex HTML.</li>
  </ul>

  <div class="pl-example">
    <div class='ui-alert'>
        <div class='ui-alert__icon-wrapper alert-info'>
            <span class='ui-alert__icon ficon ficon-tag'></span>
        </div>
        <div class='ui-alert__body'>
            <i class='close ui-alert__close ficon ficon-cross'></i>
            <span>Your tags have been updated.</span>
        </div>
    </div>
    <div class='ui-alert'>
        <div class='ui-alert__icon-wrapper alert-warning'>
            <span class='ui-alert__icon ficon ficon-cog'></span>
        </div>
        <div class='ui-alert__body'>
          <span>
            <strong>
              System Message:&nbsp;<a href="http://www.google.com" title="Test">Click me!</a>&nbsp;Testing to you!&nbsp;
            </strong>
            I'm not bold.
          </span>
        </div>
    </div>
    <div class='ui-alert'>
        <div class='ui-alert__icon-wrapper alert-success'>
            <span class='ui-alert__icon ficon ficon-user'></span>
        </div>
        <div class='ui-alert__body'>
            <i class='close ui-alert__close ficon ficon-cross'></i>
            <span>Bouncer settings saved.</span>
        </div>
    </div>
  </div>

  <div class="pl-code">
    <pre>
      <code class="javascript">
// AlertActions is `require`'d in via CommonJS modules
AlertActions.addAlert({
  dismissible: true,
  icon: 'tag',
  content: 'Your tags have been updated.',
  autoDismiss: true,
  autoDismissTime: 3000
});

// AlertActions is used on a global
var message = '&lt;strong&gt;System Message:&amp;nbsp;&lt;a href=&quot;http://www.google.com&quot; title=&quot;Test&quot;&gt;Click me!&lt;/a&gt;&amp;nbsp;Testing to you!&amp;nbsp;&lt;/strong&gt;I&#39;m not bold.';
window.ReactComponents.AlertActions.addAlert({
  dismissible: false,
  icon: 'cog',
  type: 'warning',
  content: window.React.createElement('span', {
    dangerouslySetInnerHTML: { __html: result.message }
  }),
  autoDismiss: false
});

// AlertActions is `require`'d in via CommonJS modules
AlertActions.addAlert({
  dismissible: true,
  icon: 'user',
  type: 'success',
  content: 'Bouncer settings saved.',
  autoDismiss: false
});
      </code>
    </pre>
  </div>

  <div class="callout callout-info">
    <h4>No set width.</h4>
    <p>UI Alerts do not have a specific width and will grow to their container.</p>
  </div>


</div>

