<!-- ================================== Animals ================================== -->

<div class="pl-docs-section">
  <h1 id="animals" class="page-header">Animals</h1>

  <p class="lead">Animals are cute icons we use on error messages. They are not cudly.</p>

  <div class="pl-example">
    <span class="animal animal-fox"></span>
    <span class="animal animal-chicken"></span>
    <span class="animal animal-giraffe"></span>
    <span class="animal animal-cow"></span>
    <span class="animal animal-bear"></span>
    <span class="animal animal-monkey"></span>
    <span class="animal animal-deer"></span>
    <span class="animal animal-duck"></span>
    <span class="animal animal-kangaroo"></span>
    <span class="animal animal-elephant"></span>
    <span class="animal animal-bunny"></span>
    <span class="animal animal-pig"></span>
    <span class="animal animal-duckling"></span>
    <span class="animal animal-dog"></span>
    <span class="animal animal-hippo"></span>
    <span class="animal animal-cat"></span>
  </div><!-- /example -->
  <div class="pl-code"><pre class="prettyprint"><code>

  </code></pre></div>
</div>