<!-- ================================== Cards ================================== -->

<div class="pl-docs-section">
  <h1 id="cards" class="page-header">Cards</h1>
  <p class="lead">Cards are modular components for property listings.</p>
  <div class="pl-example">
    <div class="card">
    	<div class="sash sash-reduced"><i class="ficon ficon-arrow-down"></i> $35,000 (10%) <span class="sash-time">10 mins ago</span></div>
    	<img src="images/fpo-carousel-1.jpg">
    	<div class="card-info">
	    	<div class="row">
	    		<div class="col-md-7">
	    			<p class="card-info-street"><a href="" target="_blank">227 Palmetto Bluff bluff bluff bluff</a></p>
	    		</div>
	    		<div class="col-md-5 text-right">
	    			<p>$1999</p>
	    		</div>
	    	</div>
	    </div> <!-- /card-info -->
    </div> <!-- /card -->
  </div>
  

</div>