<!-- ================================== Cards ================================== -->

<!-- Cards (Boomstrap Custom) -->
<div class="pl-docs-section">
  <h1 id="cards" class="page-header">Cards</h1>
  <p class="lead">Cards are modular components for property listings.</p>

  <h3>Default card</h3>
  <p>The default listing card has a max-width of 320px. When used in a fluid grid, be aware that the card's layout begins to break down below a width of 250px.</p>
  <div class="pl-example">
    <div class="card">
      <div class="sash sash-reduced"><i class="ficon ficon-arrow-down"></i> $35,000 (&lt;1%) <span class="sash-time">10 mins ago</span></div>
      <div class="card-photo">
        <div class="card-photo-inner">
          <img class="card-img" src="images/fpo-carousel-1.jpg">
        </div>
      </div>
      <div class="card-container card-intro">
        <p class="card-priority card-price">$1,250,000</p>
        <p class="card-priority card-street"><a href="" target="_blank">227 Palmetto Islands Trail</a></p>
        <div class="row row-xcondensed">
          <div class="col-xs-7">
            <p class="small">Mount Pleasant, SC</p>
            <p class="small">Grassy Creek</p>
          </div>
          <div class="col-xs-5 text-right">
            <p class="small">$250/SQFT</p>
          </div>
        </div>
      </div> <!-- /card-container -->
      <div class="card-stats">
        <span class="card-stat">3 Beds</span>
        <span class="card-stat">3 Baths</span>
        <span class="card-stat">2800 sqft</span>
        <span class="card-stat">0.35 Acres</span>
      </div>
    </div> <!-- /card -->
  </div>
  <div class="pl-code"><pre class="prettyprint"><code>&lt;div class="card"&gt;
  &lt;div class="sash sash-reduced"&gt;&lt;i class="ficon ficon-arrow-down"&gt;&lt;/i&gt; $35,000 (&lt;1%) &lt;span class="sash-time"&gt;10 mins ago&lt;/span&gt;&lt;/div&gt;
  &lt;div class="card-photo"&gt;
    &lt;div class="card-photo-inner"&gt;
      &lt;img class="card-img" src="images/fpo-carousel-1.jpg"&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="card-container card-intro"&gt;
    &lt;p class="card-priority card-price"&gt;$1,250,000&lt;/p&gt;
    &lt;p class="card-priority card-street"&gt;&lt;a href="" target="_blank"&gt;227 Palmetto Islands Trail&lt;/a&gt;&lt;/p&gt;
    &lt;div class="row row-xcondensed"&gt;
      &lt;div class="col-xs-7"&gt;
        &lt;p class="small"&gt;Mount Pleasant, SC&lt;/p&gt;
        &lt;p class="small"&gt;Grassy Creek&lt;/p&gt;
      &lt;/div&gt;
      &lt;div class="col-xs-5 text-right"&gt;
        &lt;p class="small"&gt;$250/SQFT&lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt; &lt;!-- /card-container --&gt;
  &lt;div class="card-stats"&gt;
    &lt;span class="card-stat"&gt;3 Beds&lt;/span&gt;
    &lt;span class="card-stat"&gt;3 Baths&lt;/span&gt;
    &lt;span class="card-stat"&gt;2800 sqft&lt;/span&gt;
    &lt;span class="card-stat"&gt;0.35 Acres&lt;/span&gt;
  &lt;/div&gt;
&lt;/div&gt; &lt;!-- /card --&gt;</code></pre></div>

  <h3>Default card variations</h3>
  <p>These are some common variations of the default card.</p>
  <div class="pl-example pl-cards">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="sash sash-reduced"><i class="ficon ficon-arrow-down"></i> $35,000 (&lt;1%) <span class="sash-time">10 mins ago</span></div>
          <div class="card-photo">
            <div class="card-photo-inner">
              <img class="card-img" src="images/fpo-carousel-1.jpg">
            </div>
          </div>
          <div class="card-container card-intro">
            <p class="card-priority card-price">$1,250,000</p>
            <p class="card-priority card-street"><a href="" target="_blank">227 Palmetto Islands Trail</a></p>
            <div class="row row-xcondensed">
              <div class="col-xs-7">
                <p class="small">Mount Pleasant, SC</p>
                <p class="small">Grassy Creek</p>
              </div>
              <div class="col-xs-5 text-right">
                <p class="small">$250/SQFT</p>
              </div>
            </div>
          </div> <!-- /card-container -->
          <div class="card-stats">
            <span class="card-stat">3 Beds</span>
            <span class="card-stat">3 Baths</span>
            <span class="card-stat">2800 sqft</span>
            <span class="card-stat">0.35 Acres</span>
          </div>
          <div class="card-container">
            <div class="row row-xcondensed">
              <div class="col-sm-6">
                <button class="btn btn-default btn-block btn-sm"><i class="ficon ficon-star"></i> 1220 Best-Fit</button>
              </div>
              <div class="col-sm-6">
                <button class="btn btn-default btn-block btn-sm"><i class="ficon ficon-heart"></i> 11 Favs</button>
              </div>
            </div>
          </div> <!-- /card-container -->
          <div class="card-toggle collapsed" data-toggle="collapse" data-target="#card1">
              <span class="card-toggle-more"><i class="ficon ficon-chevron-down"></i> More Detail</span>
              <span class="card-toggle-less"><i class="ficon ficon-chevron-up"></i> Less Detail</span>
          </div>
          <div id="card1" class="card-detail collapse">
            <div class="card-container">
              <div class="row row-xcondensed">
                <div class="col-xs-6">
                  <p class="small"><strong>MLS#:</strong> <a href="" target="_blank">1324961</a></p>
                </div>
                <div class="col-xs-6 text-right">
                  <p class="small"><strong>LISTED:</strong> 4 days ago</p>
                </div>
              </div>
              <p class="small"><strong>TYPE:</strong> Single-Family Home</p>
            </div> <!-- /card-container -->
            <p class="card-title">Price History</p>
            <div class="card-container card-price-history">
              <div class="row row-xcondensed">
                <div class="col-xs-3">
                  <p class="small">5 hrs ago</p>
                </div>
                <div class="col-xs-5 col-xs-offset-1">
                  <p class="small card-price-history-change"><i class="ficon ficon-arrow-down"></i> -$500,000 (10%)</p>
                </div>
                <div class="col-xs-3 text-right">
                  <p class="small">$350,000</p>
                </div>
              </div>
              <div class="row row-xcondensed">
                <div class="col-xs-3">
                  <p class="small">6 hrs ago</p>
                </div>
                <div class="col-xs-5 col-xs-offset-1">
                  <p class="small card-price-history-change"><i class="ficon ficon-arrow-down"></i> -$90,000 (12%)</p>
                </div>
                <div class="col-xs-3 text-right">
                  <p class="small">$450,000</p>
                </div>
              </div>
            </div> <!-- /card-price-history -->
            <div class="card-container">
              <div class="row row-xcondensed">
                <div class="col-sm-6">
                  <button class="btn btn-default btn-sm btn-block"><i class="ficon ficon-location"></i> Map View</button>
                </div>
                <div class="col-sm-6">
                  <button class="btn btn-default btn-sm btn-block">Full Details <i class="ficon ficon-arrow-bend-right"></i> </button>
                </div>
              </div>
            </div> <!-- /card-container -->
          </div> <!-- /card-detail -->
        </div> <!-- /card -->
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="sash sash-back">Back <span class="sash-time">2 days ago</span></div>
          <div class="card-photo">
            <div class="card-photo-inner">
              <img class="card-img" src="images/fpo-carousel-2.jpg">
            </div>
          </div>
          <div class="card-container card-intro">
            <p class="card-priority card-price">$1,250,000</p>
            <p class="card-priority card-street"><a href="" target="_blank">227 Palmetto Islands Trail</a></p>
            <div class="row row-xcondensed">
              <div class="col-xs-7">
                <p class="small">Mount Pleasant, SC</p>
                <p class="small">Grassy Creek</p>
              </div>
              <div class="col-xs-5 text-right">
                <p class="small">$250/SQFT</p>
              </div>
            </div>
          </div> <!-- /card-container -->
          <div class="card-stats">
            <span class="card-stat">3 Beds</span>
            <span class="card-stat">3 Baths</span>
            <span class="card-stat">2800 sqft</span>
            <span class="card-stat">0.35 Acres</span>
          </div>
          <div class="card-container">
            <div class="row row-xcondensed">
              <div class="col-sm-6">
                <button class="btn btn-default btn-block btn-sm"><i class="ficon ficon-star"></i> 20 Best-Fit</button>
              </div>
              <div class="col-sm-6">
                <button class="btn btn-default btn-block btn-sm disabled"><i class="ficon ficon-heart"></i> 0 Favs</button>
              </div>
            </div>
          </div> <!-- /card-container -->
          <div class="card-toggle collapsed" data-toggle="collapse" data-target="#card2">
            <span class="card-toggle-more"><i class="ficon ficon-chevron-down"></i> More Detail</span>
            <span class="card-toggle-less"><i class="ficon ficon-chevron-up"></i> Less Detail</span>
          </div>
          <div id="card2" class="card-detail collapse">
              <div class="card-container">
                <div class="row row-xcondensed">
                  <div class="col-xs-6">
                    <p class="small"><strong>MLS#:</strong> <a href="" target="_blank">1324961</a></p>
                  </div>
                  <div class="col-xs-6 text-right">
                    <p class="small"><strong>LISTED:</strong> 4 days ago</p>
                  </div>
                </div>
                <p class="small"><strong>TYPE:</strong> Single-Family Home</p>
              </div> <!-- /card-container -->
              <p class="card-title">Price History</p>
              <div class="card-container card-price-history">
                <div class="row row-xcondensed">
                  <div class="col-xs-3">
                    <p class="small">5 hrs ago</p>
                  </div>
                  <div class="col-xs-5 col-xs-offset-1">
                    <p class="small card-price-history-change"><i class="ficon ficon-arrow-down"></i> -$500,000 (10%)</p>
                  </div>
                  <div class="col-xs-3 text-right">
                    <p class="small">$350,000</p>
                  </div>
                </div>
                <div class="row row-xcondensed">
                  <div class="col-xs-3">
                    <p class="small">6 hrs ago</p>
                  </div>
                  <div class="col-xs-5 col-xs-offset-1">
                    <p class="small card-price-history-change"><i class="ficon ficon-arrow-down"></i> -$90,000 (12%)</p>
                  </div>
                  <div class="col-xs-3 text-right">
                    <p class="small">$450,000</p>
                  </div>
                </div>
              </div> <!-- /card-price-history -->
              <div class="card-container">
                <div class="row row-xcondensed">
                  <div class="col-sm-6">
                    <button class="btn btn-default btn-sm btn-block"><i class="ficon ficon-location"></i> Map View</button>
                  </div>
                  <div class="col-sm-6">
                    <button class="btn btn-default btn-sm btn-block">Full Details <i class="ficon ficon-arrow-bend-right"></i> </button>
                  </div>
                </div>
              </div> <!-- /card-container -->
            </div> <!-- /card-detail -->
        </div> <!-- /card -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="sash sash-new">New <span class="sash-time">2 hours ago</span></div>
          <div class="card-photo">
            <div class="card-photo-inner">
              <img class="card-img" src="images/fpo-carousel-3.jpg">
            </div>
          </div>
          <div class="card-container card-intro">
            <p class="card-priority card-price">$1,250,000</p>
            <p class="card-priority card-street"><a href="" target="_blank">227 Palmetto Islands Trail</a></p>
            <div class="row row-xcondensed">
              <div class="col-xs-7">
                <p class="small">Mount Pleasant, SC</p>
                <p class="small">Grassy Creek</p>
              </div>
              <div class="col-xs-5 text-right">
                <p class="small">$250/SQFT</p>
              </div>
            </div>
          </div> <!-- /card-container -->
          <div class="card-stats">
            <span class="card-stat">3 Beds</span>
            <span class="card-stat">3 Baths</span>
            <span class="card-stat">2800 sqft</span>
            <span class="card-stat">0.35 Acres</span>
          </div>
          <div class="card-container">
            <div class="row row-xcondensed">
              <div class="col-sm-6">
                <button class="btn btn-default btn-sm btn-block"><i class="ficon ficon-star"></i> 300 Best-Fit</button>
              </div>
              <div class="col-sm-6">
                <button class="btn btn-default btn-sm btn-block"><i class="ficon ficon-heart"></i> 6 Favs</button>
              </div>
            </div>
          </div> <!-- /card-container -->
          <div class="card-toggle collapsed" data-toggle="collapse" data-target="#card3">
            <span class="card-toggle-more"><i class="ficon ficon-chevron-down"></i> More Detail</span>
            <span class="card-toggle-less"><i class="ficon ficon-chevron-up"></i> Less Detail</span>
          </div>
          <div id="card3" class="card-detail collapse">
              <div class="card-container">
                <div class="row row-xcondensed">
                  <div class="col-xs-6">
                    <p class="small"><strong>MLS#:</strong> <a href="" target="_blank">1324961</a></p>
                  </div>
                  <div class="col-xs-6 text-right">
                    <p class="small"><strong>LISTED:</strong> 4 days ago</p>
                  </div>
                </div>
                <p class="small"><strong>TYPE:</strong> Single-Family Home</p>
              </div> <!-- /card-container -->
              <p class="card-title">Price History</p>
              <div class="card-container card-price-history">
                <div class="row row-xcondensed">
                  <div class="col-xs-3">
                    <p class="small">5 hrs ago</p>
                  </div>
                  <div class="col-xs-5 col-xs-offset-1">
                    <p class="small card-price-history-change"><i class="ficon ficon-arrow-down"></i> -$500,000 (10%)</p>
                  </div>
                  <div class="col-xs-3 text-right">
                    <p class="small">$350,000</p>
                  </div>
                </div>
                <div class="row row-xcondensed">
                  <div class="col-xs-3">
                    <p class="small">6 hrs ago</p>
                  </div>
                  <div class="col-xs-5 col-xs-offset-1">
                    <p class="small card-price-history-change"><i class="ficon ficon-arrow-down"></i> -$90,000 (12%)</p>
                  </div>
                  <div class="col-xs-3 text-right">
                    <p class="small">$450,000</p>
                  </div>
                </div>
              </div> <!-- /card-price-history -->
              <div class="card-container">
                <div class="row row-xcondensed">
                  <div class="col-sm-6">
                    <button class="btn btn-default btn-sm btn-block"><i class="ficon ficon-location"></i> Map View</button>
                  </div>
                  <div class="col-sm-6">
                    <button class="btn btn-default btn-sm btn-block">Full Details <i class="ficon ficon-arrow-bend-right"></i> </button>
                  </div>
                </div>
              </div> <!-- /card-container -->
            </div> <!-- /card-detail -->
        </div> <!-- /card -->
      </div> <!-- /column -->
      <div class="col-sm-6">
        <div class="card">
          <div class="sash sash-off">Off <span class="sash-time">22 days ago</span></div>
          <div id="carousel-example-card" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="item active">
                <img src="images/fpo-carousel-1.jpg" alt="First slide">
              </div>
              <div class="item">
                <img src="images/fpo-carousel-2.jpg" alt="Second slide">
              </div>
              <div class="item">
                <img src="images/fpo-carousel-3.jpg" alt="Third slide">
              </div>
            </div>
            <a class="left carousel-control" href="#carousel-example-card" data-slide="prev">
              <span class="ficon ficon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-card" data-slide="next">
              <span class="ficon ficon-chevron-right"></span>
            </a>
          </div>
          <div class="card-container card-intro">
            <p class="card-priority card-price">$1,250,000</p>
            <p class="card-priority card-street"><a href="" target="_blank">227 Palmetto Islands Trail</a></p>
            <div class="row row-xcondensed">
              <div class="col-xs-7">
                <p class="small">Mount Pleasant, SC</p>
                <p class="small">Grassy Creek</p>
              </div>
              <div class="col-xs-5 text-right">
                <p class="small">$250/SQFT</p>
              </div>
            </div>
          </div> <!-- /card-container -->
          <div class="card-stats">
            <span class="card-stat">3 Beds</span>
            <span class="card-stat">3 Baths</span>
            <span class="card-stat">2800 sqft</span>
            <span class="card-stat">0.35 Acres</span>
          </div>
          <div class="card-container">
            <div class="row row-xcondensed">
              <div class="col-sm-6">
                <button class="btn btn-default btn-block btn-sm"><i class="ficon ficon-star"></i> 1220 Best-Fit</button>
              </div>
              <div class="col-sm-6">
                <button class="btn btn-default btn-block btn-sm"><i class="ficon ficon-heart"></i> 11 Favs</button>
              </div>
            </div>
          </div> <!-- /card-container -->
          <div class="card-toggle collapsed" data-toggle="collapse" data-target="#card4">
              <span class="card-toggle-more"><i class="ficon ficon-chevron-down"></i> More Detail</span>
              <span class="card-toggle-less"><i class="ficon ficon-chevron-up"></i> Less Detail</span>
          </div>
          <div id="card4" class="card-detail collapse">
            <div class="card-container">
              <div class="row row-xcondensed">
                <div class="col-xs-6">
                  <p class="small"><strong>MLS#:</strong> <a href="" target="_blank">1324961</a></p>
                </div>
                <div class="col-xs-6 text-right">
                  <p class="small"><strong>LISTED:</strong> 4 days ago</p>
                </div>
              </div>
              <p class="small"><strong>TYPE:</strong> Single-Family Home</p>
            </div> <!-- /card-container -->
            <p class="card-title">Price History</p>
            <div class="card-container card-price-history">
              <div class="row row-xcondensed">
                <div class="col-xs-3">
                  <p class="small">5 hrs ago</p>
                </div>
                <div class="col-xs-5 col-xs-offset-1">
                  <p class="small card-price-history-change"><i class="ficon ficon-arrow-down"></i> -$500,000 (10%)</p>
                </div>
                <div class="col-xs-3 text-right">
                  <p class="small">$350,000</p>
                </div>
              </div>
              <div class="row row-xcondensed">
                <div class="col-xs-3">
                  <p class="small">6 hrs ago</p>
                </div>
                <div class="col-xs-5 col-xs-offset-1">
                  <p class="small card-price-history-change"><i class="ficon ficon-arrow-down"></i> -$90,000 (12%)</p>
                </div>
                <div class="col-xs-3 text-right">
                  <p class="small">$450,000</p>
                </div>
              </div>
            </div> <!-- /card-price-history -->
            <div class="card-container">
              <div class="row row-xcondensed">
                <div class="col-sm-6">
                  <button class="btn btn-default btn-sm btn-block"><i class="ficon ficon-location"></i> Map View</button>
                </div>
                <div class="col-sm-6">
                  <button class="btn btn-default btn-sm btn-block">Full Details <i class="ficon ficon-arrow-bend-right"></i> </button>
                </div>
              </div>
            </div> <!-- /card-container -->
          </div> <!-- /card-detail -->
        </div> <!-- /card -->
      </div> <!-- /column -->
    </div> <!-- /row -->
  </div> <!-- /pl-example -->
<div class="pl-code"><pre class="prettyprint"><code>&lt;div class="card"&gt;
  &lt;div class="sash sash-reduced"&gt;&lt;i class="ficon ficon-arrow-down"&gt;&lt;/i&gt; $35,000 (&lt;1%) &lt;span class="sash-time"&gt;10 mins ago&lt;/span&gt;&lt;/div&gt;
  &lt;!-- ///////////////////////////////////////////////// --&gt;
  &lt;!-- Optional: replace "card-photo" div with carousel  --&gt;
  &lt;!-- ///////////////////////////////////////////////// --&gt;
  &lt;div class="card-photo"&gt;
    &lt;div class="card-photo-inner"&gt;
      &lt;img class="card-img" src="images/fpo-carousel-1.jpg"&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;!-- ///////////////////////////////////////////////// --&gt;
  &lt;div class="card-container card-intro"&gt;
    &lt;p class="card-priority card-price"&gt;$1,250,000&lt;/p&gt;
    &lt;p class="card-priority card-street"&gt;&lt;a href="" target="_blank"&gt;227 Palmetto Islands Trail&lt;/a&gt;&lt;/p&gt;
    &lt;div class="row row-xcondensed"&gt;
      &lt;div class="col-xs-7"&gt;
        &lt;p class="small"&gt;Mount Pleasant, SC&lt;/p&gt;
        &lt;p class="small"&gt;Grassy Creek&lt;/p&gt;
      &lt;/div&gt;
      &lt;div class="col-xs-5 text-right"&gt;
        &lt;p class="small"&gt;$250/SQFT&lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt; &lt;!-- /card-container --&gt;
  &lt;div class="card-stats"&gt;
    &lt;span class="card-stat"&gt;3 Beds&lt;/span&gt;
    &lt;span class="card-stat"&gt;3 Baths&lt;/span&gt;
    &lt;span class="card-stat"&gt;2800 sqft&lt;/span&gt;
    &lt;span class="card-stat"&gt;0.35 Acres&lt;/span&gt;
  &lt;/div&gt;
  &lt;div class="card-container"&gt;
    &lt;div class="row row-xcondensed"&gt;
      &lt;div class="col-sm-6"&gt;
        &lt;button class="btn btn-default btn-block btn-sm"&gt;&lt;i class="ficon ficon-star"&gt;&lt;/i&gt; 1220 Best-Fit&lt;/button&gt;
      &lt;/div&gt;
      &lt;div class="col-sm-6"&gt;
        &lt;button class="btn btn-default btn-block btn-sm"&gt;&lt;i class="ficon ficon-heart"&gt;&lt;/i&gt; 11 Favs&lt;/button&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt; &lt;!-- /card-container --&gt;
  &lt;div class="card-toggle collapsed" data-toggle="collapse" data-target="#card1"&gt;
      &lt;span class="card-toggle-more"&gt;&lt;i class="ficon ficon-chevron-down"&gt;&lt;/i&gt; More Detail&lt;/span&gt;
      &lt;span class="card-toggle-less"&gt;&lt;i class="ficon ficon-chevron-up"&gt;&lt;/i&gt; Less Detail&lt;/span&gt;
  &lt;/div&gt;
  &lt;div id="card1" class="card-detail collapse"&gt;
    &lt;div class="card-container"&gt;
      &lt;div class="row row-xcondensed"&gt;
        &lt;div class="col-xs-6"&gt;
          &lt;p class="small"&gt;&lt;strong&gt;MLS#:&lt;/strong&gt; &lt;a href="" target="_blank"&gt;1324961&lt;/a&gt;&lt;/p&gt;
        &lt;/div&gt;
        &lt;div class="col-xs-6 text-right"&gt;
          &lt;p class="small"&gt;&lt;strong&gt;LISTED:&lt;/strong&gt; 4 days ago&lt;/p&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;p class="small"&gt;&lt;strong&gt;TYPE:&lt;/strong&gt; Single-Family Home&lt;/p&gt;
    &lt;/div&gt; &lt;!-- /card-container --&gt;
    &lt;p class="card-title"&gt;Price History&lt;/p&gt;
    &lt;div class="card-container card-price-history"&gt;
      &lt;div class="row row-xcondensed"&gt;
        &lt;div class="col-xs-3"&gt;
          &lt;p class="small"&gt;5 hrs ago&lt;/p&gt;
        &lt;/div&gt;
        &lt;div class="col-xs-6"&gt;
          &lt;p class="small card-price-history-change"&gt;&lt;i class="ficon ficon-arrow-down"&gt;&lt;/i&gt; -$500,000 (10%)&lt;/p&gt;
        &lt;/div&gt;
        &lt;div class="col-xs-3 text-right"&gt;
          &lt;p class="small"&gt;$350,000&lt;/p&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class="row row-xcondensed"&gt;
        &lt;div class="col-xs-3"&gt;
          &lt;p class="small"&gt;6 hrs ago&lt;/p&gt;
        &lt;/div&gt;
        &lt;div class="col-xs-5 col-xs-offset-1"&gt;
          &lt;p class="small card-price-history-change"&gt;&lt;i class="ficon ficon-arrow-down"&gt;&lt;/i&gt; -$90,000 (12%)&lt;/p&gt;
        &lt;/div&gt;
        &lt;div class="col-xs-3 text-right"&gt;
          &lt;p class="small"&gt;$450,000&lt;/p&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt; &lt;!-- /card-price-history --&gt;
    &lt;div class="card-container"&gt;
      &lt;div class="row row-xcondensed"&gt;
        &lt;div class="col-sm-6"&gt;
          &lt;button class="btn btn-default btn-sm btn-block"&gt;&lt;i class="ficon ficon-location"&gt;&lt;/i&gt; Map View&lt;/button&gt;
        &lt;/div&gt;
        &lt;div class="col-sm-6"&gt;
          &lt;button class="btn btn-default btn-sm btn-block"&gt;Full Details &lt;i class="ficon ficon-arrow-bend-right"&gt;&lt;/i&gt; &lt;/button&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt; &lt;!-- /card-container --&gt;
  &lt;/div&gt; &lt;!-- /card-detail --&gt;
&lt;/div&gt; &lt;!-- /card --&gt;</code></pre>
  </div>

  <div class="callout callout-info">
    <h4>Card Carousels</h4>
    <p>Including a carousel inside of the card is easy. Simply remove the <code>.card-photo</code> div and replace it with the carsousel code seen here - <a href="javascript.html#carousel" class="callout-link">javascript.html#carousel</a></p>
  </div>

  <h3>Small card</h3>
  <p>The small listing card has a min-width of 216px and a max width of 250px.</p>
  <div class="pl-example pl-cards">
    <div class="card card-sm">
      <div class="card-photo">
        <div class="card-photo-inner">
        <div class="sash sash-reduced"><i class="ficon ficon-arrow-down"></i> $35,000 (10%) <span class="sash-time">10 mins ago</span></div>
          <img class="card-img" src="images/fpo-carousel-3.jpg">
        </div>
      </div>
      <div class="card-sm-container">
        <div class="row row-xcondensed">
          <div class="col-xs-8">
            <p class="card-sm-priority card-sm-street"><a href="" target="_blank">227 Palmetto Islands Trail</a></p>
            <p class="xsmall">Mount Pleasant, SC</p>
            <p class="xsmall">Grassy Creek</p>
          </div>
          <div class="col-xs-4 text-right">
            <p class="card-sm-priority card-sm-price">$1,250,000</p>
            <p class="xsmall">$250/SQFT</p>
          </div>
        </div>
      </div>
      <div class="card-sm-stats">
        <span class="card-sm-stat">3 Beds</span>
        <span class="card-sm-stat">3 Baths</span>
        <span class="card-sm-stat">2800 sqft</span>
        <span class="card-sm-stat">0.35 Acres</span>
      </div>
    </div> <!-- /card small -->
  </div>

  <div class="pl-code"><pre class="prettyprint"><code>&lt;div class="card card-sm"&gt;
  &lt;div class="card-photo"&gt;
    &lt;div class="card-photo-inner"&gt;
    &lt;div class="sash sash-reduced"&gt;&lt;i class="ficon ficon-arrow-down"&gt;&lt;/i&gt; $35,000 (10%) &lt;span class="sash-time"&gt;10 mins ago&lt;/span&gt;&lt;/div&gt;
      &lt;img class="card-img" src="images/fpo-carousel-3.jpg"&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="card-sm-container"&gt;
    &lt;div class="row row-xcondensed"&gt;
      &lt;div class="col-xs-8"&gt;
        &lt;p class="card-sm-priority card-sm-street"&gt;&lt;a href="" target="_blank"&gt;227 Palmetto Islands Trail&lt;/a&gt;&lt;/p&gt;
        &lt;p class="xsmall"&gt;Mount Pleasant, SC&lt;/p&gt;
        &lt;p class="xsmall"&gt;Grassy Creek&lt;/p&gt;
      &lt;/div&gt;
      &lt;div class="col-xs-4 text-right"&gt;
        &lt;p class="card-sm-priority card-sm-price"&gt;$1,250,000&lt;/p&gt;
        &lt;p class="xsmall"&gt;$250/SQFT&lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="card-sm-stats"&gt;
    &lt;span class="card-sm-stat"&gt;3 Beds&lt;/span&gt;
    &lt;span class="card-sm-stat"&gt;3 Baths&lt;/span&gt;
    &lt;span class="card-sm-stat"&gt;2800 sqft&lt;/span&gt;
    &lt;span class="card-sm-stat"&gt;0.35 Acres&lt;/span&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
  </div>

  <h3>Small card variations</h3>
  <p>These are some common variations of the small card.</p>
  <div class="pl-example pl-cards">
    <div class="row">
      <div class="col-md-4">
        <div class="card card-sm">
          <div class="card-photo">
            <div class="card-photo-inner">
            <div class="sash sash-reduced"><i class="ficon ficon-arrow-down"></i> $35,000 (10%) <span class="sash-time">10 mins ago</span></div>
              <img class="card-img" src="images/fpo-carousel-3.jpg">
            </div>
          </div>
          <div class="card-sm-container">
            <div class="row row-xcondensed">
              <div class="col-xs-8">
                <p class="card-sm-priority card-sm-street"><a href="" target="_blank">227 Palmetto Islands Trail</a></p>
                <p class="xsmall">Mount Pleasant, SC</p>
                <p class="xsmall">Grassy Creek</p>
              </div>
              <div class="col-xs-4 text-right">
                <p class="card-sm-priority card-sm-price">$1,250,000</p>
                <p class="xsmall">$250/SQFT</p>
              </div>
            </div>
          </div>
          <div class="card-sm-stats">
            <span class="card-sm-stat">3 Beds</span>
            <span class="card-sm-stat">3 Baths</span>
            <span class="card-sm-stat">2800 sqft</span>
            <span class="card-sm-stat">0.35 Acres</span>
          </div>
          <div class="card-sm-container">
            <div class="row row-xcondensed">
              <div class="col-sm-6">
                <button class="btn btn-default btn-block btn-sm"><i class="ficon ficon-star"></i> 1220 Best-Fit</button>
              </div>
              <div class="col-sm-6">
                <button class="btn btn-default btn-block btn-sm"><i class="ficon ficon-heart"></i> 11 Favs</button>
              </div>
            </div>
          </div>
        </div> <!-- /card small -->
      </div>
      <div class="col-md-4">
        <div class="card card-sm">
          <div class="card-photo">
            <div class="card-photo-inner">
            <div class="sash sash-reduced"><i class="ficon ficon-arrow-down"></i> $35,000 (10%) <span class="sash-time">10 mins ago</span></div>
              <img class="card-img" src="images/fpo-carousel-3.jpg">
            </div>
          </div>
          <div class="card-sm-container">
            <div class="row row-xcondensed">
              <div class="col-xs-8">
                <p class="card-sm-priority card-sm-street"><a href="" target="_blank">227 Palmetto Islands Trail</a></p>
                <p class="xsmall">Mount Pleasant, SC</p>
                <p class="xsmall">Grassy Creek</p>
              </div>
              <div class="col-xs-4 text-right">
                <p class="card-sm-priority card-sm-price">$1,250,000</p>
                <p class="xsmall">$250/SQFT</p>
              </div>
            </div>
          </div>
          <div class="card-sm-stats">
            <span class="card-sm-stat">3 Beds</span>
            <span class="card-sm-stat">3 Baths</span>
            <span class="card-sm-stat">2800 sqft</span>
            <span class="card-sm-stat">0.35 Acres</span>
          </div>
          <div class="card-sm-container card-sm-activity">
            <span class="card-sm-activity-item"><i class="ficon ficon-heart"></i></span>
            <span class="card-sm-activity-item"><i class="ficon ficon-calculator"></i></span>
            <span class="card-sm-activity-item"><i class="ficon ficon-phone"></i></span>
            <span class="card-sm-activity-item"><i class="ficon ficon-printer"></i></span>
            <span class="card-sm-activity-item"><i class="ficon ficon-house"></i></span>
            <span class="card-sm-activity-item"><i class="ficon ficon-eye"></i> <span class="card-sm-activity-item-count">18</span></span>
            <span class="card-sm-activity-timestamp">3 mos ago</span>
          </div>
        </div> <!-- /card small -->
      </div>
    </div>
  </div>

  <div class="pl-code"><pre class="prettyprint"><code>&lt;div class="card card-sm"&gt;
  &lt;div class="card-photo"&gt;
    &lt;div class="card-photo-inner"&gt;
    &lt;div class="sash sash-reduced"&gt;&lt;i class="ficon ficon-arrow-down"&gt;&lt;/i&gt; $35,000 (10%) &lt;span class="sash-time"&gt;10 mins ago&lt;/span&gt;&lt;/div&gt;
      &lt;img class="card-img" src="images/fpo-carousel-3.jpg"&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="card-sm-container"&gt;
    &lt;div class="row row-xcondensed"&gt;
      &lt;div class="col-xs-8"&gt;
        &lt;p class="card-sm-priority card-sm-street"&gt;&lt;a href="" target="_blank"&gt;227 Palmetto Islands Trail&lt;/a&gt;&lt;/p&gt;
        &lt;p class="xsmall"&gt;Mount Pleasant, SC&lt;/p&gt;
        &lt;p class="xsmall"&gt;Grassy Creek&lt;/p&gt;
      &lt;/div&gt;
      &lt;div class="col-xs-4 text-right"&gt;
        &lt;p class="card-sm-priority card-sm-price"&gt;$1,250,000&lt;/p&gt;
        &lt;p class="xsmall"&gt;$250/SQFT&lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="card-sm-stats"&gt;
    &lt;span class="card-sm-stat"&gt;3 Beds&lt;/span&gt;
    &lt;span class="card-sm-stat"&gt;3 Baths&lt;/span&gt;
    &lt;span class="card-sm-stat"&gt;2800 sqft&lt;/span&gt;
    &lt;span class="card-sm-stat"&gt;0.35 Acres&lt;/span&gt;
  &lt;/div&gt;
  &lt;div class="card-sm-container"&gt;
    &lt;div class="row row-xcondensed"&gt;
      &lt;div class="col-sm-6"&gt;
        &lt;button class="btn btn-default btn-block btn-sm"&gt;&lt;i class="ficon ficon-star"&gt;&lt;/i&gt; 1220 Best-Fit&lt;/button&gt;
      &lt;/div&gt;
      &lt;div class="col-sm-6"&gt;
        &lt;button class="btn btn-default btn-block btn-sm"&gt;&lt;i class="ficon ficon-heart"&gt;&lt;/i&gt; 11 Favs&lt;/button&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
  </div>

</div>






