<!-- ================================== Cards ================================== -->

<div class="pl-docs-section">
  <h1 id="cards" class="page-header">Cards</h1>
  <p class="lead">Cards are modular components for property listings.</p>
  <div class="pl-example">
    <div class="card">
    	<div class="sash sash-reduced"><i class="ficon ficon-arrow-down"></i> $35,000 (10%) <span class="sash-time">10 mins ago</span></div>
    	<img src="images/fpo-carousel-1.jpg">
    	<div class="card-container">
	    	<div class="row">
	    		<div class="col-xs-7">
	    			<p class="card-priority card-street"><a href="" target="_blank">227 Palmetto Islands Trail</a></p>
	    			<p class="small">Mount Pleasant, SC</p>
	    			<p class="small">Grassy Creek</p>
	    		</div>
	    		<div class="col-xs-5 text-right">
	    			<p class="card-priority card-price">$1,250,000</p>
	    			<p class="small">$250/SQFT</p>
	    		</div>
	    	</div>
	    </div> <!-- /card-container -->
    	<div class="card-stats">
    		<span class="card-stat">3 Beds</span>
    		<span class="card-stat">3 Baths</span>
    		<span class="card-stat">2800 sqft</span>
    		<span class="card-stat">0.35 Acres</span>
    	</div>
    	<div class="card-container">
    		<div class="row row-condensed">
    			<div class="col-md-6">
    				<button class="btn btn-default btn-block"><i class="ficon ficon-star"></i> 20 Best-Fit</button>
    			</div>
    			<div class="col-md-6">
    				<button class="btn btn-default btn-block"><i class="ficon ficon-heart"></i> 20 Favs</button>
    			</div>
    		</div>
    	</div> <!-- /card-container -->
    	<div class="card-container">
    		<div class="row">
    			<div class="col-md-6">
    				<button class="btn btn-default btn-block"><i class="ficon ficon-star"></i> 20 Best-Fit</button>
    			</div>
    			<div class="col-md-6">
    				<button class="btn btn-default btn-block"><i class="ficon ficon-heart"></i> 20 Favs</button>
    			</div>
    		</div>
    	</div> <!-- /card-container -->
    </div> <!-- /card -->
  </div>
  

</div>