<!-- ================================== Circles ================================== -->

<!-- Circles (dot icons) -->
<div class="pl-docs-section">
  <h1 id="circles" class="page-header">Circles</h1>

  <p class="lead">Circles are just the colored dots next to times, online now, etc.</p>

  <h2>Default Circles</h2>
  <p></p>
  <div class="pl-example">
    <p><i class="circle"></i> <em>Default</em></p>
    <p><i class="circle circle-now"></i> <code>circle-now</code></p>
    <p><i class="circle circle-today"></i> <code>circle-today</code></p>
    <p><i class="circle circle-14-days"></i> <code>circle-14-days</code></p>
    <p><i class="circle circle-90-days"></i> <code>circle-90-days</code></p>
    <p><i class="circle circle-forever"></i> <code>circle-forever</code></p>
  </div><!-- /example -->
  <div class="pl-code"><pre class="prettyprint"><code>
&lt;p>&lt;i class="circle">&lt;/i> &lt;em>Default&lt;/em>&lt;/p>
&lt;p>&lt;i class="circle circle-now">&lt;/i> &lt;code>circle-now&lt;/code>&lt;/p>
&lt;p>&lt;i class="circle circle-today">&lt;/i> &lt;code>circle-today&lt;/code>&lt;/p>
&lt;p>&lt;i class="circle circle-14-days">&lt;/i> &lt;code>circle-14-days&lt;/code>&lt;/p>
&lt;p>&lt;i class="circle circle-90-days">&lt;/i> &lt;code>circle-90-days&lt;/code>&lt;/p>
&lt;p>&lt;i class="circle circle-forever">&lt;/i> &lt;code>circle-forever&lt;/code>&lt;/p>
  </code></pre></div>
</div>