<!-- ================================== Icons ================================== -->


<!-- Icons (Boomstrap Custom) -->
<div class="pl-docs-section">
  <h1 id="icons" class="page-header">Icons</h1>
  <div class="callout callout-danger">
    <h4>Deprecated Font Icons <i class="ficon ficon-heart"></i>
    <i class="ficon ficon-eye"></i>
    <i class="ficon ficon-chat"></i>
    <i class="ficon ficon-user"></i>
    <i class="ficon ficon-cog"></i>
    <i class="ficon ficon-chevron-left"></i>
    <i class="ficon ficon-chevron-right"></i></h4>
    <p>We have switched to an SVG icon system. Font icons are still available for use but development has stopped and they will eventually be removed from the project - <a class="callout-link" href="css/fonts/ficon-docs/demo.html" target="_blank" class="btn btn-attention">view font icons</a>.</p>
  </div>
  <p class="lead">We have a serious set of SVG icons. We've implemented our icons with SVG 'use' pointing to an external source (see <a href="https://css-tricks.com/svg-use-external-source/" target="_blank">CSS Tricks</a> and <a href="https://github.com/jonathantneal/svg4everybody" target="_blank">svg4everybody</a>).</p>
  <p><a href="svg/sprite.symbol.html" target="_blank" class="btn btn-attention">view full svg icon set</a><br><br></p>
  <h4>Utility, Interface, Action Icons</h4>
  <div class="pl-example pl-icons">
    <svg class="icon icon-heart"><use xlink:href="svg/sprite.svg#heart"/></svg>
    <svg class="icon icon-eye"><use xlink:href="svg/sprite.svg#eye"/></svg>
    <svg class="icon icon-chat"><use xlink:href="svg/sprite.svg#chat"/></svg>
    <svg class="icon icon-user"><use xlink:href="svg/sprite.svg#user"/></svg>
    <svg class="icon icon-cog"><use xlink:href="svg/sprite.svg#cog"/></svg>
    <svg class="icon icon-chevron-left"><use xlink:href="svg/sprite.svg#chevron-left"/></svg>
    <svg class="icon icon-chevron-right"><use xlink:href="svg/sprite.svg#chevron-right"/></svg>
  </div>
<div class="pl-code"><pre class="prettyprint"><code>&lt;svg class="icon icon-heart"&gt;&lt;use xlink:href="svg/sprite.svg#heart"/&gt;&lt;/svg&gt;
&lt;svg class="icon icon-eye"&gt;&lt;use xlink:href="svg/sprite.svg#eye"/&gt;&lt;/svg&gt;
&lt;svg class="icon icon-chat"&gt;&lt;use xlink:href="svg/sprite.svg#chat"/&gt;&lt;/svg&gt;
&lt;svg class="icon icon-user"&gt;&lt;use xlink:href="svg/sprite.svg#user"/&gt;&lt;/svg&gt;
&lt;svg class="icon icon-cog"&gt;&lt;use xlink:href="svg/sprite.svg#cog"/&gt;&lt;/svg&gt;
&lt;svg class="icon icon-chevron-left"&gt;&lt;use xlink:href="svg/sprite.svg#chevron-left"/&gt;&lt;/svg&gt;
&lt;svg class="icon icon-chevron-right"&gt;&lt;use xlink:href="svg/sprite.svg#chevron-right"/&gt;&lt;/svg&gt;
</code></pre></div>

	<h4>Communication Status Icons</h4>
	<div class="pl-example pl-icons">
    <svg class="icon icon-email-good"><use xlink:href="svg/sprite.svg#email-good"/></svg>
    <svg class="icon icon-email-neutral"><use xlink:href="svg/sprite.svg#email-neutral"/></svg>
    <svg class="icon icon-email-bad"><use xlink:href="svg/sprite.svg#email-bad"/></svg>
    <svg class="icon icon-phone-good"><use xlink:href="svg/sprite.svg#phone-good"/></svg>
    <svg class="icon icon-phone-neutral"><use xlink:href="svg/sprite.svg#phone-neutral"/></svg>
    <svg class="icon icon-phone-bad"><use xlink:href="svg/sprite.svg#phone-bad"/></svg>
    <svg class="icon icon-text-good"><use xlink:href="svg/sprite.svg#text-good"/></svg>
    <svg class="icon icon-text-neutral"><use xlink:href="svg/sprite.svg#text-neutral"/></svg>
    <svg class="icon icon-text-bad"><use xlink:href="svg/sprite.svg#text-bad"/></svg>
  </div>
<div class="pl-code"><pre class="prettyprint"><code>&lt;!-- 2-way emailing --&gt;
&lt;svg class="icon icon-email-good"&gt;&lt;use xlink:href="svg/sprite.svg#email-good"/&gt;&lt;/svg&gt;

&lt;!-- no replies --&gt;
&lt;svg class="icon icon-email-neutral"&gt;&lt;use xlink:href="svg/sprite.svg#email-neutral"/&gt;&lt;/svg&gt;

&lt;!-- opt-out or invalid --&gt;
&lt;svg class="icon icon-email-bad"&gt;&lt;use xlink:href="svg/sprite.svg#email-bad"/&gt;&lt;/svg&gt;

&lt;!-- talking to prospect --&gt;
&lt;svg class="icon icon-phone-good"&gt;&lt;use xlink:href="svg/sprite.svg#phone-good"/&gt;&lt;/svg&gt;

&lt;!-- no conversations --&gt;
&lt;svg class="icon icon-phone-neutral"&gt;&lt;use xlink:href="svg/sprite.svg#phone-neutral"/&gt;&lt;/svg&gt;

&lt;!-- opt-out or wrong number --&gt;
&lt;svg class="icon icon-phone-bad"&gt;&lt;use xlink:href="svg/sprite.svg#phone-bad"/&gt;&lt;/svg&gt;

&lt;!-- texting to prospect --&gt;
&lt;svg class="icon icon-text-good"&gt;&lt;use xlink:href="svg/sprite.svg#text-good"/&gt;&lt;/svg&gt;

&lt;!-- no conversations --&gt;
&lt;svg class="icon icon-text-neutral"&gt;&lt;use xlink:href="svg/sprite.svg#text-neutral"/&gt;&lt;/svg&gt;

&lt;!-- opt-out or wrong number --&gt;
&lt;svg class="icon icon-text-bad"&gt;&lt;use xlink:href="svg/sprite.svg#text-bad"/&gt;&lt;/svg&gt;
</code></pre></div>
	

</div>