<!-- ================================== Icons ================================== -->


<!-- Icons (Boomstrap Custom) -->
<div class="pl-docs-section">
  <h1 id="icons" class="page-header">Icons</h1>
  <div class="callout callout-danger">
    <h4>Deprecated Font Icons <i class="ficon ficon-heart"></i>
    <i class="ficon ficon-eye"></i>
    <i class="ficon ficon-chat"></i>
    <i class="ficon ficon-user"></i>
    <i class="ficon ficon-cog"></i>
    <i class="ficon ficon-chevron-left"></i>
    <i class="ficon ficon-chevron-right"></i></h4>
    <p>We have switched to an SVG icon system. Font icons are still available for use but development has stopped and they will eventually be removed from the project - <a class="callout-link" href="css/fonts/ficon-docs/demo.html" target="_blank" class="btn btn-attention">view font icons</a>.</p>
  </div>
  <p class="lead">We have a serious set of SVG icons. In our system, we are injecting the SVG sprite in the top of each page via AJAX. While SVG 'use' pointing to an external source would have been ideal, we decided that we didn't want to maintain polyfills for the IE browser.</p>
  <p><a href="svg/sprite.symbol.html" target="_blank" class="btn btn-attention">view full svg icon set</a><br><br></p>
  <h4>Utility, Interface, Action Icons</h4>
  <div class="pl-example pl-icons">
    <svg class="icon icon-heart"><use xlink:href="#heart"/></svg>
    <svg class="icon icon-eye"><use xlink:href="#eye"/></svg>
    <svg class="icon icon-chat"><use xlink:href="#chat"/></svg>
    <svg class="icon icon-user"><use xlink:href="#user"/></svg>
    <svg class="icon icon-cog"><use xlink:href="#cog"/></svg>
    <svg class="icon icon-chevron-left"><use xlink:href="#chevron-left"/></svg>
    <svg class="icon icon-chevron-right"><use xlink:href="#chevron-right"/></svg>
  </div>
<div class="pl-code"><pre class="prettyprint"><code>&lt;svg class="icon icon-heart"&gt;&lt;use xlink:href="#heart"/&gt;&lt;/svg&gt;
&lt;svg class="icon icon-eye"&gt;&lt;use xlink:href="#eye"/&gt;&lt;/svg&gt;
&lt;svg class="icon icon-chat"&gt;&lt;use xlink:href="#chat"/&gt;&lt;/svg&gt;
&lt;svg class="icon icon-user"&gt;&lt;use xlink:href="#user"/&gt;&lt;/svg&gt;
&lt;svg class="icon icon-cog"&gt;&lt;use xlink:href="#cog"/&gt;&lt;/svg&gt;
&lt;svg class="icon icon-chevron-left"&gt;&lt;use xlink:href="#chevron-left"/&gt;&lt;/svg&gt;
&lt;svg class="icon icon-chevron-right"&gt;&lt;use xlink:href="#chevron-right"/&gt;&lt;/svg&gt;
</code></pre></div>

	<h4>Communication Status Icons</h4>
	<div class="pl-example pl-icons">
    <svg class="icon icon-email-good"><use xlink:href="#email-good"/></svg>
    <svg class="icon icon-email-neutral"><use xlink:href="#email-neutral"/></svg>
    <svg class="icon icon-email-bad"><use xlink:href="#email-bad"/></svg>
    <svg class="icon icon-phone-good"><use xlink:href="#phone-good"/></svg>
    <svg class="icon icon-phone-neutral"><use xlink:href="#phone-neutral"/></svg>
    <svg class="icon icon-phone-bad"><use xlink:href="#phone-bad"/></svg>
    <svg class="icon icon-text-good"><use xlink:href="#text-good"/></svg>
    <svg class="icon icon-text-neutral"><use xlink:href="#text-neutral"/></svg>
    <svg class="icon icon-text-bad"><use xlink:href="#text-bad"/></svg>
  </div>
<div class="pl-code"><pre class="prettyprint"><code>&lt;!-- 2-way emailing --&gt;
&lt;svg class="icon icon-email-good"&gt;&lt;use xlink:href="#email-good"/&gt;&lt;/svg&gt;

&lt;!-- no replies --&gt;
&lt;svg class="icon icon-email-neutral"&gt;&lt;use xlink:href="#email-neutral"/&gt;&lt;/svg&gt;

&lt;!-- opt-out or invalid --&gt;
&lt;svg class="icon icon-email-bad"&gt;&lt;use xlink:href="#email-bad"/&gt;&lt;/svg&gt;

&lt;!-- talking to prospect --&gt;
&lt;svg class="icon icon-phone-good"&gt;&lt;use xlink:href="#phone-good"/&gt;&lt;/svg&gt;

&lt;!-- no conversations --&gt;
&lt;svg class="icon icon-phone-neutral"&gt;&lt;use xlink:href="#phone-neutral"/&gt;&lt;/svg&gt;

&lt;!-- opt-out or wrong number --&gt;
&lt;svg class="icon icon-phone-bad"&gt;&lt;use xlink:href="#phone-bad"/&gt;&lt;/svg&gt;

&lt;!-- texting to prospect --&gt;
&lt;svg class="icon icon-text-good"&gt;&lt;use xlink:href="#text-good"/&gt;&lt;/svg&gt;

&lt;!-- no conversations --&gt;
&lt;svg class="icon icon-text-neutral"&gt;&lt;use xlink:href="#text-neutral"/&gt;&lt;/svg&gt;

&lt;!-- opt-out or wrong number --&gt;
&lt;svg class="icon icon-text-bad"&gt;&lt;use xlink:href="#text-bad"/&gt;&lt;/svg&gt;
</code></pre></div>
	

</div>