<!-- ================================== Labels ================================== -->

<div class="pl-docs-section">
  <h1 id="labels" class="page-header">Labels</h1>

  <h3>Example</h3>
  <div class="pl-example">
    <h1>Example heading <span class="label label-default">New</span></h1>
    <h2>Example heading <span class="label label-default">New</span></h2>
    <h3>Example heading <span class="label label-default">New</span></h3>
    <h4>Example heading <span class="label label-default">New</span></h4>
    <h5>Example heading <span class="label label-default">New</span></h5>
    <h6>Example heading <span class="label label-default">New</span></h6>
  </div>
<div class="pl-code"><pre><code class="html"><span class="nt">&lt;h3&gt;</span>Example heading <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">&quot;label label-default&quot;</span><span class="nt">&gt;</span>New<span class="nt">&lt;/span&gt;&lt;/h3&gt;</span>
</code></pre></div>

  <h3>Available variations</h3>
  <p>Add any of the below mentioned modifier classes to change the appearance of a label.</p>
  <div class="pl-example">
    <span class="label label-default">Default</span>
    <span class="label label-primary">Primary</span>
    <span class="label label-success">Success</span>
    <span class="label label-info">Info</span>
    <span class="label label-warning">Warning</span>
    <span class="label label-danger">Danger</span>
    <span class="label label-attention">Attention</span>
  </div>
<div class="pl-code"><pre><code class="html"><span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">&quot;label label-default&quot;</span><span class="nt">&gt;</span>Default<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">&quot;label label-primary&quot;</span><span class="nt">&gt;</span>Primary<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">&quot;label label-success&quot;</span><span class="nt">&gt;</span>Success<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">&quot;label label-info&quot;</span><span class="nt">&gt;</span>Info<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">&quot;label label-warning&quot;</span><span class="nt">&gt;</span>Warning<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">&quot;label label-danger&quot;</span><span class="nt">&gt;</span>Danger<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">&quot;label label-attention&quot;</span><span class="nt">&gt;</span>Attention<span class="nt">&lt;/span&gt;</span>
</code></pre></div>

  <!-- Labels for Lead Categories (Boomstrap Custom) -->
  <h3>Lead categories</h3>
  <p>Lead category labels extend the <code>.label</code> class.</p>
  <h4>Default</h4>
  <div class="pl-example">
    <span class="leadcat leadcat-archive">archive</span>
    <span class="leadcat leadcat-closed">closed</span>
    <span class="leadcat leadcat-hot">hot</span>
    <span class="leadcat leadcat-new">new</span>
    <span class="leadcat leadcat-nurture">nurture</span>
    <span class="leadcat leadcat-pending">pending</span>
    <span class="leadcat leadcat-qualify">qualify</span>
    <span class="leadcat leadcat-trash">trash</span>
    <span class="leadcat leadcat-watch">watch</span>
  </div><!-- /example -->
<div class="pl-code"><pre class="prettyprint"><code>&lt;span class="leadcat leadcat-archive"&gt;archive&lt;/span&gt;
&lt;span class="leadcat leadcat-closed"&gt;closed&lt;/span&gt;
&lt;span class="leadcat leadcat-hot"&gt;hot&lt;/span&gt;
&lt;span class="leadcat leadcat-new"&gt;new&lt;/span&gt;
&lt;span class="leadcat leadcat-nurture"&gt;nurture&lt;/span&gt;
&lt;span class="leadcat leadcat-pending"&gt;pending&lt;/span&gt;
&lt;span class="leadcat leadcat-qualify"&gt;qualify&lt;/span&gt;
&lt;span class="leadcat leadcat-trash"&gt;trash&lt;/span&gt;
&lt;span class="leadcat leadcat-watch"&gt;watch&lt;/span&gt;
</code></pre></div>

  <h4>Outline version</h4>
  <p>For outlined category labels, include the <code>.leadcat-outline</code> class.</p>
  <div class="pl-example">
    <span class="leadcat leadcat-outline leadcat-archive">archive</span>
    <span class="leadcat leadcat-outline leadcat-closed">closed</span>
    <span class="leadcat leadcat-outline leadcat-hot">hot</span>
    <span class="leadcat leadcat-outline leadcat-new">new</span>
    <span class="leadcat leadcat-outline leadcat-nurture">nurture</span>
    <span class="leadcat leadcat-outline leadcat-pending">pending</span>
    <span class="leadcat leadcat-outline leadcat-qualify">qualify</span>
    <span class="leadcat leadcat-outline leadcat-trash">trash</span>
    <span class="leadcat leadcat-outline leadcat-watch">watch</span>
  </div><!-- /example -->
<div class="pl-code"><pre class="prettyprint"><code>&lt;span class="leadcat leadcat-outline leadcat-archive"&gt;archive&lt;/span&gt;
&lt;span class="leadcat leadcat-outline leadcat-closed"&gt;closed&lt;/span&gt;
&lt;span class="leadcat leadcat-outline leadcat-hot"&gt;hot&lt;/span&gt;
&lt;span class="leadcat leadcat-outline leadcat-new"&gt;new&lt;/span&gt;
&lt;span class="leadcat leadcat-outline leadcat-nurture"&gt;nurture&lt;/span&gt;
&lt;span class="leadcat leadcat-outline leadcat-pending"&gt;pending&lt;/span&gt;
&lt;span class="leadcat leadcat-outline leadcat-qualify"&gt;qualify&lt;/span&gt;
&lt;span class="leadcat leadcat-outline leadcat-trash"&gt;trash&lt;/span&gt;
&lt;span class="leadcat leadcat-outline leadcat-watch"&gt;watch&lt;/span&gt;
</code></pre></div>

  <h4>Equal width</h4>
  <p>For equal width lead category labels, include the <code>.leadcat-eq</code> class.</p>
  <div class="pl-example">
    <span class="leadcat leadcat-eq leadcat-archive">archive</span>
    <span class="leadcat leadcat-eq leadcat-closed">closed</span>
    <span class="leadcat leadcat-eq leadcat-hot">hot</span>
    <span class="leadcat leadcat-eq leadcat-new">new</span>
    <span class="leadcat leadcat-eq leadcat-nurture">nurture</span>
    <span class="leadcat leadcat-eq leadcat-pending">pending</span>
    <span class="leadcat leadcat-eq leadcat-qualify">qualify</span>
    <span class="leadcat leadcat-eq leadcat-trash">trash</span>
    <span class="leadcat leadcat-eq leadcat-watch">watch</span>
  </div><!-- /example -->
<div class="pl-code"><pre class="prettyprint"><code>&lt;span class="leadcat leadcat-eq leadcat-archive"&gt;archive&lt;/span&gt;
&lt;span class="leadcat leadcat-eq leadcat-closed"&gt;closed&lt;/span&gt;
&lt;span class="leadcat leadcat-eq leadcat-hot"&gt;hot&lt;/span&gt;
&lt;span class="leadcat leadcat-eq leadcat-new"&gt;new&lt;/span&gt;
&lt;span class="leadcat leadcat-eq leadcat-nurture"&gt;nurture&lt;/span&gt;
&lt;span class="leadcat leadcat-eq leadcat-pending"&gt;pending&lt;/span&gt;
&lt;span class="leadcat leadcat-eq leadcat-qualify"&gt;qualify&lt;/span&gt;
&lt;span class="leadcat leadcat-eq leadcat-trash"&gt;trash&lt;/span&gt;
&lt;span class="leadcat leadcat-eq leadcat-watch"&gt;watch&lt;/span&gt;
</code></pre></div>

  <h4>Equal width abbreviated</h4>
  <p>For equal width lead category labels that are abbreviated, include the <code>.leadcat-eq-abbr</code> class.</p>
  <div class="pl-example">
    <span class="leadcat leadcat-eq-abbr leadcat-archive">arch</span>
    <span class="leadcat leadcat-eq-abbr leadcat-closed">close</span>
    <span class="leadcat leadcat-eq-abbr leadcat-hot">hot</span>
    <span class="leadcat leadcat-eq-abbr leadcat-new">new</span>
    <span class="leadcat leadcat-eq-abbr leadcat-nurture">nurt</span>
    <span class="leadcat leadcat-eq-abbr leadcat-pending">pend</span>
    <span class="leadcat leadcat-eq-abbr leadcat-qualify">qual</span>
    <span class="leadcat leadcat-eq-abbr leadcat-trash">trash</span>
    <span class="leadcat leadcat-eq-abbr leadcat-watch">watch</span>
  </div><!-- /example -->
<div class="pl-code"><pre class="prettyprint"><code>&lt;span class="leadcat leadcat-eq-abbr leadcat-archive"&gt;arch&lt;/span&gt;
&lt;span class="leadcat leadcat-eq-abbr leadcat-closed"&gt;close&lt;/span&gt;
&lt;span class="leadcat leadcat-eq-abbr leadcat-hot"&gt;hot&lt;/span&gt;
&lt;span class="leadcat leadcat-eq-abbr leadcat-new"&gt;new&lt;/span&gt;
&lt;span class="leadcat leadcat-eq-abbr leadcat-nurture"&gt;nurt&lt;/span&gt;
&lt;span class="leadcat leadcat-eq-abbr leadcat-pending"&gt;pend&lt;/span&gt;
&lt;span class="leadcat leadcat-eq-abbr leadcat-qualify"&gt;qual&lt;/span&gt;
&lt;span class="leadcat leadcat-eq-abbr leadcat-trash"&gt;trash&lt;/span&gt;
&lt;span class="leadcat leadcat-eq-abbr leadcat-watch"&gt;watch&lt;/span&gt;
</code></pre></div>

  <!-- Labels for Lead Types (Boomstrap Custom) -->
  <h3>Lead types</h3>
  <p>Lead type labels extend the <code>.label</code> class.</p>
  <h4>Default</h4>
  <div class="pl-example">
    <span class="leadtype-buyer"></span>
    <span class="leadtype-seller"></span>
    <span class="leadtype-bs"></span>
  </div><!-- /example -->
<div class="pl-code"><pre class="prettyprint"><code>&lt;span class="leadtype-buyer"&gt;&lt;/span&gt;
&lt;span class="leadtype-seller"&gt;&lt;/span&gt;
&lt;span class="leadtype-bs"&gt;&lt;/span&gt;
</code></pre></div>

  <h4>Equal Width</h4>
  <p>For equal width lead type labels, include the <code>.leadtype-eq</code> class.</p>
  <div class="pl-example">
    <span class="leadtype-eq leadtype-buyer"></span>
    <span class="leadtype-eq leadtype-seller"></span>
    <span class="leadtype-eq leadtype-bs"></span>
  </div><!-- /example -->
<div class="pl-code"><pre class="prettyprint"><code>&lt;span class="leadtype-eq leadtype-buyer"&gt;&lt;/span&gt;
&lt;span class="leadtype-eq leadtype-seller"&gt;&lt;/span&gt;
&lt;span class="leadtype-eq leadtype-bs"&gt;&lt;/span&gt;
</code></pre></div>

  <h4>Abbreviated</h4>
  <p>For abbreviated lead type labels, include the <code>.leadtype-abbr</code> class. Abbreviated version will always be uppercase.</p>
  <div class="pl-example">
    <span class="leadtype-abbr leadtype-buyer"></span>
    <span class="leadtype-abbr leadtype-seller"></span>
    <span class="leadtype-abbr leadtype-bs"></span>
  </div><!-- /example -->
<div class="pl-code"><pre class="prettyprint"><code>&lt;span class="leadtype-abbr leadtype-buyer"&gt;&lt;/span&gt;
&lt;span class="leadtype-abbr leadtype-seller"&gt;&lt;/span&gt;
&lt;span class="leadtype-abbr leadtype-bs"&gt;&lt;/span&gt;
</code></pre></div>



</div>