<!-- ================================== Loaders ================================== -->

<!-- Loaders (Boomstrap Custom) -->
<div class="pl-docs-section">
  <h1 id="loaders" class="page-header">Loaders</h1>
  <p>Loaders are used to inform users that data is being filtered, retrieved, processed, etc.</p>
  <div class="pl-example">
    <div class="loader">
      <span class="loader-pulse"></span>
      <span class="loader-pulse"></span>
      <span class="loader-pulse"></span>
    </div>
  </div>
  <div class="pl-code">
    <pre class="prettyprint"><code>
&lt;div class="loader"&gt;
  &lt;span class="loader-pulse"&gt;&lt;/span&gt;
  &lt;span class="loader-pulse"&gt;&lt;/span&gt;
  &lt;span class="loader-pulse"&gt;&lt;/span&gt;
&lt;/div&gt;
    </code></pre>
  </div>
  <p>Want to center the loader animation? No hay problemo! Just add the <code>.text-center</code> class.</p>
  <div class="pl-example">
    <div class="loader text-center">
      <span class="loader-pulse"></span>
      <span class="loader-pulse"></span>
      <span class="loader-pulse"></span>
    </div>
  </div>
  <div class="pl-code">
    <pre class="prettyprint"><code>
&lt;div class="loader text-center"&gt;
  &lt;span class="loader-pulse"&gt;&lt;/span&gt;
  &lt;span class="loader-pulse"&gt;&lt;/span&gt;
  &lt;span class="loader-pulse"&gt;&lt;/span&gt;
&lt;/div&gt;
    </code></pre>
  </div>
  <h3>Small</h3>
  <p>You guessed it! Add <code>loader-sm</code> for a 12px loader.</p>
  <div class="pl-example">
    <div class="loader loader-sm">
      <span class="loader-pulse"></span>
      <span class="loader-pulse"></span>
      <span class="loader-pulse"></span>
    </div>
  </div>
  <div class="pl-code">
    <pre class="prettyprint"><code>
&lt;div class="loader loader-sm"&gt;
  &lt;span class="loader-pulse"&gt;&lt;/span&gt;
  &lt;span class="loader-pulse"&gt;&lt;/span&gt;
  &lt;span class="loader-pulse"&gt;&lt;/span&gt;
&lt;/div&gt;
    </code></pre>
  </div>
  <h3>Desaturated (gray)</h3>
  <p>For a lighter weight loader, use <code>loader-desaturated</code>.</p>
  <div class="pl-example">
    <div class="loader loader-desaturated">
      <span class="loader-pulse"></span>
      <span class="loader-pulse"></span>
      <span class="loader-pulse"></span>
    </div>
  </div>
  <div class="pl-code">
    <pre class="prettyprint"><code>
&lt;div class="loader loader-desaturated"&gt;
  &lt;span class="loader-pulse"&gt;&lt;/span&gt;
  &lt;span class="loader-pulse"&gt;&lt;/span&gt;
  &lt;span class="loader-pulse"&gt;&lt;/span&gt;
&lt;/div&gt;
    </code></pre>
  </div>
</div>