<!-- ================================== Log Call ================================== -->

<!-- Log Call (Boomstrap Custom) -->

<div class="pl-docs-section">
  <h1 id="log-call" class="page-header">Log Call</h1>
  <p class="lead">Modular component for logging a call.</p>

  <h2>Basic log call example</h2>
  <p>This is the basic construction of the texting component. In proper mobile-first fashion, the texting component begins in a stacked layout.</p>

  <div class="pl-example">

    <div class="log-call">
      <div class="log-call__body">
        <div class="btn-group block">
          <button type="button" class="btn btn-default btn-sm btn-block dropdown-toggle" data-toggle="dropdown">
            <i class="ficon ficon-phone-good"></i> 888-555-1111 (home) <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#"><i class="ficon ficon-phone-good"></i> 888-555-1111 (home)</a></li>
            <li><a href="#"><i class="ficon ficon-phone-neutral"></i> 888-555-1111 (cell)</a></li>
          </ul>
        </div>
        <br><br>
        <select class="selectpicker form-control" data-style="btn-default btn-sm">
          <option>888-555-1111 (home)</option>
          <option>888-555-2222 (cell)</option>
          <option>888-555-3333 (work)</option>
        </select>
      </div> <!-- end log-call__body -->
    </div> <!-- end log-call -->

  </div><!-- /example -->
  <div class="pl-code">
    <pre class="prettyprint"><code></code></pre>
  </div>

  

</div>