<!-- ================================== Markers ================================== -->

<!-- Tags (Boomstrap Custom) -->
<div class="pl-docs-section">
  <h1 id="markers" class="page-header">Markers</h1>

  <p class="lead">Use these to represent current searching / filtering parameters.</p>

  <h2>Default Markers</h2>
  <div class="pl-example">
    <span class="marker marker-default"><span>Mark Funk</span>&nbsp;<i class="ficon ficon-cross"></i></span>
    <span class="marker marker-primary"><span>Craig Anthony</span>&nbsp;<i class="ficon ficon-cross"></i></span>
    <span class="marker marker-attention"><span>Sean McCambridge</span>&nbsp;<i class="ficon ficon-cross"></i></span>
    <span class="marker marker-success"><span>Kristina O'Connell</span>&nbsp;<i class="ficon ficon-cross"></i></span>
    <span class="marker marker-info"><span>J.D. Livingstone</span>&nbsp;<i class="ficon ficon-cross"></i></span>
    <span class="marker marker-warning"><span>George Mountis</span>&nbsp;<i class="ficon ficon-cross"></i></span>
    <span class="marker marker-danger"><span>Brutus Anthony</span>&nbsp;<i class="ficon ficon-cross"></i></span>
  </div><!-- /example -->
  <div class="pl-code"><pre class="prettyprint"><code>
&lt;span class=&quot;marker marker-default&quot;&gt;&lt;span&gt;Mark Funk&lt;/span&gt;&nbsp;&lt;i class=&quot;ficon ficon-cross&quot;&gt;&lt;/i&gt;&lt;/span&gt;
&lt;span class=&quot;marker marker-primary&quot;&gt;&lt;span&gt;Craig Anthony&lt;/span&gt;&nbsp;&lt;i class=&quot;ficon ficon-cross&quot;&gt;&lt;/i&gt;&lt;/span&gt;
&lt;span class=&quot;marker marker-attention&quot;&gt;&lt;span&gt;Sean McCambridge&lt;/span&gt;&nbsp;&lt;i class=&quot;ficon ficon-cross&quot;&gt;&lt;/i&gt;&lt;/span&gt;
&lt;span class=&quot;marker marker-success&quot;&gt;&lt;span&gt;Kristina O'Connell&lt;/span&gt;&nbsp;&lt;i class=&quot;ficon ficon-cross&quot;&gt;&lt;/i&gt;&lt;/span&gt;
&lt;span class=&quot;marker marker-info&quot;&gt;&lt;span&gt;J.D. Livingstone&lt;/span&gt;&nbsp;&lt;i class=&quot;ficon ficon-cross&quot;&gt;&lt;/i&gt;&lt;/span&gt;
&lt;span class=&quot;marker marker-warning&quot;&gt;&lt;span&gt;George Mountis&lt;/span&gt;&nbsp;&lt;i class=&quot;ficon ficon-cross&quot;&gt;&lt;/i&gt;&lt;/span&gt;
&lt;span class=&quot;marker marker-danger&quot;&gt;&lt;span&gt;Brutus Anthony&lt;/span&gt;&nbsp;&lt;i class=&quot;ficon ficon-cross&quot;&gt;&lt;/i&gt;&lt;/span&gt;
  </code></pre></div>

  <h2>Contextual Markers</h1>

  <p>These standard markers have been created for convenience and consistency.</p>
  <div class="pl-example">
    <span class="marker marker-name"><span>Grier Allen</span>&nbsp;<i class="ficon ficon-cross"></i></span>
    <span class="marker marker-zip"><span>29403</span>&nbsp;<i class="ficon ficon-cross"></i></span>
  </div>
  <div class="pl-code"><pre class="prettyprint"><code>
&lt;span class=&quot;marker marker-name&quot;&gt;&lt;span&gt;Grier Allen&lt;/span&gt;&nbsp;&lt;i class=&quot;ficon ficon-cross&quot;&gt;&lt;/i&gt;&lt;/span&gt;
&lt;span class=&quot;marker marker-zip&quot;&gt;&lt;span&gt;29403&lt;/span&gt;&nbsp;&lt;i class=&quot;ficon ficon-cross&quot;&gt;&lt;/i&gt;&lt;/span&gt;
  </code></pre></div>
</div>