<!-- ================================== Markers ================================== -->

<!-- Tags (Boomstrap Custom) -->
<div class="pl-docs-section">
  <h1 id="markers" class="page-header">Markers</h1>

  <p class="lead">Use these to represent current searching / filtering parameters.</p>
  <div class="pl-example">
    <span class="marker"><span>Mark Funk</span>&nbsp;<i class="ficon ficon-cross"></i></span>
    <span class="marker"><span>Over 300k</span>&nbsp;<i class="ficon ficon-cross"></i></span>
    <span class="marker"><span>Mt Pleasant</span>&nbsp;<i class="ficon ficon-cross"></i></span>
  </div><!-- /example -->
  <div class="pl-code"><pre class="prettyprint"><code>
&lt;span class=&quot;marker&quot;&gt;&lt;span&gt;Mark Funk&lt;/span&gt;&nbsp;&lt;i class=&quot;ficon ficon-cross&quot;&gt;&lt;/i&gt;&lt;/span&gt;
&lt;span class=&quot;marker&quot;&gt;&lt;span&gt;Over 300k&lt;/span&gt;&nbsp;&lt;i class=&quot;ficon ficon-cross&quot;&gt;&lt;/i&gt;&lt;/span&gt;
&lt;span class=&quot;marker&quot;&gt;&lt;span&gt;Mt Pleasant&lt;/span&gt;&nbsp;&lt;i class=&quot;ficon ficon-cross&quot;&gt;&lt;/i&gt;&lt;/span&gt;
  </code></pre></div>
</div>