<!-- ================================== Message Faces ================================== -->

<!-- Message Faces (Boomstrap Custom) -->

<div class="pl-docs-section">
  <h1 id="faces" class="page-header">Message faces</h1>
  <p class="lead">Message faces are delightful little fellas designed to be used alongside simple user messages.</p>
  <div class="pl-example">
    <div class="message-face">
      <div class="message-face-eyes">
        <span class="message-face-eye"></span>
        <span class="message-face-eye"></span>
      </div>
      <div class="message-face-mouth"></div>
    </div>
    <div class="message-face message-face-arrow-left">
      <div class="message-face-eyes">
        <span class="message-face-eye"></span>
        <span class="message-face-eye"></span>
      </div>
      <div class="message-face-mouth"></div>
    </div>
    <div class="message-face message-face-arrow-top">
      <div class="message-face-eyes">
        <span class="message-face-eye"></span>
        <span class="message-face-eye"></span>
      </div>
      <div class="message-face-mouth"></div>
    </div>
    <div class="message-face message-face-arrow-right">
      <div class="message-face-eyes">
        <span class="message-face-eye"></span>
        <span class="message-face-eye"></span>
      </div>
      <div class="message-face-mouth"></div>
    </div>
    <div class="message-face message-face-arrow-bottom">
      <div class="message-face-eyes">
        <span class="message-face-eye"></span>
        <span class="message-face-eye"></span>
      </div>
      <div class="message-face-mouth"></div>
    </div>
  </div>
  <div class="pl-code">
    <pre class="prettyprint"><code>&lt;!-- no arrow --&gt;
&lt;div class="message-face"&gt;
  &lt;div class="message-face-eyes"&gt;
    &lt;span class="message-face-eye"&gt;&lt;/span&gt;
    &lt;span class="message-face-eye"&gt;&lt;/span&gt;
  &lt;/div&gt;
  &lt;div class="message-face-mouth"&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;!-- left arrow --&gt;
&lt;div class="message-face message-face-arrow-left"&gt;
  &lt;div class="message-face-eyes"&gt;
    &lt;span class="message-face-eye"&gt;&lt;/span&gt;
    &lt;span class="message-face-eye"&gt;&lt;/span&gt;
  &lt;/div&gt;
  &lt;div class="message-face-mouth"&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;!-- top arrow --&gt;
&lt;div class="message-face message-face-arrow-top"&gt;
  &lt;div class="message-face-eyes"&gt;
    &lt;span class="message-face-eye"&gt;&lt;/span&gt;
    &lt;span class="message-face-eye"&gt;&lt;/span&gt;
  &lt;/div&gt;
  &lt;div class="message-face-mouth"&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;!-- right arrow --&gt;
&lt;div class="message-face message-face-arrow-right"&gt;
  &lt;div class="message-face-eyes"&gt;
    &lt;span class="message-face-eye"&gt;&lt;/span&gt;
    &lt;span class="message-face-eye"&gt;&lt;/span&gt;
  &lt;/div&gt;
  &lt;div class="message-face-mouth"&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;!-- bottom arrow --&gt;
&lt;div class="message-face message-face-arrow-bottom"&gt;
  &lt;div class="message-face-eyes"&gt;
    &lt;span class="message-face-eye"&gt;&lt;/span&gt;
    &lt;span class="message-face-eye"&gt;&lt;/span&gt;
  &lt;/div&gt;
  &lt;div class="message-face-mouth"&gt;&lt;/div&gt;
&lt;/div&gt;</code></pre>
  </div>

</div>