<!-- ================================== Pairs ================================== -->


<!-- Pairs (Boomstrap Custom) -->
<div class="pl-docs-section">
  <h1 id="pairs" class="page-header">Pairs</h1>
  <p>Pairs operate together to have a darker first line and a smaller, lighter second line.</p>
  <div class="pl-example pl-pairs">
    <div class="pair">This is first-line content in a pair.</div>
    <div class="pair">This is second-line content in a pair.</div>
  </div>
  <div class="pl-code">
    <pre class="prettyprint"><code>&lt;div class="pair"&gt;This is first-line content in a pair.&lt;/div&gt;
&lt;div class="pair"&gt;This is second-line content in a pair.&lt;/div&gt;</code></pre>
  </div>

</div>