<!-- ================================== Profile Pics ================================== -->

<div class="pl-docs-section">
  <h1 id="profile-pics" class="page-header">Profile Pics</h1>
  <p class="lead">Standard display of lead photo. Like, wow.</p>

  <h3>Placeholder</h3>
  <div class="pl-example pl-example-profile-pic">
    <div class="profile-pic profile-pic--placeholder"></div>
  </div>
  <div class="pl-code">
    <pre class="prettyprint"><code>&lt;div class="profile-pic profile-pic--placeholder"&gt;&lt;/div&gt;</code></pre>
  </div>

  <h3>Default</h3>
  <p>As seen on the profile page! Pretty straightforward. 90px x 90px.</p>

  <div class="pl-example pl-example-profile-pic">
    <div class="profile-pic" style="background-image: url(//media.licdn.com/mpr/mpr/shrinknp_400_400/p/1/005/087/3b6/03d99cf.jpg);" alt="Mark Funk"></div>
    &nbsp;
    <div class="profile-pic" style="background-image: url(//gp1.wac.edgecastcdn.net/802892/production_public/Artist/335365/image/small/Photo_302.jpg);" alt="Frock"></div>
    &nbsp;
    <div class="profile-pic" style="background-image: url(//pbs.twimg.com/profile_images/1366993370/6090_400x400.png);" alt="Zach Schnackel"></div>
    &nbsp;
    <div class="profile-pic profile-pic--initials">CA</div>
  </div>
  <div class="pl-code">
    <pre class="prettyprint"><code>
&lt;div class="profile-pic" style="background-image: url(//media.licdn.com/mpr/mpr/shrinknp_400_400/p/1/005/087/3b6/03d99cf.jpg);" alt="Mark Funk"&gt;&lt;/div&gt;
&amp;nbsp;
&lt;div class="profile-pic" style="background-image: url(//gp1.wac.edgecastcdn.net/802892/production_public/Artist/335365/image/small/Photo_302.jpg);" alt="Frock"&gt;&lt;/div&gt;
&amp;nbsp;
&lt;div class="profile-pic" style="background-image: url(//pbs.twimg.com/profile_images/1366993370/6090_400x400.png);" alt="Zach Schnackel"&gt;&lt;/div&gt;
&amp;nbsp;
&lt;div class="profile-pic profile-pic--initials"&gt;MF&lt;/div&gt;</code></pre>
  </div>

  <h3>Small</h3>
  <p>As seen on Lead Central! 32px x 32px.</p>

  <div class="pl-example pl-example-profile-pic">
    <div class="profile-pic profile-pic--sm" style="background-image: url(//media.licdn.com/mpr/mpr/shrinknp_400_400/p/1/005/087/3b6/03d99cf.jpg);" alt="Mark Funk"></div>
    &nbsp;
    <div class="profile-pic profile-pic--sm profile-pic--initials">BT</div>
  </div>
  <div class="pl-code">
    <pre class="prettyprint"><code>
&lt;div class="profile-pic profile-pic--sm" style="background-image: url(//media.licdn.com/mpr/mpr/shrinknp_400_400/p/1/005/087/3b6/03d99cf.jpg);" alt="Mark Funk" /&gt;
&amp;nbsp;
&lt;div class="profile-pic profile-pic--sm profile-pic--initials"&gt;MF&lt;/div&gt;</code></pre>
  </div>

  <h3>Buyer/Seller</h3>
  <p>Add some meaningful color to these pretty faces.</p>

  <div class="pl-example pl-example-profile-pic">
    <div class="profile-pic profile-pic--buyer" style="background-image: url(//pbs.twimg.com/profile_images/1366993370/6090_400x400.png);" alt="Zach Schnackel"></div>
    &nbsp;
    <div class="profile-pic profile-pic--seller" style="background-image: url(//gp1.wac.edgecastcdn.net/802892/production_public/Artist/335365/image/small/Photo_302.jpg);" alt="Frock"></div>
    &nbsp;
    <div class="profile-pic profile-pic--buyer-seller" style="background-image: url(//pbs.twimg.com/profile_images/378800000504047619/e16493b0b7a4f578a3be767e3cc105ed_400x400.jpeg);" alt="Frock"></div>
    &nbsp;
    <div class="profile-pic profile-pic--initials profile-pic--buyer">BT</div>
    &nbsp;
    <div class="profile-pic profile-pic--initials profile-pic--seller">RO</div>
    &nbsp;
    <div class="profile-pic profile-pic--initials profile-pic--buyer-seller">KZ</div>
  </div>
  <div class="pl-code">
    <pre class="prettyprint"><code>
&lt;div class="profile-pic profile-pic--buyer" style="background-image: url(//pbs.twimg.com/profile_images/1366993370/6090_400x400.png);" alt="Zach Schnackel"&gt;&lt;/div&gt;
&nbsp;
&lt;div class="profile-pic profile-pic--seller" style="background-image: url(//gp1.wac.edgecastcdn.net/802892/production_public/Artist/335365/image/small/Photo_302.jpg);" alt="Frock"&gt;&lt;/div&gt;
&nbsp;
&lt;div class="profile-pic profile-pic--buyer-seller" style="background-image: url(//pbs.twimg.com/profile_images/378800000504047619/e16493b0b7a4f578a3be767e3cc105ed_400x400.jpeg);" alt="Frock"&gt;&lt;/div&gt;
&nbsp;
&lt;div class="profile-pic profile-pic--initials profile-pic--buyer"&gt;BT&lt;/div&gt;
&nbsp;
&lt;div class="profile-pic profile-pic--initials profile-pic--seller"&gt;RO&lt;/div&gt;
&nbsp;
&lt;div class="profile-pic profile-pic--initials profile-pic--buyer-seller"&gt;KZ&lt;/div&gt;</code></pre>
  </div>

  <h3>Buyer/Seller Small</h3>

  <div class="pl-example pl-example-profile-pic">
    <div class="profile-pic profile-pic--sm profile-pic--buyer" style="background-image: url(//pbs.twimg.com/profile_images/1366993370/6090_400x400.png);" alt="Zach Schnackel"></div>
    &nbsp;
    <div class="profile-pic profile-pic--sm profile-pic--seller" style="background-image: url(//gp1.wac.edgecastcdn.net/802892/production_public/Artist/335365/image/small/Photo_302.jpg);" alt="Frock"></div>
    &nbsp;
    <div class="profile-pic profile-pic--sm profile-pic--buyer-seller" style="background-image: url(//pbs.twimg.com/profile_images/378800000504047619/e16493b0b7a4f578a3be767e3cc105ed_400x400.jpeg);" alt="Frock"></div>
    &nbsp;
    <div class="profile-pic profile-pic--sm profile-pic--initials profile-pic--buyer">BT</div>
    &nbsp;
    <div class="profile-pic profile-pic--sm profile-pic--initials profile-pic--seller">RO</div>
    &nbsp;
    <div class="profile-pic profile-pic--sm profile-pic--initials profile-pic--buyer-seller">KZ</div>
  </div>
  <div class="pl-code">
    <pre class="prettyprint"><code>
&lt;div class="profile-pic profile-pic--sm profile-pic--buyer" style="background-image: url(//pbs.twimg.com/profile_images/1366993370/6090_400x400.png);" alt="Zach Schnackel"&gt;&lt;/div&gt;
&nbsp;
&lt;div class="profile-pic profile-pic--sm profile-pic--seller" style="background-image: url(//gp1.wac.edgecastcdn.net/802892/production_public/Artist/335365/image/small/Photo_302.jpg);" alt="Frock"&gt;&lt;/div&gt;
&nbsp;
&lt;div class="profile-pic profile-pic--sm profile-pic--buyer-seller" style="background-image: url(//pbs.twimg.com/profile_images/378800000504047619/e16493b0b7a4f578a3be767e3cc105ed_400x400.jpeg);" alt="Frock"&gt;&lt;/div&gt;
&nbsp;
&lt;div class="profile-pic profile-pic--sm profile-pic--initials profile-pic--buyer"&gt;BT&lt;/div&gt;
&nbsp;
&lt;div class="profile-pic profile-pic--sm profile-pic--initials profile-pic--seller"&gt;RO&lt;/div&gt;
&nbsp;
&lt;div class="profile-pic profile-pic--sm profile-pic--initials profile-pic--buyer-seller"&gt;KZ&lt;/div&gt;</code></pre>
  </div>
</div>
