<!-- ================================== Progress bars ================================== -->


<div class="pl-docs-section">
  <h1 id="progressbars" class="page-header">Progress bars</h1>

  <p class="lead">Provide up-to-date feedback on the progress of a workflow or action with simple yet flexible progress bars.</p>

  <div class="callout callout-danger">
    <h4>Cross-browser compatibility</h4>
    <p>Progress bars use CSS3 transitions and animations to achieve some of their effects. These features are not supported in Internet Explorer 9 and below or older versions of Firefox. Opera 12 does not support animations.</p>
  </div>

  <h3>Solid color</h3>
  <p>Each progress bar requires a contextual color modifier class. <strong>Click on progress bars to view transitions.</strong></p>
  <div class="pl-example pl-example-progress-bar">

    <div class="progress-bar progress-bar--success">
      <div class="progress-bar__bar"></div>
    </div>
    <div class="progress-bar progress-bar--attention">
      <div class="progress-bar__bar"></div>
    </div>
    <div class="progress-bar progress-bar--info">
      <div class="progress-bar__bar"></div>
    </div>
    <div class="progress-bar progress-bar--warning">
      <div class="progress-bar__bar"></div>
    </div>
    <div class="progress-bar progress-bar--danger">
      <div class="progress-bar__bar"></div>
    </div>
    <div class="progress-bar progress-bar--primary">
      <div class="progress-bar__bar"></div>
    </div>
  </div>
  <div class="pl-code">
    <pre class="prettyprint"><code>&lt;div class="progress-bar progress-bar--success"&gt;
  &lt;div class="progress-bar__bar"&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;div class="progress-bar progress-bar--attention"&gt;
  &lt;div class="progress-bar__bar"&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;div class="progress-bar progress-bar--info"&gt;
  &lt;div class="progress-bar__bar"&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;div class="progress-bar progress-bar--warning"&gt;
  &lt;div class="progress-bar__bar"&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;div class="progress-bar progress-bar--danger"&gt;
  &lt;div class="progress-bar__bar"&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;div class="progress-bar progress-bar--primary"&gt;
  &lt;div class="progress-bar__bar"&gt;&lt;/div&gt;
&lt;/div&gt;</code></pre>
  </div>

  <h3>Gradient color</h3>
  <p>Used to communicate status along with progress. <strong>Click on progress bars to view transitions.</strong></p>
  <div class="pl-example pl-example-progress-bar">
    <p>Brand success to brand danger</p>
    <div class="progress-bar progress-bar--success-to-danger">
      <div class="progress-bar__bar"></div>
    </div>
  </div>
  <div class="pl-code">
    <pre class="prettyprint"><code>&lt;div class="progress-bar progress-bar--success-to-danger"&gt;
  &lt;div class="progress-bar__bar"&gt;&lt;/div&gt;
&lt;/div&gt;</code></pre>
  </div>

  <h3>Sizes</h3>
  <p>Fancy larger or smaller progress bars? Add <code>.progress-bar--lg</code>,<code>.progress-bar--sm</code>, or <code>.progress-bar--xs</code> modifier classes.</p>
  <div class="pl-example pl-example-progress-bar">
    <p>Extra small</p>
    <div class="progress-bar progress-bar--success progress-bar--xs">
      <div class="progress-bar__bar"></div>
    </div>
    <p>Small</p>
    <div class="progress-bar progress-bar--success progress-bar--sm">
      <div class="progress-bar__bar"></div>
    </div>
    <p>Default</p>
    <div class="progress-bar progress-bar--success">
      <div class="progress-bar__bar"></div>
    </div>
    <p>Large</p>
    <div class="progress-bar progress-bar--success progress-bar--lg">
      <div class="progress-bar__bar"></div>
    </div>
  </div>
  <div class="pl-code">
    <pre class="prettyprint"><code>&lt;div class="progress-bar progress-bar--success progress-bar--xs"&gt;
  &lt;div class="progress-bar__bar"&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;div class="progress-bar progress-bar--success progress-bar--sm"&gt;
  &lt;div class="progress-bar__bar"&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;div class="progress-bar progress-bar--success"&gt;
  &lt;div class="progress-bar__bar"&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;div class="progress-bar progress-bar--success progress-bar--lg"&gt;
  &lt;div class="progress-bar__bar"&gt;&lt;/div&gt;
&lt;/div&gt;</code></pre>
  </div>

  <h3>Labels</h3>
  <p>Labels on progress bars.</p>
  <div class="callout callout-info">
    <h4>Javascript</h4>
    <p>For <strong>demonstration purposes</strong>, Javascript was used to prevent labels from being hidden at low percentages. The script is not bundled in Boomstrap's output.</p>
  </div>
  <div class="pl-example pl-example-progress-bar">
    <p>Small</p>
    <div class="progress-bar progress-bar--success progress-bar--sm">
      <div class="progress-bar__bar">
        <div class="progress-bar__bar__label">60%</div>
      </div>
    </div>
    <p>Default</p>
    <div class="progress-bar progress-bar--info">
      <div class="progress-bar__bar">
        <div class="progress-bar__bar__label">60%</div>
      </div>
    </div>
    <p>Large</p>
    <div class="progress-bar progress-bar--attention progress-bar--lg">
      <div class="progress-bar__bar">
        <div class="progress-bar__bar__label">60%</div>
      </div>
    </div>
  </div>
  <div class="pl-code">
    <pre class="prettyprint"><code>&lt;div class="progress-bar progress-bar--success progress-bar--sm"&gt;
  &lt;div class="progress-bar__bar"&gt;
    &lt;div class="progress-bar__bar__label"&gt;0%&lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;div class="progress-bar progress-bar--info"&gt;
  &lt;div class="progress-bar__bar"&gt;
    &lt;div class="progress-bar__bar__label"&gt;0%&lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;div class="progress-bar progress-bar--attention progress-bar--lg"&gt;
  &lt;div class="progress-bar__bar"&gt;
    &lt;div class="progress-bar__bar__label"&gt;0%&lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
</div>

</div>