<!-- ================================== Sashes ================================== -->


<!-- Sashes (Boomstrap Custom) -->
<div class="pl-docs-section">
  <h1 id="sashes" class="page-header">Sashes</h1>
  <p>Sashes for showing property status.</p>
  <div class="pl-example pl-sashes">
    <div class="sash sash-back">Back <span class="sash-time">10 mins ago</span></div>
    <div class="sash sash-new">New <span class="sash-time">10 mins ago</span></div>
    <div class="sash sash-off">Off <span class="sash-time">14 days ago</span></div>
    <div class="sash sash-reduced"><svg class="icon icon-arrow-down"><use xlink:href="#icon-arrow-down"/></svg>$35,000 (10%) <span class="sash-time">10 mins ago</span></div>
  </div>
  <div class="pl-code">
    <pre class="prettyprint"><code>&lt;!-- Back on the market --&gt;
&lt;div class="sash sash-back"&gt;Back &lt;span class="sash-time"&gt;10 mins ago&lt;/span&gt;&lt;/div&gt;

&lt;!-- New on the market --&gt;
&lt;div class="sash sash-new"&gt;New &lt;span class="sash-time"&gt;10 mins ago&lt;/span&gt;&lt;/div&gt;

&lt;!-- Off the market --&gt;
&lt;div class="sash sash-off"&gt;Off &lt;span class="sash-time"&gt;14 days ago&lt;/span&gt;&lt;/div&gt;

&lt;!-- Priced reduced --&gt;
&lt;div class="sash sash-reduced"&gt;&lt;svg class="icon icon-arrow-down"&gt;&lt;use xlink:href="#icon-arrow-down"/&gt;&lt;/svg&gt; $35,000 (10%) &lt;span class="sash-time"&gt;10 mins ago&lt;/span&gt;&lt;/div&gt;</code></pre>
  </div>

</div>