<!-- ================================== Scores ================================== -->

<!-- Scores (Boomstrap Custom) -->
<div class="pl-docs-section">
  <h1 id="scores" class="page-header">Scores</h1>
  <h2>Options</h2>
  <p>Color options for ranking / scoring data.</p>
  <div class="pl-example">
    <span class="score score-excellent">99</span>
    <span class="score score-good">75</span>
    <span class="score score-average">50</span>
    <span class="score">25</span>
  </div>
  <div class="pl-code">
    <pre class="prettyprint"><code>&lt;span class="score score-excellent"&gt;99&lt;/span&gt;
&lt;span class="score score-good"&gt;75&lt;/span&gt;
&lt;span class="score score-average"&gt;50&lt;/span&gt;
&lt;span class="score"&gt;25&lt;/span&gt;</code></pre>
  </div>

  <h2>Sizes</h2>
  <p>Fancy larger or smaller scores? Add <code>.score-lg</code>, <code>.score-sm</code>, or <code>.score-xs</code> for additional sizes.</p>
  <div class="pl-example">
  	<p>
	    <span class="score score-excellent score-lg">99</span>
	    <span class="score score-good score-lg">75</span>
	    <span class="score score-average score-lg">50</span>
	    <span class="score score-lg">25</span>
    </p>
    <p>
    	<span class="score score-excellent">99</span>
	    <span class="score score-good">75</span>
	    <span class="score score-average">50</span>
	    <span class="score">25</span>
    </p>
    <p>
	    <span class="score score-excellent score-sm">99</span>
	    <span class="score score-good score-sm">75</span>
	    <span class="score score-average score-sm">50</span>
	    <span class="score score-sm">25</span>
    </p>
    <p>
	    <span class="score score-excellent score-xs">99</span>
	    <span class="score score-good score-xs">75</span>
	    <span class="score score-average score-xs">50</span>
	    <span class="score score-xs">25</span>
    </p>
  </div>
  <div class="pl-code">
    <pre class="prettyprint"><code>&lt;!-- Large score --&gt;
&lt;p&gt;
  &lt;span class="score score-excellent score-lg"&gt;99&lt;/span&gt;
  &lt;span class="score score-good score-lg"&gt;75&lt;/span&gt;
  &lt;span class="score score-average score-lg"&gt;50&lt;/span&gt;
  &lt;span class="score score-lg"&gt;25&lt;/span&gt;
&lt;/p&gt;

&lt;!-- Default score --&gt;
&lt;p&gt;
  &lt;span class="score score-excellent"&gt;99&lt;/span&gt;
  &lt;span class="score score-good"&gt;75&lt;/span&gt;
  &lt;span class="score score-average"&gt;50&lt;/span&gt;
  &lt;span class="score"&gt;25&lt;/span&gt;
&lt;/p&gt;

&lt;!-- Small score --&gt;
&lt;p&gt;
  &lt;span class="score score-excellent score-sm"&gt;99&lt;/span&gt;
  &lt;span class="score score-good score-sm"&gt;75&lt;/span&gt;
  &lt;span class="score score-average score-sm"&gt;50&lt;/span&gt;
  &lt;span class="score score-sm"&gt;25&lt;/span&gt;
&lt;/p&gt;

&lt;!-- Extra small score --&gt;
&lt;p&gt;
  &lt;span class="score score-excellent score-xs"&gt;99&lt;/span&gt;
  &lt;span class="score score-good score-xs"&gt;75&lt;/span&gt;
  &lt;span class="score score-average score-xs"&gt;50&lt;/span&gt;
  &lt;span class="score score-xs"&gt;25&lt;/span&gt;
&lt;/p&gt;</code></pre>
  </div>

</div>