<!-- ================================== Set To-Do ================================== -->

<!-- Set To-Do (Boomstrap Custom) -->

<div class="pl-docs-section">
  <h1 id="set-to-do" class="page-header">Set to-do</h1>
  <p class="lead">Modular component for setting up a to-do task. Uses <a href="javascript.html#element-query">BoomQueries</a> to apply <strong>size</strong> modifier classes.</p>

  <div class="callout callout-danger pl-callout-boomqueries">
    <h4>BoomQuery Values</h4>
    <div class="fauxble fauxble-bordered">
      <div class="fauxble-headings">
        <div class="col-xs-6 col-sm-4">Breakpoint</div>
        <div class="col-xs-6 col-sm-8">Size Modifier Class</div>
      </div>
      <div class="fauxble-row">
        <div class="col-xs-6 col-sm-4">>= 420px</div>
        <div class="col-xs-6 col-sm-8">set-to-do--sm</div>
      </div>
    </div>
  </div>

  <h2>Basic set to-do example</h2>
  <p>This is the basic construction of the set to-do component.</p>

  <div class="pl-example pl-example-set-to-do">

    <div class="set-to-do">
      <div class="set-to-do__body">
        <div class="set-to-do__date">Friday, October 10, 2014</div>
        <div class="set-to-do__date-btns">
          <button class="btn btn-default active">Today</button>
          <button class="btn btn-default">Tomorrow</button>
          <button class="btn btn-default">2 Days</button>
          <button class="btn btn-default">3 Days</button>
          <button class="btn btn-default">1 Week</button>
          <button class="btn btn-default">2 Weeks</button>
          <button class="btn btn-default">3 Weeks</button>
          <button class="btn btn-default">1 Month</button>
          <button class="btn btn-default btn-block"><i class="ficon ficon-schedule"></i> Select Date</a>
        </div>
        <div class="set-to-do__time">
          <span id="set-to-do__time__radios">
            <div class="set-to-do__time__radio fauxdio fauxdio-inline">
              <input id="to-do-anytime" type="radio" name="set-to-do-time" checked>
              <label for="to-do-anytime">Anytime</label>
            </div>
            <div class="set-to-do__time__radio fauxdio fauxdio-inline">
              <input id="to-do-specific-time" type="radio" name="set-to-do-time">
              <label for="to-do-specific-time">Specific Time</label>
            </div>
          </span>
          <span id="set-to-do__time__opts" class="set-to-do__time__opts hide">
            <select class="selectpicker" data-style="btn-default btn-xs" data-width="50px">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
            </select>
            <select class="selectpicker" data-style="btn-default btn-xs" data-width="50px">
              <option>00</option>
              <option>15</option>
              <option>30</option>
              <option>45</option>
            </select>
            <select class="selectpicker" data-style="btn-default btn-xs" data-width="54px">
              <option>am</option>
              <option>pm</option>
            </select>
          </span>
        </div>
        <div class="set-to-do__category">
          <select class="selectpicker" data-style="btn-default btn-sm" data-width="100%">
            <option>Follow-up</option>
            <option>Call</option>
            <option>Email</option>
            <option>Fax</option>
            <option>Mail</option>
            <option>Meeting</option>
            <option>Arrival Date</option>
            <option>Showing</option>
            <option>Closing</option>
            <option>Open House</option>
            <option>Thank You</option>
          </select>
        </div>
        <div class="set-to-do__comments">
          <textarea class="form-control" rows="3" placeholder="Optional details"></textarea>
        </div>
        <div class="set-to-do__assign">
          <p class="small">Assign To-Do to:</p>
          <select class="selectpicker form-control" data-style="btn-default btn-sm" data-width="100%">
            <option>Sean McCambridge (assassin)</option>
            <option>Mark Funk (overlord)</option>
            <option>Geore Mountis (joker)</option>
          </select>
        </div>
      </div> <!-- end set-to-do__body -->
    </div> <!-- end set-to-do -->

  </div><!-- /example -->
  <div class="pl-code">
    <pre class="prettyprint"><code>&lt;div class="set-to-do"&gt;
  &lt;div class="set-to-do__body"&gt;
    &lt;div class="set-to-do__date"&gt;Friday, October 10, 2014&lt;/div&gt;
    &lt;div class="set-to-do__date-btns"&gt;
      &lt;button class="btn btn-default active"&gt;Today&lt;/button&gt;
      &lt;button class="btn btn-default"&gt;Tomorrow&lt;/button&gt;
      &lt;button class="btn btn-default"&gt;2 Days&lt;/button&gt;
      &lt;button class="btn btn-default"&gt;3 Days&lt;/button&gt;
      &lt;button class="btn btn-default"&gt;1 Week&lt;/button&gt;
      &lt;button class="btn btn-default"&gt;2 Weeks&lt;/button&gt;
      &lt;button class="btn btn-default"&gt;3 Weeks&lt;/button&gt;
      &lt;button class="btn btn-default"&gt;1 Month&lt;/button&gt;
      &lt;button class="btn btn-default btn-block"&gt;&lt;i class="ficon ficon-schedule"&gt;&lt;/i&gt; Select Date&lt;/a&gt;
    &lt;/div&gt;
    &lt;div class="set-to-do__time"&gt;
      &lt;span id="set-to-do__time__radios"&gt;
        &lt;div class="set-to-do__time__radio fauxdio fauxdio-inline"&gt;
          &lt;input id="to-do-anytime" type="radio" name="set-to-do-time" checked&gt;
          &lt;label for="to-do-anytime"&gt;Anytime&lt;/label&gt;
        &lt;/div&gt;
        &lt;div class="set-to-do__time__radio fauxdio fauxdio-inline"&gt;
          &lt;input id="to-do-specific-time" type="radio" name="set-to-do-time"&gt;
          &lt;label for="to-do-specific-time"&gt;Specific Time&lt;/label&gt;
        &lt;/div&gt;
      &lt;/span&gt;
      &lt;span id="set-to-do__time__opts" class="set-to-do__time__opts hide"&gt;
        &lt;select class="selectpicker" data-style="btn-default btn-xs" data-width="50px"&gt;
          &lt;option&gt;1&lt;/option&gt;
          &lt;option&gt;2&lt;/option&gt;
          &lt;option&gt;3&lt;/option&gt;
          &lt;option&gt;4&lt;/option&gt;
          &lt;option&gt;5&lt;/option&gt;
          &lt;option&gt;6&lt;/option&gt;
          &lt;option&gt;7&lt;/option&gt;
          &lt;option&gt;8&lt;/option&gt;
          &lt;option&gt;9&lt;/option&gt;
          &lt;option&gt;10&lt;/option&gt;
          &lt;option&gt;11&lt;/option&gt;
          &lt;option&gt;12&lt;/option&gt;
        &lt;/select&gt;
        &lt;select class="selectpicker" data-style="btn-default btn-xs" data-width="50px"&gt;
          &lt;option&gt;00&lt;/option&gt;
          &lt;option&gt;15&lt;/option&gt;
          &lt;option&gt;30&lt;/option&gt;
          &lt;option&gt;45&lt;/option&gt;
        &lt;/select&gt;
        &lt;select class="selectpicker" data-style="btn-default btn-xs" data-width="54px"&gt;
          &lt;option&gt;am&lt;/option&gt;
          &lt;option&gt;pm&lt;/option&gt;
        &lt;/select&gt;
      &lt;/span&gt;
    &lt;/div&gt;
    &lt;div class="set-to-do__category"&gt;
      &lt;select class="selectpicker" data-style="btn-default btn-sm" data-width="100%"&gt;
        &lt;option&gt;Follow-up&lt;/option&gt;
        &lt;option&gt;Call&lt;/option&gt;
        &lt;option&gt;Email&lt;/option&gt;
        &lt;option&gt;Fax&lt;/option&gt;
        &lt;option&gt;Mail&lt;/option&gt;
        &lt;option&gt;Meeting&lt;/option&gt;
        &lt;option&gt;Arrival Date&lt;/option&gt;
        &lt;option&gt;Showing&lt;/option&gt;
        &lt;option&gt;Closing&lt;/option&gt;
        &lt;option&gt;Open House&lt;/option&gt;
        &lt;option&gt;Thank You&lt;/option&gt;
      &lt;/select&gt;
    &lt;/div&gt;
    &lt;div class="set-to-do__comments"&gt;
      &lt;textarea class="form-control" rows="3" placeholder="Optional details"&gt;&lt;/textarea&gt;
    &lt;/div&gt;
    &lt;div class="set-to-do__assign"&gt;
      &lt;p class="small"&gt;Assign To-Do to:&lt;/p&gt;
      &lt;select class="selectpicker form-control" data-style="btn-default btn-sm" data-width="100%"&gt;
        &lt;option&gt;Sean McCambridge (assassin)&lt;/option&gt;
        &lt;option&gt;Mark Funk (overlord)&lt;/option&gt;
        &lt;option&gt;Geore Mountis (joker)&lt;/option&gt;
      &lt;/select&gt;
    &lt;/div&gt;
  &lt;/div&gt; &lt;!-- end set-to-do__body --&gt;
&lt;/div&gt; &lt;!-- end set-to-do --&gt;</code></pre>
  </div>

  <div class="callout callout-danger">
    <h4>Interaction note</h4>
    <p>When a <strong>set to-do date button</strong> is clicked, it should receive the <code>.active</code> class and change the displayed date accordingly.<br>When <strong>specific time is checked</strong>, the <code>.hide</code> class should be removed from <code>.set-to-do__time__opts</code>.</p>
  </div>

  <h2>Set to-do in modal</h2>
  <p>This is the set to-do component wrapped in a small modal. Add the <code>.set-to-do--modal</code> modifier class to the existing <code>.set-to-do</code> class.</p>

  <div class="pl-example pl-example-modal">

    <div class="modal set-to-do set-to-do--modal set-to-do--modal-sm">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"><i class="ficon ficon-clipboard"></i> To-Do: April Summers</h4>
          </div>
          <div class="modal-body set-to-do__body">
            <div class="set-to-do__date">Friday, October 10, 2014</div>
            <div class="set-to-do__date-btns">
              <button class="btn btn-default active">Today</button>
              <button class="btn btn-default">Tomorrow</button>
              <button class="btn btn-default">2 Days</button>
              <button class="btn btn-default">3 Days</button>
              <button class="btn btn-default">1 Week</button>
              <button class="btn btn-default">2 Weeks</button>
              <button class="btn btn-default">3 Weeks</button>
              <button class="btn btn-default">1 Month</button>
              <button class="btn btn-default btn-block"><i class="ficon ficon-schedule"></i> Select Date</a>
            </div>
            <div class="set-to-do__time">
              <span id="set-to-do__time__radios2" class="set-to-do__time__radios">
                <div class="set-to-do__time__radio fauxdio fauxdio-inline">
                  <input id="to-do-anytime2" type="radio" name="set-to-do-time2" checked>
                  <label for="to-do-anytime2">Anytime</label>
                </div>
                <div class="set-to-do__time__radio fauxdio fauxdio-inline">
                  <input id="to-do-specific-time2" type="radio" name="set-to-do-time2">
                  <label for="to-do-specific-time2">Specific Time</label>
                </div>
              </span>
              <span id="set-to-do__time__opts2" class="set-to-do__time__opts hide">
                <select class="selectpicker" data-style="btn-default btn-xs" data-width="50px">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                  <option>10</option>
                  <option>11</option>
                  <option>12</option>
                </select>
                <select class="selectpicker" data-style="btn-default btn-xs" data-width="50px">
                  <option>00</option>
                  <option>15</option>
                  <option>30</option>
                  <option>45</option>
                </select>
                <select class="selectpicker" data-style="btn-default btn-xs" data-width="54px">
                  <option>am</option>
                  <option>pm</option>
                </select>
              </span>
            </div>
            <div class="set-to-do__category">
              <select class="selectpicker" data-style="btn-default btn-sm" data-width="100%">
                <option>Follow-up</option>
                <option>Call</option>
                <option>Email</option>
                <option>Fax</option>
                <option>Mail</option>
                <option>Meeting</option>
                <option>Arrival Date</option>
                <option>Showing</option>
                <option>Closing</option>
                <option>Open House</option>
                <option>Thank You</option>
              </select>
            </div>
            <div class="set-to-do__comments">
              <textarea class="form-control" rows="3" placeholder="Optional details"></textarea>
            </div>
            <div class="set-to-do__assign">
              <p class="small">Assign To-Do to:</p>
              <select class="selectpicker" data-style="btn-default btn-sm" data-width="100%">
                <option>Sean McCambridge (assassin)</option>
                <option>Mark Funk (overlord)</option>
                <option>Geore Mountis (joker)</option>
              </select>
            </div>
          </div> <!-- end set-to-do__body -->
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
    </div> <!-- end set-to-do -->

  </div><!-- /example -->
  <div class="pl-code">
    <pre class="prettyprint"><code>&lt;div class="modal set-to-do set-to-do--modal set-to-do--modal-sm"&gt;
  &lt;div class="modal-dialog modal-sm"&gt;
    &lt;div class="modal-content"&gt;
      &lt;div class="modal-header"&gt;
        &lt;button type="button" class="close" data-dismiss="modal" aria-hidden="true"&gt;&times;&lt;/button&gt;
        &lt;h4 class="modal-title"&gt;&lt;i class="ficon ficon-clipboard"&gt;&lt;/i&gt; To-Do: April Summers&lt;/h4&gt;
      &lt;/div&gt;
      &lt;div class="modal-body set-to-do__body"&gt;
        &lt;div class="set-to-do__date"&gt;Friday, October 10, 2014&lt;/div&gt;
        &lt;div class="set-to-do__date-btns"&gt;
          &lt;button class="btn btn-default active"&gt;Today&lt;/button&gt;
          &lt;button class="btn btn-default"&gt;Tomorrow&lt;/button&gt;
          &lt;button class="btn btn-default"&gt;2 Days&lt;/button&gt;
          &lt;button class="btn btn-default"&gt;3 Days&lt;/button&gt;
          &lt;button class="btn btn-default"&gt;1 Week&lt;/button&gt;
          &lt;button class="btn btn-default"&gt;2 Weeks&lt;/button&gt;
          &lt;button class="btn btn-default"&gt;3 Weeks&lt;/button&gt;
          &lt;button class="btn btn-default"&gt;1 Month&lt;/button&gt;
          &lt;button class="btn btn-default btn-block"&gt;&lt;i class="ficon ficon-schedule"&gt;&lt;/i&gt; Select Date&lt;/a&gt;
        &lt;/div&gt;
        &lt;div class="set-to-do__time"&gt;
          &lt;span id="set-to-do__time__radios" class="set-to-do__time__radios"&gt;
            &lt;div class="set-to-do__time__radio fauxdio fauxdio-inline"&gt;
              &lt;input id="to-do-anytime" type="radio" name="set-to-do-time" checked&gt;
              &lt;label for="to-do-anytime"&gt;Anytime&lt;/label&gt;
            &lt;/div&gt;
            &lt;div class="set-to-do__time__radio fauxdio fauxdio-inline"&gt;
              &lt;input id="to-do-specific-time" type="radio" name="set-to-do-time"&gt;
              &lt;label for="to-do-specific-time"&gt;Specific Time&lt;/label&gt;
            &lt;/div&gt;
          &lt;/span&gt;
          &lt;span id="set-to-do__time__opts" class="set-to-do__time__opts hide"&gt;
            &lt;select class="selectpicker" data-style="btn-default btn-xs" data-width="50px"&gt;
              &lt;option&gt;1&lt;/option&gt;
              &lt;option&gt;2&lt;/option&gt;
              &lt;option&gt;3&lt;/option&gt;
              &lt;option&gt;4&lt;/option&gt;
              &lt;option&gt;5&lt;/option&gt;
              &lt;option&gt;6&lt;/option&gt;
              &lt;option&gt;7&lt;/option&gt;
              &lt;option&gt;8&lt;/option&gt;
              &lt;option&gt;9&lt;/option&gt;
              &lt;option&gt;10&lt;/option&gt;
              &lt;option&gt;11&lt;/option&gt;
              &lt;option&gt;12&lt;/option&gt;
            &lt;/select&gt;
            &lt;select class="selectpicker" data-style="btn-default btn-xs" data-width="50px"&gt;
              &lt;option&gt;00&lt;/option&gt;
              &lt;option&gt;15&lt;/option&gt;
              &lt;option&gt;30&lt;/option&gt;
              &lt;option&gt;45&lt;/option&gt;
            &lt;/select&gt;
            &lt;select class="selectpicker" data-style="btn-default btn-xs" data-width="54px"&gt;
              &lt;option&gt;am&lt;/option&gt;
              &lt;option&gt;pm&lt;/option&gt;
            &lt;/select&gt;
          &lt;/span&gt;
        &lt;/div&gt;
        &lt;div class="set-to-do__category"&gt;
          &lt;select class="selectpicker" data-style="btn-default btn-sm" data-width="100%"&gt;
            &lt;option&gt;Follow-up&lt;/option&gt;
            &lt;option&gt;Call&lt;/option&gt;
            &lt;option&gt;Email&lt;/option&gt;
            &lt;option&gt;Fax&lt;/option&gt;
            &lt;option&gt;Mail&lt;/option&gt;
            &lt;option&gt;Meeting&lt;/option&gt;
            &lt;option&gt;Arrival Date&lt;/option&gt;
            &lt;option&gt;Showing&lt;/option&gt;
            &lt;option&gt;Closing&lt;/option&gt;
            &lt;option&gt;Open House&lt;/option&gt;
            &lt;option&gt;Thank You&lt;/option&gt;
          &lt;/select&gt;
        &lt;/div&gt;
        &lt;div class="set-to-do__comments"&gt;
          &lt;textarea class="form-control" rows="3" placeholder="Optional details"&gt;&lt;/textarea&gt;
        &lt;/div&gt;
        &lt;div class="set-to-do__assign"&gt;
          &lt;p class="small"&gt;Assign To-Do to:&lt;/p&gt;
          &lt;select class="selectpicker" data-style="btn-default btn-sm" data-width="100%"&gt;
            &lt;option&gt;Sean McCambridge (assassin)&lt;/option&gt;
            &lt;option&gt;Mark Funk (overlord)&lt;/option&gt;
            &lt;option&gt;Geore Mountis (joker)&lt;/option&gt;
          &lt;/select&gt;
        &lt;/div&gt;
      &lt;/div&gt; &lt;!-- end set-to-do__body --&gt;
      &lt;div class="modal-footer"&gt;
        &lt;button type="button" class="btn btn-default" data-dismiss="modal"&gt;Close&lt;/button&gt;
        &lt;button type="button" class="btn btn-primary"&gt;Save&lt;/button&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt; &lt;!-- end set-to-do --&gt;</code></pre>
  </div>
</div>
