<!-- ================================== Set To-Do ================================== -->

<!-- Set To-Do (Boomstrap Custom) -->

<div class="pl-docs-section">
  <h1 id="set-to-do" class="page-header">Set to-do</h1>
  <p class="lead">Modular component for setting up a to-do task.</p>

  <h2>Basic set to-do example</h2>
  <p>This is the basic construction of the set to-do component.</p>

  <div class="pl-example pl-example-set-to-do">

    <div class="set-to-do">
      <div class="set-to-do__body">
      </div> <!-- end set-to-do__body -->
    </div> <!-- end set-to-do -->

  </div><!-- /example -->
  <div class="pl-code">
    <pre class="prettyprint"><code></code></pre>
  </div>

  <h2>Set to-do in small modal</h2>
  <p>This is the log call component wrapped in a small modal. Add the <code>.log-call--modal-sm</code> modifier class to the <code>.log-call</code> class.</p>

  <div class="callout callout-info">
    <h4>Set to-do in modals</h4>
    <p>When using the set to-do component in a default or large modal, simple add the <code>.set-to-do--modal</code> class to the <code>.set-to-do</code> class.</p>
  </div>

  <div class="pl-example pl-example-modal">

    <div class="modal set-to-do set-to-do--modal set-to-do--modal-sm">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"><i class="ficon ficon-clipboard"></i> To-Do: April Summers</h4>
          </div>
          <div class="modal-body set-to-do__body">
            
          </div> <!-- end set-to-do__body -->
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

  </div><!-- /example -->
  <div class="pl-code">
    <pre class="prettyprint"><code></code></pre>
  </div>
</div>