<!-- ================================== Switchers ================================== -->

<!-- Switchers (Boomstrap Custom) -->

<div class="pl-docs-section">
  <h1 id="switchers" class="page-header">Switchers</h1>
  <p class="lead">Toggle switches.</p>

  <h3>Default switcher</h3>
  <div class="pl-example bg-gray-lighter">

    <div class="switcher">
      <input type="checkbox" class="switcher__input" id="switcher-demo">
      <label class="switcher__label" for="switcher-demo">
        <div class="switcher__inner">
          <div class="switcher__on"><i class="ficon ficon-checkmark"></i></div>
          <div class="switcher__off"><i class="ficon ficon-cross"></i></div>
        </div>
      </label>
    </div>

  </div><!-- /example -->
  <div class="pl-code">
    <pre class="prettyprint"><code></code></pre>
  </div>

  <h3>Small switcher</h3>
  <div class="pl-example bg-gray-lighter">
    <div class="switcher switcher--sm">
      <input type="checkbox" class="switcher__input" id="switcher-sm-demo">
      <label class="switcher__label switcher__label--sm" for="switcher-sm-demo">
        <div class="switcher__inner">
          <div class="switcher__on"><i class="ficon ficon-checkmark"></i></div>
          <div class="switcher__off"><i class="ficon ficon-cross"></i></div>
        </div>
      </label>
    </div>
  </div><!-- /example -->
  <div class="pl-code">
    <pre class="prettyprint"><code></code></pre>
  </div>

</div>