<!-- ================================== Switchers ================================== -->

<!-- Switchers (Boomstrap Custom) -->

<div class="pl-docs-section">
  <h1 id="switchers" class="page-header">Switchers</h1>
  <p class="lead">Toggle switches.</p>

  <h3>Default switcher</h3>
  <p>The switcher is ON when the switcher's input selector (<code>.switcher__input</code>) is "checked."</p>
  <div class="pl-example bg-gray-lighter">
    <div class="switcher">
      <input type="checkbox" checked class="switcher__input" id="switcher-demo">
      <label class="switcher__label" for="switcher-demo">
        <div class="switcher__inner">
          <div class="switcher__on"><svg class="icon icon-checkmark"><use xlink:href="icons/sprite.svg#checkmark"/></svg></div>
          <div class="switcher__off"><svg class="icon icon-cross"><use xlink:href="icons/sprite.svg#cross"/></svg></div>
        </div>
      </label>
    </div>
  </div><!-- /example -->
  <div class="pl-code">
    <pre class="prettyprint"><code>&lt;div class="switcher"&gt;
  &lt;input type="checkbox" checked class="switcher__input" id="switcher-demo"&gt;
  &lt;label class="switcher__label" for="switcher-demo"&gt;
    &lt;div class="switcher__inner"&gt;
      &lt;div class="switcher__on"&gt;&lt;svg class="icon icon-checkmark"&gt;&lt;use xlink:href="icons/sprite.svg#checkmark"/&gt;&lt;/svg&gt;&lt;/div&gt;
      &lt;div class="switcher__off"&gt;&lt;svg class="icon icon-cross"&gt;&lt;use xlink:href="icons/sprite.svg#cross"/&gt;&lt;/svg&gt;&lt;/div&gt;
    &lt;/div&gt;
  &lt;/label&gt;
&lt;/div&gt;</code></pre>
  </div>

  <h3>Small switcher</h3>
  <p>Smaller verstion of the switcher. Add <code>.switcher--sm</code> modifier class to the <code>.switcher</code> class. Add <code>.switcher__label--sm</code> modifier class to the <code>.switcher__label</code> class.</p>
  <div class="pl-example bg-gray-lighter">
    <div class="switcher switcher--sm">
      <input type="checkbox" class="switcher__input" id="switcher-sm-demo">
      <label class="switcher__label switcher__label--sm" for="switcher-sm-demo">
        <div class="switcher__inner">
          <div class="switcher__on"><svg class="icon icon-checkmark"><use xlink:href="icons/sprite.svg#checkmark"/></svg></div>
          <div class="switcher__off"><svg class="icon icon-cross"><use xlink:href="icons/sprite.svg#cross"/></svg></div>
        </div>
      </label>
    </div>
  </div><!-- /example -->
  <div class="pl-code">
    <pre class="prettyprint"><code>&lt;div class="switcher switcher--sm"&gt;
  &lt;input type="checkbox" class="switcher__input" id="switcher-sm-demo"&gt;
  &lt;label class="switcher__label switcher__label--sm" for="switcher-sm-demo"&gt;
    &lt;div class="switcher__inner"&gt;
      &lt;div class="switcher__on"&gt;&lt;svg class="icon icon-checkmark"&gt;&lt;use xlink:href="icons/sprite.svg#checkmark"/&gt;&lt;/svg&gt;&lt;/div&gt;
      &lt;div class="switcher__off"&gt;&lt;svg class="icon icon-cross"&gt;&lt;use xlink:href="icons/sprite.svg#cross"/&gt;&lt;/svg&gt;&lt;/div&gt;
    &lt;/div&gt;
  &lt;/label&gt;
&lt;/div&gt;</code></pre>
  </div>

  <h3>Disabled switcher</h3>
  <p>Make buttons look unclickable by fading them back 50%. Add <code>.switcher--disabled</code> modifier class to the <code>.switcher</code> class. </p>
  <div class="pl-example bg-gray-lighter">
    <div class="switcher switcher--disabled">
      <input type="checkbox" checked class="switcher__input" id="switcher-demo">
      <label class="switcher__label" for="switcher-demo">
        <div class="switcher__inner">
          <div class="switcher__on"><svg class="icon icon-checkmark"><use xlink:href="icons/sprite.svg#checkmark"/></svg></div>
          <div class="switcher__off"><svg class="icon icon-cross"><use xlink:href="icons/sprite.svg#cross"/></svg></div>
        </div>
      </label>
    </div>
    <div class="switcher switcher--sm switcher--disabled">
      <input type="checkbox" checked class="switcher__input" id="switcher-sm-demo">
      <label class="switcher__label switcher__label--sm" for="switcher-sm-demo">
        <div class="switcher__inner">
          <div class="switcher__on"><svg class="icon icon-checkmark"><use xlink:href="icons/sprite.svg#checkmark"/></svg></div>
          <div class="switcher__off"><svg class="icon icon-cross"><use xlink:href="icons/sprite.svg#cross"/></svg></div>
        </div>
      </label>
    </div>
  </div><!-- /example -->
  <div class="pl-code">
    <pre class="prettyprint"><code>&lt;div class="switcher switcher--disabled"&gt;...&lt;/div&gt;
&lt;div class="switcher switcher--sm switcher--disabled"&gt;...&lt;/div&gt;
    </code></pre>
  </div>
</div>