<!-- ================================== Texting ================================== -->

<!-- Texting (Boomstrap Custom) -->

<div class="pl-docs-section">
  <h1 id="texting" class="page-header">Texting</h1>
  <p class="lead">Modular component for texting.</p>

  <h2>Basic texting example</h2>
  <p>This is the basic construction of the texting component. In proper mobile-first fashion, the texting component begins in a stacked layout.</p>

  <div class="callout callout-attention">
    <h4>Texting Character Count</h4>
    <p>When the texting character count <code>texting__charcount</code> drops below 10, add the color modifier class <code>texting__charcount--danger</code> to indicate that remaining characters are limited.</p>
  </div>
  

  <div class="pl-example pl-example-texting">

    <div class="texting">
      <div class="texting__body">
        <div class="texting__convo">
          <div class="texting__convo__inner">
            <div class="texting__msg">
                <div class="texting__msg__time">Thursday 6:00 pm</div>
                <div class="texting__msg__bubble">
                  C'mon, throw in a buck!
                  <aside class="texting__msg__bubble__avatar">
                    <svg class="icon icon-user"><use xlink:href="icons/sprite.svg#user"/></svg>
                  </aside>
                </div>
            </div> <!-- end texting__msg -->
            <div class="texting__msg texting__msg--user">
                <div class="texting__msg__time">Thursday 6:01 pm</div>
                <div class="texting__msg__bubble">
                  Uh-uh, I don't tip.
                  <aside class="texting__msg__bubble__avatar">
                    <img src="images/fpo-avatar.jpg">
                  </aside>
                </div>
            </div> <!-- end texting__msg -->
            <div class="texting__msg">
                <div class="texting__msg__time">Thursday 6:02 pm</div>
                <div class="texting__msg__bubble">
                  You don't tip?
                  <aside class="texting__msg__bubble__avatar">
                    <svg class="icon icon-user"><use xlink:href="icons/sprite.svg#user"/></svg>
                  </aside>
                </div>
            </div> <!-- end texting__msg -->
            <div class="texting__msg texting__msg--user">
                <div class="texting__msg__time">Thursday 6:03 pm</div>
                <div class="texting__msg__bubble texting__msg__bubble--error">
                  Nah, I don't believe in it.
                  <aside class="texting__msg__bubble__avatar">
                    <img src="images/fpo-avatar.jpg">
                  </aside>
                </div>
                <div class="texting__msg__status texting__msg__status--error">
                  <i class="ficon ficon-warning"></i> Message Failed To Send. <a href="">Click to retry.</a>
                </div>
            </div> <!-- end texting__msg -->
          </div> <!-- end texting__convo__inner -->
        </div> <!-- end texting__convo -->
        <div class="texting__actions">
          <div class="texting__actions__phones">
            <select class="selectpicker form-control" data-style="btn-default btn-sm">
              <option>888-555-1111 (home)</option>
              <option>888-555-2222 (cell)</option>
              <option>888-555-3333 (work)</option>
            </select>
          </div>
          <div class="texting__actions__phone-assign">
            <a href="#">Create New Lead</a> | <a href="#">Add to Existing Lead</a>
          </div>
          <hr class="texting__actions__hr">
          <div class="texting__actions__templates">
            <select class="selectpicker form-control" data-style="btn-default btn-sm">
              <option>templates</option>
              <option>templates</option>
              <option>templates</option>
            </select>
          </div>
          <div class="texting__actions__compose">
            <div class="form-group">
              <textarea class="form-control" rows="3" placeholder="Compose text message"></textarea>
              <div class="texting__charcount">160</div>
            </div>
            <button class="btn btn-default btn-sm btn-primary btn-block">Send</button>
          </div>
        </div> <!-- end texting__actions -->
      </div> <!-- end texting__body -->
    </div> <!-- end texting -->

  </div><!-- /example -->
  <div class="pl-code">
    <pre class="prettyprint"><code>&lt;div class="texting"&gt;
  &lt;div class="texting__body"&gt;
    &lt;div class="texting__convo"&gt;
      &lt;div class="texting__convo__inner"&gt;
        &lt;div class="texting__msg"&gt;
            &lt;div class="texting__msg__time"&gt;Thursday 6:00 pm&lt;/div&gt;
            &lt;div class="texting__msg__bubble"&gt;
              C'mon, throw in a buck!
              &lt;aside class="texting__msg__bubble__avatar"&gt;
                &lt;i class="ficon ficon-user"&gt;&lt;/i&gt;
              &lt;/aside&gt;
            &lt;/div&gt;
        &lt;/div&gt; &lt;!-- end texting__msg --&gt;
        &lt;div class="texting__msg texting__msg--user"&gt;
            &lt;div class="texting__msg__time"&gt;Thursday 6:01 pm&lt;/div&gt;
            &lt;div class="texting__msg__bubble"&gt;
              Uh-uh, I don't tip.
              &lt;aside class="texting__msg__bubble__avatar"&gt;
                &lt;img src="images/fpo-avatar.jpg"&gt;
              &lt;/aside&gt;
            &lt;/div&gt;
        &lt;/div&gt; &lt;!-- end texting__msg --&gt;
        &lt;div class="texting__msg"&gt;
            &lt;div class="texting__msg__time"&gt;Thursday 6:02 pm&lt;/div&gt;
            &lt;div class="texting__msg__bubble"&gt;
              You don't tip?
              &lt;aside class="texting__msg__bubble__avatar"&gt;
                &lt;i class="ficon ficon-user"&gt;&lt;/i&gt;
              &lt;/aside&gt;
            &lt;/div&gt;
        &lt;/div&gt; &lt;!-- end texting__msg --&gt;
        &lt;div class="texting__msg texting__msg--user"&gt;
            &lt;div class="texting__msg__time"&gt;Thursday 6:03 pm&lt;/div&gt;
            &lt;div class="texting__msg__bubble texting__msg__bubble--error"&gt;
              Nah, I don't believe in it.
              &lt;aside class="texting__msg__bubble__avatar"&gt;
                &lt;img src="images/fpo-avatar.jpg"&gt;
              &lt;/aside&gt;
            &lt;/div&gt;
            &lt;div class="texting__msg__status texting__msg__status--error"&gt;
              &lt;i class="ficon ficon-warning"&gt;&lt;/i&gt; Message Failed To Send. &lt;a href=""&gt;Click to retry.&lt;/a&gt;
            &lt;/div&gt;
        &lt;/div&gt; &lt;!-- end texting__msg --&gt;
      &lt;/div&gt; &lt;!-- end texting__convo__inner --&gt;
    &lt;/div&gt; &lt;!-- end texting__convo --&gt;
    &lt;div class="texting__actions"&gt;
      &lt;div class="texting__actions__phones"&gt;
        &lt;select class="selectpicker form-control" data-style="btn-default btn-sm"&gt;
          &lt;option&gt;888-555-1111 (home)&lt;/option&gt;
          &lt;option&gt;888-555-2222 (cell)&lt;/option&gt;
          &lt;option&gt;888-555-3333 (work)&lt;/option&gt;
        &lt;/select&gt;
      &lt;/div&gt;
      &lt;div class="texting__actions__phone-assign"&gt;
        &lt;a href="#"&gt;Create New Lead&lt;/a&gt; | &lt;a href="#"&gt;Add to Existing Lead&lt;/a&gt;
      &lt;/div&gt;
      &lt;hr class="texting__actions__hr"&gt;
      &lt;div class="texting__actions__templates"&gt;
        &lt;select class="selectpicker form-control" data-style="btn-default btn-sm"&gt;
          &lt;option&gt;templates&lt;/option&gt;
          &lt;option&gt;templates&lt;/option&gt;
          &lt;option&gt;templates&lt;/option&gt;
        &lt;/select&gt;
      &lt;/div&gt;
      &lt;div class="texting__actions__compose"&gt;
        &lt;div class="form-group"&gt;
          &lt;textarea class="form-control" rows="3" placeholder="Compose text message"&gt;&lt;/textarea&gt;
          &lt;div class="texting__charcount"&gt;160&lt;/div&gt;
        &lt;/div&gt;
        &lt;button class="btn btn-default btn-sm btn-primary btn-block"&gt;Send&lt;/button&gt;
      &lt;/div&gt;
    &lt;/div&gt; &lt;!-- end texting__actions --&gt;
  &lt;/div&gt; &lt;!-- end texting__body --&gt;
&lt;/div&gt; &lt;!-- end texting --&gt;</code></pre>
  </div>

  <h4>Texting layout options</h4>
  <p>Utilize the <code>.texting--md</code> modifier class to alter layout for use in wide containers. Simply add <code>.texting--md</code> to the <code>.texting</code> class directly or use media queries to extend the <code>.texting--md</code> class at different break points.</p><br>

  <div class="pl-example pl-example-texting">

    <div class="texting texting--md">
      <div class="texting__body">
        <div class="texting__convo">
          <div class="texting__convo__inner">
            <div class="texting__msg">
                <div class="texting__msg__time">Thursday 6:00 pm</div>
                <div class="texting__msg__bubble">
                  Yeah, but do you consider a dog to be a filthy animal?
                  <aside class="texting__msg__bubble__avatar">
                    <svg class="icon icon-user"><use xlink:href="icons/sprite.svg#user"/></svg>
                  </aside>
                </div>
            </div> <!-- end texting__msg -->
            <div class="texting__msg texting__msg--user">
                <div class="texting__msg__time">Thursday 6:01 pm</div>
                <div class="texting__msg__bubble">
                  I wouldn't go so far as to call a dog filthy but they're definitely dirty. But, a dog's got personality. Personality goes a long way.
                  <aside class="texting__msg__bubble__avatar">
                    <img src="images/fpo-avatar.jpg">
                  </aside>
                </div>
            </div> <!-- end texting__msg -->
            <div class="texting__msg">
                <div class="texting__msg__time">Thursday 6:02 pm</div>
                <div class="texting__msg__bubble">
                  Ah, so by that rationale, if a pig had a better personality, he would cease to be a filthy animal. Is that true?
                  <aside class="texting__msg__bubble__avatar">
                    <svg class="icon icon-user"><use xlink:href="icons/sprite.svg#user"/></svg>
                  </aside>
                </div>
            </div> <!-- end texting__msg -->
            <div class="texting__msg texting__msg--user">
                <div class="texting__msg__time">Thursday 6:03 pm</div>
                <div class="texting__msg__bubble">
                  Well we'd have to be talkin' about one charming pig. I mean he'd have to be ten times more charmin' than that Arnold on Green Acres, you know what I'm sayin'?
                  <aside class="texting__msg__bubble__avatar">
                    <img src="images/fpo-avatar.jpg">
                  </aside>
                </div>
            </div> <!-- end texting__msg -->
          </div> <!-- end texting__convo__inner -->
        </div> <!-- end texting__convo -->
        <div class="texting__actions">
          <div class="texting__actions__phones">
            <select class="selectpicker form-control" data-style="btn-default btn-sm">
              <option>888-555-1111 (home)</option>
              <option>888-555-2222 (cell)</option>
              <option>888-555-3333 (work)</option>
            </select>
          </div>
          <div class="texting__actions__phone-assign">
            <a href="#">Create New Lead</a> | <a href="#">Add to Existing Lead</a>
          </div>
          <hr class="texting__actions__hr">
          <div class="texting__actions__templates">
            <select class="selectpicker form-control" data-style="btn-default btn-sm">
              <option>templates</option>
              <option>templates</option>
              <option>templates</option>
            </select>
          </div>
          <div class="texting__actions__compose">
            <div class="form-group">
              <textarea class="form-control" rows="3" placeholder="Compose text message"></textarea>
              <div class="texting__charcount">160</div>
            </div>
            <button class="btn btn-default btn-sm btn-primary btn-block">Send</button>
          </div>
        </div> <!-- end texting__actions -->
      </div> <!-- end texting__body -->
    </div> <!-- end texting -->

  </div><!-- /example -->
  <div class="pl-code">
    <pre class="prettyprint"><code>&lt;div class="texting texting--md"&gt;
  ...
&lt;/div&gt;</code></pre>
  </div>



  <h2>Texting panel</h2>
  <p>This is the texting component wrapped in a panel. Add the <code>.texting--panel</code> modifier class to the <code>.texting</code> class.</p>
  <div class="pl-example pl-example-texting">
    <div class="panel panel-default texting texting--panel texting--md">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="ficon ficon-sms"></i> Text Message: Mr. White</h3>
        </div>
        <div class="panel-body texting__body">
          <div class="texting__convo">
            <div class="texting__convo__inner">
              <div class="texting__msg">
                  <div class="texting__msg__time">Thursday 6:00 pm</div>
                  <div class="texting__msg__bubble">
                    C'mon, throw in a buck!
                    <aside class="texting__msg__bubble__avatar">
                      <svg class="icon icon-user"><use xlink:href="icons/sprite.svg#user"/></svg>
                    </aside>
                  </div>
              </div> <!-- end texting__msg -->
              <div class="texting__msg texting__msg--user">
                  <div class="texting__msg__time">Thursday 6:01 pm</div>
                  <div class="texting__msg__bubble">
                    Uh-uh, I don't tip.
                    <aside class="texting__msg__bubble__avatar">
                      <img src="images/fpo-avatar.jpg">
                    </aside>
                  </div>
              </div> <!-- end texting__msg -->
              <div class="texting__msg">
                  <div class="texting__msg__time">Thursday 6:02 pm</div>
                  <div class="texting__msg__bubble">
                    You don't tip?
                    <aside class="texting__msg__bubble__avatar">
                      <svg class="icon icon-user"><use xlink:href="icons/sprite.svg#user"/></svg>
                    </aside>
                  </div>
              </div> <!-- end texting__msg -->
              <div class="texting__msg texting__msg--user">
                  <div class="texting__msg__time">Thursday 6:03 pm</div>
                  <div class="texting__msg__bubble">
                    Nah, I don't believe in it.
                    <aside class="texting__msg__bubble__avatar">
                      <img src="images/fpo-avatar.jpg">
                    </aside>
                  </div>
              </div> <!-- end texting__msg -->
              <div class="texting__msg texting__msg--user">
                  <div class="texting__msg__time">Thursday 6:13 pm</div>
                  <div class="texting__msg__bubble">
                    Where did you go?
                    <aside class="texting__msg__bubble__avatar">
                      <img src="images/fpo-avatar.jpg">
                    </aside>
                  </div>
              </div> <!-- end texting__msg -->
            </div> <!-- end texting__convo__inner -->
          </div> <!-- end texting__convo -->
          <div class="texting__actions">
            <div class="texting__actions__phones">
              <select class="selectpicker form-control" data-style="btn-default btn-sm">
                <option>888-555-1111 Livingshone's home number</option>
                <option>888-555-2222 (cell)</option>
                <option>888-555-3333 (work)</option>
              </select>
            </div>
            <div class="texting__actions__phone-assign">
              <a href="#">Create New Lead</a> | <a href="#">Add to Existing Lead</a>
            </div>
            <hr class="texting__actions__hr">
            <div class="texting__actions__templates">
            <select class="selectpicker form-control" data-style="btn-default btn-sm">
              <option>templates</option>
              <option>templates</option>
              <option>templates</option>
            </select>
          </div>
            <div class="texting__actions__compose">
              <div class="form-group">
                <textarea class="form-control" rows="3" placeholder="Compose text message"></textarea>
                <div class="texting__charcount">160</div>
              </div>
              <button class="btn btn-default btn-sm btn-primary btn-block">Send</button>
            </div>
          </div> <!-- end texting__actions -->
        </div> <!-- end texting__body -->
      </div> <!-- end texting -->
  </div><!-- /example -->
  <div class="pl-code">
    <pre class="prettyprint"><code>&lt;div class="panel panel-default texting texting--panel texting--md"&gt;
  &lt;div class="panel-heading"&gt;
    &lt;h3 class="panel-title"&gt;&lt;i class="ficon ficon-sms"&gt;&lt;/i&gt; Text Message: Mr. White&lt;/h3&gt;
  &lt;/div&gt;
  &lt;div class="panel-body texting__body"&gt;
    &lt;div class="texting__convo"&gt;
      &lt;div class="texting__convo__inner"&gt;
        &lt;div class="texting__msg"&gt;
            &lt;div class="texting__msg__time"&gt;Thursday 6:00 pm&lt;/div&gt;
            &lt;div class="texting__msg__bubble"&gt;
              C'mon, throw in a buck!
              &lt;aside class="texting__msg__bubble__avatar"&gt;
                &lt;i class="ficon ficon-user"&gt;&lt;/i&gt;
              &lt;/aside&gt;
            &lt;/div&gt;
        &lt;/div&gt; &lt;!-- end texting__msg --&gt;
        &lt;div class="texting__msg texting__msg--user"&gt;
            &lt;div class="texting__msg__time"&gt;Thursday 6:01 pm&lt;/div&gt;
            &lt;div class="texting__msg__bubble"&gt;
              Uh-uh, I don't tip.
              &lt;aside class="texting__msg__bubble__avatar"&gt;
                &lt;img src="images/fpo-avatar.jpg"&gt;
              &lt;/aside&gt;
            &lt;/div&gt;
        &lt;/div&gt; &lt;!-- end texting__msg --&gt;
        &lt;div class="texting__msg"&gt;
            &lt;div class="texting__msg__time"&gt;Thursday 6:02 pm&lt;/div&gt;
            &lt;div class="texting__msg__bubble"&gt;
              You don't tip?
              &lt;aside class="texting__msg__bubble__avatar"&gt;
                &lt;i class="ficon ficon-user"&gt;&lt;/i&gt;
              &lt;/aside&gt;
            &lt/div&gt;
        &lt;/div&gt; &lt;!-- end texting__msg --&gt;
        &lt;div class="texting__msg texting__msg--user"&gt;
            &lt;div class="texting__msg__time"&gt;Thursday 6:03 pm&lt;/div&gt;
            &lt;div class="texting__msg__bubble"&gt;
              Nah, I don't believe in it.
              &lt;aside class="texting__msg__bubble__avatar"&gt;
                &lt;img src="images/fpo-avatar.jpg"&gt;
              &lt;/aside&gt;
            &lt;/div&gt;
        &lt;/div&gt; &lt;!-- end texting__msg --&gt;
        &lt;div class="texting__msg texting__msg--user"&gt;
            &lt;div class="texting__msg__time"&gt;Thursday 6:13 pm&lt;/div&gt;
            &lt;div class="texting__msg__bubble"&gt;
              Where did you go?
              &lt;aside class="texting__msg__bubble__avatar"&gt;
                &lt;img src="images/fpo-avatar.jpg"&gt;
              &lt;/aside&gt;
            &lt;/div&gt;
        &lt;/div&gt; &lt;!-- end texting__msg --&gt;
      &lt;/div&gt; &lt;!-- end texting__convo__inner --&gt;
    &lt;/div&gt; &lt;!-- end texting__convo --&gt;
    &lt;div class="texting__actions"&gt;
      &lt;div class="texting__actions__phones"&gt;
        &lt;select class="selectpicker form-control" data-style="btn-default btn-sm"&gt;
          &lt;option&gt;888-555-1111 (home)&lt;/option&gt;
          &lt;option&gt;888-555-2222 (cell)&lt;/option&gt;
          &lt;option&gt;888-555-3333 (work)&lt;/option&gt;
        &lt;/select&gt;
      &lt;/div&gt;
      &lt;div class="texting__actions__phone-assign"&gt;
        &lt;a href="#"&gt;Create New Lead&lt;/a&gt; | &lt;a href="#"&gt;Add to Existing Lead&lt;/a&gt;
      &lt;/div&gt;
      &lt;hr class="texting__actions__hr"&gt;
      &lt;div class="texting__actions__templates"&gt;
        &lt;select class="selectpicker form-control" data-style="btn-default btn-sm"&gt;
          &lt;option&gt;templates&lt;/option&gt;
          &lt;option&gt;templates&lt;/option&gt;
          &lt;option&gt;templates&lt;/option&gt;
        &lt;/select&gt;
      &lt;/div&gt;
      &lt;div class="texting__actions__compose"&gt;
        &lt;div class="form-group"&gt;
          &lt;textarea class="form-control" rows="3" placeholder="Compose text message"&gt;&lt;/textarea&gt;
          &lt;div class="texting__charcount"&gt;160&lt;/div&gt;
        &lt;/div&gt;
        &lt;button class="btn btn-default btn-sm btn-primary btn-block"&gt;Send&lt;/button&gt;
      &lt;/div&gt;
    &lt;/div&gt; &lt;!-- end texting__actions --&gt;
  &lt;/div&gt; &lt;!-- end texting__body --&gt;
&lt;/div&gt; &lt;!-- end texting --&gt;</code></pre>
  </div>

  <h2>Texting in modal</h2>
  <p>This is the texting component wrapped in a modal. Add the <code>.texting--modal</code> modifier class to the <code>.texting</code> class.</p>
  <div class="pl-example pl-example-modal">
    <div class="modal">
      <div class="modal-dialog texting texting--modal">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"><i class="ficon ficon-sms"></i> Text Message: Vincent</h4>
          </div>
          <div class="modal-body texting__body">
            <div class="texting__convo">
              <div class="texting__convo__inner">
                <div class="texting__msg">
                    <div class="texting__msg__time">Thursday 6:00 pm</div>
                    <div class="texting__msg__bubble">
                      Yeah, but do you consider a dog to be a filthy animal?
                      <aside class="texting__msg__bubble__avatar">
                        <svg class="icon icon-user"><use xlink:href="icons/sprite.svg#user"/></svg>
                      </aside>
                    </div>
                </div> <!-- end texting__msg -->
                <div class="texting__msg texting__msg--user">
                    <div class="texting__msg__time">Thursday 6:01 pm</div>
                    <div class="texting__msg__bubble">
                      I wouldn't go so far as to call a dog filthy but they're definitely dirty. But, a dog's got personality. Personality goes a long way.
                      <aside class="texting__msg__bubble__avatar">
                        <img src="images/fpo-avatar.jpg">
                      </aside>
                    </div>
                </div> <!-- end texting__msg -->
                <div class="texting__msg">
                    <div class="texting__msg__time">Thursday 6:02 pm</div>
                    <div class="texting__msg__bubble">
                      Ah, so by that rationale, if a pig had a better personality, he would cease to be a filthy animal. Is that true?
                      <aside class="texting__msg__bubble__avatar">
                        <svg class="icon icon-user"><use xlink:href="icons/sprite.svg#user"/></svg>
                      </aside>
                    </div>
                </div> <!-- end texting__msg -->
                <div class="texting__msg texting__msg--user">
                    <div class="texting__msg__time">Thursday 6:03 pm</div>
                    <div class="texting__msg__bubble">
                      Well we'd have to be talkin' about one charming pig. I mean he'd have to be ten times more charmin' than that Arnold on Green Acres, you know what I'm sayin'?
                      <aside class="texting__msg__bubble__avatar">
                        <img src="images/fpo-avatar.jpg">
                      </aside>
                    </div>
                </div> <!-- end texting__msg -->
              </div> <!-- end texting__convo__inner -->
            </div> <!-- end texting__convo -->
            <div class="texting__actions">
              <div class="texting__actions__phones">
                <select class="selectpicker form-control" data-style="btn-default btn-sm">
                  <option>888-555-1111 (home)</option>
                  <option>888-555-2222 (cell)</option>
                  <option>888-555-3333 (work)</option>
                </select>
              </div>
              <div class="texting__actions__phone-assign">
                <a href="#">Create New Lead</a> | <a href="#">Add to Existing Lead</a>
              </div>
              <hr class="texting__actions__hr">
              <div class="texting__actions__templates">
                <select class="selectpicker form-control" data-style="btn-default btn-sm">
                  <option>templates</option>
                  <option>templates</option>
                  <option>templates</option>
                </select>
              </div>
              <div class="texting__actions__compose">
                <div class="form-group">
                  <textarea class="form-control" rows="3" placeholder="Compose text message"></textarea>
                  <div class="texting__charcount">160</div>
                </div>
                <button class="btn btn-default btn-sm btn-primary btn-block">Send</button>
              </div>
            </div> <!-- end texting__actions -->
          </div> <!-- end texting__body -->
        </div>
      </div>
    </div> <!-- end texting -->
  </div>
  <div class="pl-code">
    <pre class="prettyprint"><code>&lt;div class="modal"&gt;
  &lt;div class="modal-dialog texting texting--modal"&gt;
    &lt;div class="modal-content"&gt;
      &lt;div class="modal-header"&gt;
        &lt;button type="button" class="close" data-dismiss="modal" aria-hidden="true"&gt;&times;&lt;/button&gt;
        &lt;h4 class="modal-title"&gt;&lt;i class="ficon ficon-sms"&gt;&lt;/i&gt; Text Message: Vincent&lt;/h4&gt;
      &lt;/div&gt;
      &lt;div class="modal-body texting__body"&gt;
        &lt;div class="texting__convo"&gt;
          &lt;div class="texting__convo__inner"&gt;
            &lt;div class="texting__msg"&gt;
                &lt;div class="texting__msg__time"&gt;Thursday 6:00 pm&lt;/div&gt;
                &lt;div class="texting__msg__bubble"&gt;
                  Yeah, but do you consider a dog to be a filthy animal?
                  &lt;aside class="texting__msg__bubble__avatar"&gt;
                    &lt;i class="ficon ficon-user"&gt;&lt;/i&gt;
                  &lt;/aside&gt;
                &lt;/div&gt;
            &lt;/div&gt; &lt;!-- end texting__msg --&gt;
            &lt;div class="texting__msg texting__msg--user"&gt;
                &lt;div class="texting__msg__time"&gt;Thursday 6:01 pm&lt;/div&gt;
                &lt;div class="texting__msg__bubble"&gt;
                  I wouldn't go so far as to call a dog filthy but they're definitely dirty. But, a dog's got personality. Personality goes a long way.
                  &lt;aside class="texting__msg__bubble__avatar"&gt;
                    &lt;img src="images/fpo-avatar.jpg"&gt;
                  &lt;/aside&gt;
                &lt;/div&gt;
            &lt;/div&gt; &lt;!-- end texting__msg --&gt;
            &lt;div class="texting__msg"&gt;
                &lt;div class="texting__msg__time"&gt;Thursday 6:02 pm&lt;/div&gt;
                &lt;div class="texting__msg__bubble"&gt;
                  Ah, so by that rationale, if a pig had a better personality, he would cease to be a filthy animal. Is that true?
                  &lt;aside class="texting__msg__bubble__avatar"&gt;
                    &lt;i class="ficon ficon-user"&gt;&lt;/i&gt;
                  &lt;/aside&gt;
                &lt;/div&gt;
            &lt;/div&gt; &lt;!-- end texting__msg --&gt;
            &lt;div class="texting__msg texting__msg--user"&gt;
                &lt;div class="texting__msg__time"&gt;Thursday 6:03 pm&lt;/div&gt;
                &lt;div class="texting__msg__bubble texting__msg__bubble--error"&gt;
                  Well we'd have to be talkin' about one charming pig. I mean he'd have to be ten times more charmin' than that Arnold on Green Acres, you know what I'm sayin'?
                  &lt;aside class="texting__msg__bubble__avatar"&gt;
                    &lt;img src="images/fpo-avatar.jpg"&gt;
                  &lt;/aside&gt;
                &lt;/div&gt;
            &lt;/div&gt; &lt;!-- end texting__msg --&gt;
          &lt;/div&gt; &lt;!-- end texting__convo__inner --&gt;
        &lt;/div&gt; &lt;!-- end texting__convo --&gt;
        &lt;div class="texting__actions"&gt;
          &lt;div class="texting__actions__phones"&gt;
            &lt;select class="selectpicker form-control" data-style="btn-default btn-sm"&gt;
              &lt;option&gt;888-555-1111 (home)&lt;/option&gt;
              &lt;option&gt;888-555-2222 (cell)&lt;/option&gt;
              &lt;option&gt;888-555-3333 (work)&lt;/option&gt;
            &lt;/select&gt;
          &lt;/div&gt;
          &lt;div class="texting__actions__phone-assign"&gt;
            &lt;a href="#"&gt;Create New Lead&lt;/a&gt; | &lt;a href="#"&gt;Add to Existing Lead&lt;/a&gt;
          &lt;/div&gt;
          &lt;hr class="texting__actions__hr"&gt;
          &lt;div class="texting__actions__templates"&gt;
            &lt;select class="selectpicker form-control" data-style="btn-default btn-sm"&gt;
              &lt;option&gt;templates&lt;/option&gt;
              &lt;option&gt;templates&lt;/option&gt;
              &lt;option&gt;templates&lt;/option&gt;
            &lt;/select&gt;
          &lt;/div&gt;
          &lt;div class="texting__actions__compose"&gt;
            &lt;div class="form-group"&gt;
              &lt;textarea class="form-control" rows="3" placeholder="Compose text message"&gt;&lt;/textarea&gt;
              &lt;div class="texting__charcount"&gt;160&lt;/div&gt;
            &lt;/div&gt;
            &lt;button class="btn btn-default btn-sm btn-primary btn-block"&gt;Send&lt;/button&gt;
          &lt;/div&gt;
        &lt;/div&gt; &lt;!-- end texting__actions --&gt;
      &lt;/div&gt; &lt;!-- end texting__body --&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt; &lt;!-- end texting --&gt;</code></pre>
  </div>


  <h2>Texting welcome message</h2>
  <p>This is a simple text messaging welcome message.</p>
  <div class="pl-example pl-example-texting">
    <div class="texting">
      <div class="texting__body">
        <div class="texting__convo">
          <div class="texting__convo__inner">
            <div class="texting__welcome">
              Hey! It's quiet in here. Send <strong>Vincent Vega</strong> a text.
              <div class="message-face message-face-arrow-right">
                <div class="message-face-eyes">
                  <span class="message-face-eye"></span>
                  <span class="message-face-eye"></span>
                </div>
                <div class="message-face-mouth"></div>
              </div> <!-- end message-face -->
            </div> <!-- end texting__welcome -->
          </div> <!-- end texting__convo__inner -->
        </div> <!-- end texting__convo -->
        <div class="texting__actions">
          <div class="texting__actions__phones">
            <select class="selectpicker form-control" data-style="btn-default btn-sm">
              <option>888-555-1111 (home)</option>
              <option>888-555-2222 (cell)</option>
              <option>888-555-3333 (work)</option>
            </select>
          </div>
          <div class="texting__actions__phone-assign">
            <a href="#">Create New Lead</a> | <a href="#">Add to Existing Lead</a>
          </div>
          <hr class="texting__actions__hr">
          <div class="texting__actions__templates">
            <select class="selectpicker form-control" data-style="btn-default btn-sm">
              <option>templates</option>
              <option>templates</option>
              <option>templates</option>
            </select>
          </div>
          <div class="texting__actions__compose">
            <div class="form-group">
              <textarea class="form-control" rows="3" placeholder="Compose text message"></textarea>
              <div class="texting__charcount">160</div>
            </div>
            <button class="btn btn-default btn-sm btn-primary btn-block">Send</button>
          </div>
        </div> <!-- end texting__actions -->
      </div> <!-- end texting__body -->
    </div> <!-- end texting -->
  </div>
  <div class="pl-code">
    <pre class="prettyprint"><code>&lt;div class="texting"&gt;
  &lt;div class="texting__body"&gt;
    &lt;div class="texting__convo"&gt;
      &lt;div class="texting__convo__inner"&gt;
        &lt;div class="texting__welcome"&gt;
          Hey! It's quiet in here. Send &lt;strong&gt;Vincent Vega&lt;/strong&gt; a text.
          &lt;div class="message-face message-face-arrow-right"&gt;
            &lt;div class="message-face-eyes"&gt;
              &lt;span class="message-face-eye"&gt;&lt;/span&gt;
              &lt;span class="message-face-eye"&gt;&lt;/span&gt;
            &lt;/div&gt;
            &lt;div class="message-face-mouth"&gt;&lt;/div&gt;
          &lt;/div&gt; &lt;!-- end message-face --&gt;
        &lt;/div&gt; &lt;!-- end texting__welcome --&gt;
      &lt;/div&gt; &lt;!-- end texting__convo__inner --&gt;
    &lt;/div&gt; &lt;!-- end texting__convo --&gt;
    &lt;div class="texting__actions"&gt;
      &lt;div class="texting__actions__phones"&gt;
        &lt;select class="selectpicker form-control" data-style="btn-default btn-sm"&gt;
          &lt;option&gt;888-555-1111 (home)&lt;/option&gt;
          &lt;option&gt;888-555-2222 (cell)&lt;/option&gt;
          &lt;option&gt;888-555-3333 (work)&lt;/option&gt;
        &lt;/select&gt;
      &lt;/div&gt;
      &lt;div class="texting__actions__phone-assign"&gt;
        &lt;a href="#"&gt;Create New Lead&lt;/a&gt; | &lt;a href="#"&gt;Add to Existing Lead&lt;/a&gt;
      &lt;/div&gt;
      &lt;hr class="texting__actions__hr"&gt;
      &lt;div class="texting__actions__templates"&gt;
        &lt;select class="selectpicker form-control" data-style="btn-default btn-sm"&gt;
          &lt;option&gt;templates&lt;/option&gt;
          &lt;option&gt;templates&lt;/option&gt;
          &lt;option&gt;templates&lt;/option&gt;
        &lt;/select&gt;
      &lt;/div&gt;
      &lt;div class="texting__actions__compose"&gt;
        &lt;div class="form-group"&gt;
          &lt;textarea class="form-control" rows="3" placeholder="Compose text message"&gt;&lt;/textarea&gt;
          &lt;div class="texting__charcount"&gt;160&lt;/div&gt;
        &lt;/div&gt;
        &lt;button class="btn btn-default btn-sm btn-primary btn-block"&gt;Send&lt;/button&gt;
      &lt;/div&gt;
    &lt;/div&gt; &lt;!-- end texting__actions --&gt;
  &lt;/div&gt; &lt;!-- end texting__body --&gt;
&lt;/div&gt; &lt;!-- end texting --&gt;</code></pre>
  </div>

</div>