<h2 id="btaddclassonload">btAddClassOnLoad</h2>
<h3 id="directive-attribute-">Directive (Attribute)</h3>
<h4 id="parameters">Parameters</h4>
<table>
<thead>
<tr>
<th>Parameter</th>
<th>Type</th>
<th style="text-align:center">Required</th>
</tr>
</thead>
<tbody>
<tr>
<td>bt-add-class-on-load</td>
<td>string</td>
<td style="text-align:center"><strong>yes</strong></td>
</tr>
</tbody>
</table>
<p>  The <code>btAddClassOnLoad</code> directive adds a class to an img tag when the image fires the load event.  This is useful for css transitions.</p>
<blockquote>
<p>This directive is useful for CSS Transitions</p>
</blockquote>
<h4 id="example-usage">Example Usage</h4>
<pre><code class="lang-html">&lt;style type=&quot;text/css&quot;&gt;
.my-img {
  opacity: 0;
  transition: opacity 5.0s linear;
}
.loaded {
  opacity: 1;
}
&lt;/style&gt;
&lt;img src=&quot;images/fpo-he-man.jpg&quot; bt-add-class-on-load=&quot;loaded&quot; class=&quot;my-img&quot;/&gt;
</code></pre>
