<!-- ================================== Element Query ================================== -->

<!-- Scrollbar (Boomstrap Custom) -->


<section id="element-query" class="pl-docs-section">
    <div class="page-header">
      <h1>Element Query <small>boomqueries.js</small></h1>
    </div>
    <p class="lead">BoomQueries is a plugin used to perform element queries. See <a href="https://github.com/BoomTownROI/boomqueries" target="_blank">https://github.com/BoomTownROI/boomqueries</a> for options and documentation.</p>
  

    <div class="callout callout-info">
      <h4>About Element Queries</h4>
      <p>Element queries provide us with granular control over how the contents of an individual component will respond relative to its own size rather than the viewport size via media queries. To learn more about element queries, visit <a href="http://responsiveimagescg.github.io/eq-usecases/" target="_blank">http://responsiveimagescg.github.io/eq-usecases/</a>.</p>
    </div>


    <div class="pl-example">
      
    </div>
    
    <div class="pl-code"><pre class="prettyprint"><code>
      
    </code></pre>
    </div>
</section>

