<!-- ================================== Scrollbar ================================== -->

<!-- Scrollbar (Boomstrap Custom) -->


<script>
window.onload = function() {
  var scrollAreaOne = baron({
    root: '.scroll-area-1',
    scroller: '.baron-scroller',
    bar: '.baron-scroller-bar',
    track: '.baron-scroller-track',
    barOnCls: 'baron'
  });
  var scrollAreaTwo = baron({
    root: '.scroll-area-2',
    scroller: '.baron-scroller',
    bar: '.baron-scroller-bar',
    track: '.baron-scroller-track',
    barOnCls: 'baron'
  });
};

</script>

<section id="scrollbar" class="pl-docs-section">
    <div class="page-header">
      <h1>Scrollbar <small>baron.js</small></h1>
    </div>
    <p class="lead">Baron is a third-party plugin custom scrollbar. See <a href="https://github.com/Diokuz/baron" target="_blank">https://github.com/Diokuz/baron</a> for options and documentation.</p>
    <div class="pl-example">
      <div class="scroll-area-1 baron">
        <div class="baron-scroller">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque id pulvinar odio, ut gravida lacus. Nulla non ligula fermentum ante iaculis rhoncus. Sed non sagittis neque. Nullam ac neque ac lorem malesuada pulvinar porta vel augue. Proin vitae nunc vehicula, faucibus lorem quis, consectetur magna. Donec commodo velit non feugiat tempus. Sed lacus felis, euismod ut tristique at, cursus ut metus. Sed tellus risus, vestibulum vitae velit quis, ultricies commodo purus. Fusce auctor orci in neque sagittis, sed bibendum urna porttitor. Integer fringilla sodales tellus sit amet hendrerit. Sed nisi risus, posuere at aliquet et, aliquet ac lectus. Vivamus sed nisi rutrum, molestie tortor quis, vulputate dui. Suspendisse vulputate mauris ut nisi vehicula accumsan. Nullam accumsan nibh nec consequat tincidunt. Nam placerat turpis nec lobortis porta. Vestibulum sit amet malesuada lorem, vitae accumsan nisl.</p>
          <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris eu sagittis lorem, non dignissim erat. Duis id hendrerit erat, et interdum tortor. Fusce varius, dolor porttitor tincidunt posuere, purus eros vehicula magna, non lobortis orci nisl id metus. Sed leo massa, vulputate in massa ut, pellentesque iaculis orci. Nulla vulputate cursus nunc ut consequat. Proin nec enim rhoncus, scelerisque enim a, ultricies odio. Duis sodales ac quam sit amet malesuada.</p>
          <p>Quisque vulputate, justo sed pulvinar molestie, ante nisi aliquet magna, id interdum est sem id arcu. Aliquam lacus lorem, rhoncus eu blandit non, viverra at turpis. Sed feugiat nibh ut ante tincidunt eleifend. Pellentesque eget molestie lacus. Nunc suscipit nulla id orci commodo scelerisque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed congue sagittis tincidunt. Donec elementum tellus eu nunc lobortis, at ultrices nulla pretium. Proin sagittis justo sit amet diam laoreet, quis vestibulum purus varius. Aenean at metus eu odio pretium accumsan. Mauris scelerisque scelerisque elementum. Nullam laoreet metus id risus dignissim suscipit. Quisque mattis accumsan rutrum.</p>
        </div>
        <div class="baron-scroller-track">
          <div class="baron-scroller-bar"></div>
        </div>
      </div>
    </div>
    <div class="pl-code"><pre class="prettyprint"><code>&lt;div class="baron"&gt;
  &lt;div class="baron-scroller"&gt;
    scrollable content goes here
  &lt;/div&gt;
  &lt;div class="baron-scroller-track"&gt;
    &lt;div class="baron-scroller-bar"&gt;&lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
    </div>

    <p>Another example against a darker background.</p>
    <div class="pl-example">
      <div class="scroll-area-2 baron">
        <div class="baron-scroller">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque id pulvinar odio, ut gravida lacus. Nulla non ligula fermentum ante iaculis rhoncus. Sed non sagittis neque. Nullam ac neque ac lorem malesuada pulvinar porta vel augue. Proin vitae nunc vehicula, faucibus lorem quis, consectetur magna. Donec commodo velit non feugiat tempus. Sed lacus felis, euismod ut tristique at, cursus ut metus. Sed tellus risus, vestibulum vitae velit quis, ultricies commodo purus. Fusce auctor orci in neque sagittis, sed bibendum urna porttitor. Integer fringilla sodales tellus sit amet hendrerit. Sed nisi risus, posuere at aliquet et, aliquet ac lectus. Vivamus sed nisi rutrum, molestie tortor quis, vulputate dui. Suspendisse vulputate mauris ut nisi vehicula accumsan. Nullam accumsan nibh nec consequat tincidunt. Nam placerat turpis nec lobortis porta. Vestibulum sit amet malesuada lorem, vitae accumsan nisl.</p>
          <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris eu sagittis lorem, non dignissim erat. Duis id hendrerit erat, et interdum tortor. Fusce varius, dolor porttitor tincidunt posuere, purus eros vehicula magna, non lobortis orci nisl id metus. Sed leo massa, vulputate in massa ut, pellentesque iaculis orci. Nulla vulputate cursus nunc ut consequat. Proin nec enim rhoncus, scelerisque enim a, ultricies odio. Duis sodales ac quam sit amet malesuada.</p>
          <p>Quisque vulputate, justo sed pulvinar molestie, ante nisi aliquet magna, id interdum est sem id arcu. Aliquam lacus lorem, rhoncus eu blandit non, viverra at turpis. Sed feugiat nibh ut ante tincidunt eleifend. Pellentesque eget molestie lacus. Nunc suscipit nulla id orci commodo scelerisque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed congue sagittis tincidunt. Donec elementum tellus eu nunc lobortis, at ultrices nulla pretium. Proin sagittis justo sit amet diam laoreet, quis vestibulum purus varius. Aenean at metus eu odio pretium accumsan. Mauris scelerisque scelerisque elementum. Nullam laoreet metus id risus dignissim suscipit. Quisque mattis accumsan rutrum.</p>
        </div>
        <div class="baron-scroller-track">
          <div class="baron-scroller-bar"></div>
        </div>
      </div>
    </div>
    <div class="pl-code"><pre class="prettyprint"><code>&lt;div class="baron"&gt;
  &lt;div class="baron-scroller"&gt;
    scrollable content goes here
  &lt;/div&gt;
  &lt;div class="baron-scroller-track"&gt;
    &lt;div class="baron-scroller-bar"&gt;&lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
    </div>
</section>

