<!-- ================================== Select ================================== -->

<!-- Selects (Boomstrap Custom) -->
<div class="pl-docs-section">
  <h1 id="select" class="page-header">Select <small>bootstrap-select.js</small></h1>
  <p class="lead">Custom select using button dropdown. See <a href="http://silviomoreto.github.io/bootstrap-select/3/" target="_blank">http://silviomoreto.github.io/bootstrap-select/3/</a> for options and documentation.</p>
  <div class="pl-example">
    <select class="selectpicker">
	    <option>Mustard</option>
	    <option>Ketchup</option>
	    <option>Relish</option>
	  </select>
  </div>

  <div class="pl-code">
    <pre class="prettyprint"><code>&lt;select class="selectpicker"&gt;
  &lt;option&gt;Mustard&lt;/option&gt;
  &lt;option&gt;Ketchup&lt;/option&gt;
  &lt;option&gt;Relish&lt;/option&gt;
&lt;/select&gt;</code></pre>
  </div>

	<p>Call selectpicker manually:</p>

	<div class="pl-code"><pre><code class="js"><span class="nx">$</span><span class="p">(</span><span class="s1">'.selectpicker'</span><span class="p">).</span><span class="nx">selectpicker</span><span class="p">()</span>
</code></pre></div>



</div>

