<!-- ================================== Tour ================================== -->

<!-- Tour (Boomstrap Custom) -->
<div class="pl-docs-section">
  <h1 id="tour" class="page-header">Bootstrap Tour <small>bootstrap-tour.js</small></h1>
  <p class="lead">Bootstrap Tour is a third-party plugin that can be found at <a href="http://bootstraptour.com" target="_blank">http://bootstraptour.com</a>.</p>
  <h2>Example</h2>

  <p><a id="bootstrap-tour-btn" class="btn btn-attention">take the tour</a></p>
  
  <div class="row">
      <div class="col-md-6"><h4><i id="stop1" class="ficon ficon-location"></i> First Stop</h4></div>
      <div class="col-md-6"><h4><i id="stop2" class="ficon ficon-location"></i> Second Stop</h4></div>
  </div>
  <div class="row">
      <div class="col-md-6"><h4><i id="stop3" class="ficon ficon-location"></i> Third Stop</h4></div>
      <div class="col-md-6"><h4><i id="stop4" class="ficon ficon-location"></i> Fourth Stop</h4></div>
  </div>

  <div class="pl-code"><pre><code>// Instance the tour
var doctour = new Tour({
    name: "example",
    template: "&lt;div class='popover tour'&gt;" +
        "&lt;div class='arrow'&gt;&lt;/div&gt;" +
        "&lt;div class='popover-close'&gt;&lt;i class='ficon ficon-cross' data-role='end'&gt;&lt;/i&gt;&lt;/div&gt;" +
        "&lt;h3 class='popover-title'&gt;&lt;/h3&gt;" +
        "&lt;div class='popover-content'&gt;&lt;/div&gt;" +
        "&lt;div class='popover-navigation'&gt;&lt;button class='btn btn-sm btn-default' data-role='prev'&gt;Prev&lt;/button&gt;&lt;button class='btn btn-sm btn-primary js-next' data-role='next'&gt;Next&lt;/button&gt;&lt;/div&gt;"+
        "&lt;/div>"
});
// Add your steps.
doctour.addSteps([
  {
      element: "#stop1",
      title: "Welcome to the Bootstrap Tour!",
      content: "Introduce new users to your product by walking them through it step by step.",
      placement: "right"
  },
  {
      element: "#stop2",
      title: "Title of my step",
      content: "&lt;ul&gt;&lt;li&gt;Lorem ipsum&lt;/li&gt;&lt;li&gt;Dolor sit amet&lt;/li&gt;&lt;/ul&gt;",
      placement: "top"
  },
  {
      element: "#stop3",
      title: "Title of my step",
      content: "Content of my step",
      placement: "right"
  }
  {
      element: "#stop4",
      title: "Title of my step",
      content: "Content of my step",
      placement: "top",
      onShown: function () {
          $('.js-next').attr('data-role', 'end');
          $('.js-next').removeClass('disabled');
          $('.js-next').text('Got It! ');
      }
  }
]);

// Initialize the tour
doctour.init();
</code></pre></div>


  <script type="text/javascript">
		$(document).ready(function () {
      $('#bootstrap-tour-btn').on('click', function () {

      // Instance the tour
      var doctour = new Tour({
          name: "example",
          template: "<div class='popover tour'>" +
              "<div class='arrow'></div>" +
              "<div class='popover-close'><i class='ficon ficon-cross' data-role='end'></i></div>" +
              "<h3 class='popover-title'></h3>" +
              "<div class='popover-content'></div>" +
              "<div class='popover-navigation'><button class='btn btn-sm btn-default' data-role='prev'>Prev</button><button class='btn btn-sm btn-primary js-next' data-role='next'>Next</button></div>"+
              "</div>"
      });
      // Add your steps. Not too many, you don't really want to get your users sleepy
      doctour.addSteps([
        {
            element: "#stop1", // string (jQuery selector) - html element next to which the step popover should be shown
            title: "Welcome to the Bootstrap Tour!", // string - title of the popover
            //title: "",
            content: "Introduce new users to your product by walking them through it step by step.", // string - content of the popover
            placement: "right"
        },
        {
            element: "#stop2",
            title: "Title of my step",
            content: "<ul><li>Lorem ipsum</li><li>Dolor sit amet</li></ul>",
            placement: "top"
        },
        {
            element: "#stop3",
            title: "Title of my step",
            content: "Content of my step",
            placement: "right"
        },
        {
            element: "#stop4",
            title: "Title of my step",
            content: "Content of my step",
            placement: "top",
            onShown: function () {
                $('.js-next').attr('data-role', 'end');
                $('.js-next').removeClass('disabled');
                $('.js-next').text('Got It! ');
            }
        }
      ]);

      // Initialize the tour
      doctour.init();

      // Start the tour
      //hstour.start(true);
      doctour.restart();
      });
  });
	</script>

</div>