<!-- ================================== CODING STYLE ================================== -->
<section id="" class="pl-section">
  <h1>Coding Style</h1>
  <ul>
  	<li>Use soft-tabs with a two space indent.</li>
  	<li>Put spaces after <code>:</code> in property declarations.</li>
  	<li>Put spaces before <code>{</code> in rule declarations.</li>
    <li>Order properties in alphabetical order.</li>
	</ul>
  <p>Here is an example of good syntax:</p>
  <div class="pl-code">
    <pre><code>
<span class="s">.strongbad</span> {
  <span class="t">&amp;</span><span class="s">:extend</span>(<span class="s">.pie</span>);
  <span class="nt">color:</span> <span class="t">@danger</span>;
  <span class="nt">padding:</span> <span class="t">@padding-lg</span>;
  <span class="s">.text-overflow</span>();
}
    </code></pre>
  </div>
</section>