    <!-- ================================== BOOMTOWN COLORS ================================== -->
    <section id="" class="pl-section">
      <h1>Colors</h1> 
      <h2>Brand Colors</h2>
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <div class="pl-swatch--bt-blue"></div>
            <p class="pl-swatch-txt">BT Blue<br>#1581e2</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <div class="pl-swatch--bt-orange"></div>
            <p class="pl-swatch-txt">BT Orange<br>#f68a24</p>
          </div>
        </div>
      </div>
      <h2>Color Options</h2>
      <div class="row">
        <div class="col-sm-3 col-md-2">
          <div class="thumbnail">
            <div class="pl-swatch--primary"></div>
            <p class="pl-swatch-txt">Primary<br>#1581e2</p>
          </div>
        </div>
        <div class="col-sm-3 col-md-2">
          <div class="thumbnail">
            <div class="pl-swatch--attention"></div>
            <p class="pl-swatch-txt">Attention<br>#f68a24</p>
          </div>
        </div>
        <div class="col-sm-3 col-md-2">
          <div class="thumbnail">
            <div class="pl-swatch--success"></div>
            <p class="pl-swatch-txt">Success<br>#669900</p>
          </div>
        </div>
        <div class="col-sm-3 col-md-2">
          <div class="thumbnail">
            <div class="pl-swatch--info"></div>
            <p class="pl-swatch-txt">Info<br>#5bc0de</p>
          </div>
        </div>
        <div class="col-sm-3 col-md-2">
          <div class="thumbnail">
            <div class="pl-swatch--warning"></div>
            <p class="pl-swatch-txt">Warning<br>#e5ac00</p>
          </div>
        </div>
        <div class="col-sm-3 col-md-2">
          <div class="thumbnail">
            <div class="pl-swatch--danger"></div>
            <p class="pl-swatch-txt">Danger<br>#ef5959</p>
          </div>
        </div>
      </div>
      <h2>Grays</h2>
      <div class="row">
        <div class="col-sm-3 col-md-2">
          <div class="thumbnail">
            <div class="pl-swatch--gray-darker"></div>
            <p class="pl-swatch-txt">Gray Darker<br>#444444</p>
          </div>
        </div>
        <div class="col-sm-3 col-md-2">
          <div class="thumbnail">
            <div class="pl-swatch--gray-dark"></div>
            <p class="pl-swatch-txt">Gray Dark<br>#696969</p>
          </div>
        </div>
        <div class="col-sm-3 col-md-2">
          <div class="thumbnail">
            <div class="pl-swatch--gray"></div>
            <p class="pl-swatch-txt">Gray<br>#848484</p>
          </div>
        </div>
        <div class="col-sm-3 col-md-2">
          <div class="thumbnail">
            <div class="pl-swatch--gray-light"></div>
            <p class="pl-swatch-txt">Gray Light<br>#b4b4b4</p>
          </div>
        </div>
        <div class="col-sm-3 col-md-2">
          <div class="thumbnail">
            <div class="pl-swatch--gray-lighter"></div>
            <p class="pl-swatch-txt">Gray Lighter<br>#ececec</p>
          </div>
        </div>
        <div class="col-sm-3 col-md-2">
          <div class="thumbnail">
            <div class="pl-swatch--gray-lightest"></div>
            <p class="pl-swatch-txt">Gray Lightest<br>#ececec</p>
          </div>
        </div>
      </div>
    </section>
