<!-- ================================== Links ================================== -->


<div class="pl-docs-section">
  <h1 id="links" class="page-header">Links</h1>
  <h2>Default links</h2>
  <p>Simple use of anchor tags.</p>
  <div class="pl-example">
    <p>Hello there! Visit the <a href="http://boomtownroi.com/" target="_blank">BoomTown website</a> to learn more about our company!</p>
  </div>
  <div class="pl-code">
    <pre class="prettyprint"><code>&lt;p&gt;Hello there! Visit the &lt;a href="http://boomtownroi.com/" target="_blank"&gt;BoomTown website&lt;/a&gt; to learn more about our company!&lt;/p&gt;</code></pre>
  </div>

  <h2>Clickable links</h2>
  <p>Sometimes we want anchor tag styles without the anchor tag markup. Use <code>.clickable</code> instead.</p>
  <div class="pl-example">
    <p>Hello there! Visit the <span class="clickable">BoomTown website</span> to learn more about our company!</p>
  </div>
  <div class="pl-code">
    <pre class="prettyprint"><code>&lt;p&gt;Hello there! Visit the &lt;span class="clickable"&gt;BoomTown website&lt;/span&gt; to learn more about our company!&lt;/p&gt;</code></pre>
  </div>
  <p>Use <code>.clickable .clickable--muted</code> for a muted version that inherits <code>.text-muted</code> contextual color styles.</p>
  <div class="pl-example">
    <p>Hello there! Visit the <span class="clickable clickable--muted">BoomTown website</span> to learn more about our company!</p>
  </div>
  <div class="pl-code">
    <pre class="prettyprint"><code>&lt;p&gt;Hello there! Visit the &lt;span class="clickable clickable--muted"&gt;BoomTown website&lt;/span&gt; to learn more about our company!&lt;/p&gt;</code></pre>
  </div>
</div>
