<!-- ================================== Loaders ================================== -->


<div class="pl-docs-section">
  <h1 id="loaders" class="page-header">Loaders</h1>
  <p>Loaders are used to inform users that data is being filtered, retrieved, processed, etc.</p>
  <div class="pl-example">
    <div class="loader">
      <span class="loader-pulse"></span>
      <span class="loader-pulse"></span>
      <span class="loader-pulse"></span>
    </div>
  </div>
  <div class="pl-code">
    <pre><code class="html">
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"loader"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"loader-pulse"</span><span class="nt">&gt;</span><span class="nt">&lt;/span&gt;</span>
  <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"loader-pulse"</span><span class="nt">&gt;</span><span class="nt">&lt;/span&gt;</span>
  <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"loader-pulse"</span><span class="nt">&gt;</span><span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;/div&gt;</span>
    </code></pre>
  </div>
  <p>Want to center the loader animation? No hay problemo! Just add the <code>.text-center</code> class.</p>
  <div class="pl-example">
    <div class="loader text-center">
      <span class="loader-pulse"></span>
      <span class="loader-pulse"></span>
      <span class="loader-pulse"></span>
    </div>
  </div>
  <div class="pl-code">
    <pre><code class="html">
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"loader text-center"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"loader-pulse"</span><span class="nt">&gt;</span><span class="nt">&lt;/span&gt;</span>
  <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"loader-pulse"</span><span class="nt">&gt;</span><span class="nt">&lt;/span&gt;</span>
  <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"loader-pulse"</span><span class="nt">&gt;</span><span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;/div&gt;</span>
    </code></pre>
  </div>
</div>