
.leadtype-bs {
  padding: 0;
}
.leadtype-bs:before,
.leadtype-bs:after {
  display: inline-block;
  padding: 0.2em 0.5em 0.2em;
  text-align: center;
  width: auto;
}
.leadtype-bs:before {
  border-left: 1px solid transparent;
  color: #1581e2;
  content: "b";
}
.leadtype-bs:after {
  border-left: 1px solid #cccccc;
  color: #f68a24;
  content: "s";
}
.leadtype-square.leadtype-bs,
.leadtype-square-sm.leadtype-bs,
.leadtype-vertical.leadtype-bs,
.leadtype-vertical-sm.leadtype-bs {
  vertical-align: middle;
}
.leadtype-square.leadtype-bs:before,
.leadtype-square-sm.leadtype-bs:before,
.leadtype-vertical.leadtype-bs:before,
.leadtype-vertical-sm.leadtype-bs:before {
  display: block;
  border-left: none;
}
.leadtype-square.leadtype-bs:after,
.leadtype-square-sm.leadtype-bs:after,
.leadtype-vertical.leadtype-bs:after,
.leadtype-vertical-sm.leadtype-bs:after {
  display: block;
  border-left: none;
  border-top: 1px solid #cccccc;
}
.leadtype-square-sm.leadtype-bs:before,
.leadtype-square-sm.leadtype-bs:before,
.leadtype-square-sm.leadtype-bs:after,
.leadtype-square-sm.leadtype-bs:after {
  padding: 0.2em 0.25em 0.2em;
}
.marker {
  display: inline-block;
  font-weight: normal;
  line-height: 1.3;
  margin: 0 4px 4px 0;
  padding: 3px 4px;
  border: none;
  box-shadow: 0 0 2px rgba(10, 10, 10, 0.5);
}
.marker .icon-cross {
  cursor: pointer;
}
.marker-default {
  background-color: #ffffff;
  color: #696969;
}
.marker-default[href]:hover,
.marker-default[href]:focus {
  color: #505050;
}
.marker-primary,
.marker-name {
  background-color: #d0e6f9;
  color: #09355d;
}
.marker-primary[href]:hover,
.marker-name[href]:hover,
.marker-primary[href]:focus,
.marker-name[href]:focus {
  color: #041a2e;
}
.marker-attention,
.marker-zip {
  background-color: #fde8d3;
  color: #65390f;
}
.marker-attention[href]:hover,
.marker-zip[href]:hover,
.marker-attention[href]:focus,
.marker-zip[href]:focus {
  color: #392008;
}
.marker-success {
  background-color: #e0ebcc;
  color: #2a3f00;
}
.marker-success[href]:hover,
.marker-success[href]:focus {
  color: #080c00;
}
.marker-info {
  background-color: #def2f8;
  color: #254f5b;
}
.marker-info[href]:hover,
.marker-info[href]:focus {
  color: #173037;
}
.marker-warning {
  background-color: #fff5d6;
  color: #695415;
}
.marker-warning[href]:hover,
.marker-warning[href]:focus {
  color: #3f320c;
}
.marker-danger {
  background-color: #f5d2d4;
  color: #540d10;
}
.marker-danger[href]:hover,
.marker-danger[href]:focus {
  color: #280608;
}
.marker-dark {
  background-color: #cecece;
  color: #030303;
}
.marker-dark[href]:hover,
.marker-dark[href]:focus {
  color: #000000;
}
a.list-group-item.active {
  padding-right: 35px;
}
a.list-group-item.active:after {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C!--%20Generated%20by%20IcoMoon.io%20--%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%0A%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M13.272%2027.2c-0.696%200-1.355-0.325-1.778-0.885l-5.718-7.549c-0.744-0.982-0.55-2.381%200.432-3.125%200.984-0.746%202.381-0.55%203.125%200.432l3.762%204.966%209.459-15.186c0.651-1.045%202.027-1.365%203.074-0.714%201.045%200.65%201.365%202.027%200.712%203.072l-11.173%2017.936c-0.389%200.626-1.059%201.018-1.794%201.050-0.034%200.002-0.067%200.002-0.101%200.002z%22%3E%3C%2Fpath%3E%0A%3C%2Fsvg%3E%0A");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1.15em 1.15em;
  content: "";
  height: 1.15em;
  right: 15px;
  width: 1.15em;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.loader {
  display: block;
  height: 18px;
  margin: 20px 0;
}
.loader.body-loader {
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -9px 0 0 -30px;
  z-index: 9999;
}
.loader-pulse {
  background-color: #f68a24;
  border-radius: 100%;
  display: inline-block;
  height: 18px;
  width: 18px;
  -webkit-animation: pulsedelay 1s infinite ease-in-out;
  animation: pulsedelay 1s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.loader-pulse:nth-child(2) {
  -webkit-animation-delay: -0.125s;
  animation-delay: -0.125s;
}
.loader-pulse:first-child {
  -webkit-animation-delay: -0.25s;
  animation-delay: -0.25s;
}
.loader-sm > .loader-pulse {
  height: 12px;
  width: 12px;
}
.loader-desaturated > .loader-pulse {
  background-color: #cccccc;
}
@-webkit-keyframes pulsedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes pulsedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
.log-call__body {
  padding: 0;
  position: relative;
}
.log-call__comments,
.log-call__phones,
.log-call__status {
  margin-bottom: 15px;
}
.log-call__checkbox {
  margin: 0;
}
.log-call__comments textarea {
  height: 60px;
  overflow: auto;
  resize: none;
}
.log-call__status .icon {
  margin-right: 8px;
}
.log-call__status .list-group {
  margin-bottom: 0;
}
.log-call--modal .log-call__body {
  padding: 15px;
}
.log-call--modal .log-call__body + .set-to-do__body {
  background-color: #f6f6f6;
}
.log-call--modal-sm .log-call__checkbox {
  float: left;
  width: 50%;
}
.log-call--modal-sm .log-call__checkbox + .log-call__checkbox {
  padding-left: 0;
}
.progress-bar {
  border-radius: 4px;
  box-shadow: inset 0 0.5em 0.5em rgba(0, 0, 0, 0.05);
  height: 20px;
  overflow: hidden;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.progress-bar--attention {
  background-color: #f68a24;
}
.progress-bar--danger {
  background-color: #cb2027;
}
.progress-bar--info {
  background-color: #5bc0de;
}
.progress-bar--primary {
  background-color: #1581e2;
}
.progress-bar--success {
  background-color: #669900;
}
.progress-bar--warning {
  background-color: #ffcc33;
}
.progress-bar--success-to-danger {
  background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%201%201%22%20preserveAspectRatio%3D%22none%22%3E%3ClinearGradient%20id%3D%22gradient%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%220%25%22%20y1%3D%220%25%22%20x2%3D%22100%25%22%20y2%3D%220%25%22%3E%3Cstop%20offset%3D%220%25%22%20stop-color%3D%22%23669900%22%2F%3E%3Cstop%20offset%3D%2275%25%22%20stop-color%3D%22%23ffcc33%22%2F%3E%3Cstop%20offset%3D%22100%25%22%20stop-color%3D%22%23cb2027%22%2F%3E%3C%2FlinearGradient%3E%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%221%22%20height%3D%221%22%20fill%3D%22url(%23gradient)%22%20%2F%3E%3C%2Fsvg%3E');
}
.progress-bar--lg {
  height: 26px;
}
.progress-bar--lg .progress-bar__bar__label {
  font-size: 17px;
  top: 1px;
}
.progress-bar--sm {
  height: 14px;
}
.progress-bar--sm .progress-bar__bar__label {
  font-size: 11px;
}
.progress-bar--xs {
  height: 10px;
}
.progress-bar__bar {
  background-color: #ececec;
  bottom: 0;
  box-shadow: inset 0 0.5em 0.5em rgba(0, 0, 0, 0.05);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: -webkit-transform 500ms ease-out;
  transition: transform 500ms ease-out;
}
/*.progress-bar__label {
  color: @white;
  padding-left: 4px;
  ~ .progress-bar__bar { left: 34px; }
}*/
.progress-bar__bar__label {
  color: #ffffff;
  padding: 0 4px;
  position: absolute;
  right: 100%;
}
.message-face {
  background-color: #cccccc;
  border-radius: 6px;
  display: inline-block;
  height: 40px;
  position: relative;
  width: 50px;
}
.message-face:hover {
  -webkit-animation: bounce 2s 1 ease 0s;
  animation: bounce 2s 1 ease 0s;
}
.message-face:hover .message-face-eye {
  background-color: #999999;
}
.message-face:hover .message-face-mouth {
  box-shadow: inset 0 -5px 0 0 #999999;
}
.message-face-arrow-bottom:after,
.message-face-arrow-left:after,
.message-face-arrow-right:after,
.message-face-arrow-top:after {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(204, 204, 204, 0);
  border-width: 8px;
}
.message-face-arrow-bottom {
  margin-bottom: 12px;
}
.message-face-arrow-bottom:after {
  border-top-color: #cccccc;
  left: 50%;
  margin-left: -8px;
  top: 100%;
}
.message-face-arrow-left {
  margin-left: 12px;
}
.message-face-arrow-left:after {
  border-right-color: #cccccc;
  margin-top: -8px;
  right: 100%;
  top: 50%;
}
.message-face-arrow-right {
  margin-right: 12px;
}
.message-face-arrow-right:after {
  border-left-color: #cccccc;
  left: 100%;
  margin-top: -8px;
  top: 50%;
}
.message-face-arrow-top {
  margin-top: 12px;
}
.message-face-arrow-top:after {
  border-bottom-color: #cccccc;
  bottom: 100%;
  left: 50%;
  margin-left: -8px;
}
.message-face-eyes {
  position: absolute;
  left: 0;
  line-height: 1;
  right: 0;
  text-align: center;
  top: 6px;
}
.message-face-eye {
  border-radius: 100%;
  box-shadow: inset 0 3px 0 0 #999999;
  display: inline-block;
  margin: 0 1px;
  height: 6px;
  width: 6px;
  -webkit-animation: blink-eyes 3s 1 ease 1s;
  animation: blink-eyes 3s 1 ease 1s;
}
.message-face-mouth {
  border-radius: 100%;
  bottom: 10px;
  box-shadow: inset 0 -3px 0 0 #999999;
  display: inline-block;
  height: 10px;
  left: 50%;
  margin-left: -9px;
  position: absolute;
  width: 20px;
}
.minimal-pager > .btn {
  color: #1581e2;
}
.minimal-pager > .btn:hover {
  color: #0e599c;
}
.minimal-pager > .btn.disabled {
  color: #cccccc;
  background-color: #fff;
  cursor: not-allowed;
}
.modal-footer {
  margin-top: 0;
}
.fade {
  transition: opacity 100ms ease-out;
  /* IE9 */
  transition: opacity 100ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
}
.fade.in {
  transition: opacity 300ms ease-out;
  /* IE9 */
  transition: opacity 300ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
}
.modal.fade .modal-dialog {
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
  transition: -webkit-transform 100ms ease-out;
  transition: transform 100ms ease-out;
  /* IE9 */
  transition: -webkit-transform 100ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
  transition: transform 100ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
}
.modal.in .modal-dialog {
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: -webkit-transform 300ms ease-out;
  transition: transform 300ms ease-out;
  /* IE9 */
  transition: -webkit-transform 300ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
  transition: transform 300ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
}
.nav > li > a {
  transition: all linear 0.25s;
}
.nav-sm > li > a {
  padding: 6px 10px;
}
.nav-blocks > li.active > a,
.nav-blocks > li.active > a:hover,
.nav-blocks > li.active > a:focus {
  background-color: transparent;
  color: #f68a24;
  cursor: not-allowed;
  font-weight: 700;
  pointer-events: none;
}
.nav-blocks > li > a {
  border-left: 3px solid transparent;
  color: #696969;
}
.nav-blocks > li > a:focus,
.nav-blocks > li > a:hover {
  background-color: #ececec;
}
.nav-blocks-light > li > a:focus,
.nav-blocks-light > li > a:hover {
  background-color: #f6f6f6;
}
.nav-blocks {
  position: relative;
}
.nav-blocks > li > a {
  border: none;
}
.nav-blocks > li.active > a,
.nav-blocks > li.active > a:hover,
.nav-blocks > li.active > a:focus {
  border: none;
}
.nav-blocks .nav-links__bar {
  background-color: #f68a24;
  left: 0;
  top: 0;
  height: 32px;
  width: 3px;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  position: absolute;
  transition: all 0.35s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}
.nav-blocks__divider {
  width: 100%;
  height: 0;
  margin-top: 3px;
  border-top: 1px solid #cccccc;
}
.nav-muted > li > a {
  color: #5F7F8E;
}
.nav-muted > li.active > a,
.nav-muted > li.active > a:hover,
.nav-muted > li.active > a:focus {
  color: #5F7F8E;
}
.nav-muted .nav-links__bar {
  background-color: #5F7F8E;
}
.nav-links {
  position: relative;
}
.nav-links > li {
  display: inline-block;
  margin-right: 15px;
}
.nav-links > li.active > a,
.nav-links > li.active > a:hover,
.nav-links > li.active > span,
.nav-links > li.active > span:hover {
  background-color: transparent;
  color: #0e599c;
  cursor: not-allowed;
  pointer-events: none;
}
.nav-links > li > a {
  display: inline-block;
  padding: 6px 0;
  transition: all linear 0.25s;
}
.nav-links > li > a:hover {
  background-color: transparent;
  text-decoration: none;
}
.nav-links__bar {
  background-color: #0e599c;
  bottom: 0;
  height: 3px;
  left: 0px;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  position: absolute;
  width: 0px;
  transition: all 0.35s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}
.nav-tabs {
  margin-bottom: 10px;
}
.nav-tabs > li > a {
  border-radius: 0;
  color: #1581e2;
  cursor: pointer;
  margin-right: -1px;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  box-shadow: none;
  background-color: #fefefe;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border-top-color: #f68a24;
}
.nav-tabs > li.active > a:after,
.nav-tabs > li.active > a:hover:after,
.nav-tabs > li.active > a:focus:after {
  content: "";
  height: 2px;
  left: -1px;
  position: absolute;
  right: -1px;
  top: 0;
  background-color: #f68a24;
}
.nav-tabs > li.open > a,
.nav-tabs > li.open > a:hover,
.nav-tabs > li.open > a:focus {
  background-color: #fefefe;
  border-color: #cccccc;
}
.nav-tabs.nav-justified > li > a {
  border-bottom: 1px solid #cccccc;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: -1px;
  border-radius: 0;
}
.nav-tabs.nav-justified > li:first-child > a {
  margin-left: 0;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  border-top-color: #f68a24;
  border-bottom-color: #ffffff;
}
.pair + .pair {
  font-size: 0.925em;
  font-weight: 400;
  color: #999999;
}
.panel-title > a[data-toggle="collapse"] {
  display: block;
  position: relative;
}
.panel-title > a[data-toggle="collapse"] .panel-collapse-less,
.panel-title > a[data-toggle="collapse"] .panel-collapse-more {
  position: absolute;
  right: 0;
}
.panel-title > a[data-toggle="collapse"] .panel-collapse-less {
  display: inline-block;
}
.panel-title > a[data-toggle="collapse"] .panel-collapse-more {
  display: none;
}
.panel-title > a[data-toggle="collapse"].collapsed .panel-collapse-less {
  display: none;
}
.panel-title > a[data-toggle="collapse"].collapsed .panel-collapse-more {
  display: inline-block;
}
.panel-sm .panel-body {
  padding: 6px;
}
.panel-sm .panel-footer {
  padding: 8px 6px;
}
.panel-sm .panel-heading {
  padding: 8px 6px;
}
.panel-md .panel-body {
  padding: 10px;
}
.panel-md .panel-footer {
  padding: 8px 10px;
}
.panel-md .panel-heading {
  padding: 8px 10px;
}
.panel__nav-tabs {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  margin-bottom: 0;
}
.panel__nav-tabs > li {
  margin-top: -1px;
}
.panel__nav-tabs > li:first-child {
  margin-left: -1px;
}
.panel__nav-tabs > li:first-child a {
  border-top-left-radius: 3px;
}
.panel__nav-tabs > li > a {
  color: #696969;
}
.popover-close {
  color: #cccccc;
  cursor: pointer;
  font-size: 16px;
  line-height: 16px;
  position: absolute;
  right: 8px;
  top: 8px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.popover-close:hover {
  color: #696969;
}
.popover-content {
  color: #999999;
  padding: 14px;
}
.popover-title {
  font-weight: 700;
  margin-bottom: -10px;
  padding: 14px 24px 0 14px;
}
.profile-pic {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: top;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  background-size: cover;
}
.profile-pic--initials {
  font-size: 36px;
  color: #ffffff;
  text-align: center;
  padding-top: 21px;
  background-color: #cccccc;
}
.profile-pic--initials:before {
  display: none !important;
}
.profile-pic--initials.profile-pic--buyer {
  box-shadow: 1px 1px 6px rgba(21, 129, 226, 0.25), 0 1px 4px rgba(21, 129, 226, 0.25);
  text-shadow: 0 -1px 2px rgba(21, 129, 226, 0.25);
}
.profile-pic--initials.profile-pic--seller {
  box-shadow: 1px 1px 6px rgba(246, 138, 36, 0.25), 0 1px 4px rgba(246, 138, 36, 0.25);
  text-shadow: 0 -1px 2px rgba(246, 138, 36, 0.25);
}
.profile-pic--initials.profile-pic--buyer-seller {
  box-shadow: 2px 2px 6px rgba(21, 129, 226, 0.3), -1px -1px 4px rgba(246, 138, 36, 0.25);
  text-shadow: 0 -1px 2px rgba(246, 138, 36, 0.25);
}
.profile-pic--sm {
  width: 32px;
  height: 32px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05), 0 1px 1px rgba(0, 0, 0, 0.15);
}
.profile-pic--sm.profile-pic--initials {
  font-size: 16px;
  padding-top: 5.5px;
}
.profile-pic--buyer,
.profile-pic--seller,
.profile-pic--buyer-seller {
  position: relative;
}
.profile-pic--buyer:before,
.profile-pic--seller:before,
.profile-pic--buyer-seller:before {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  display: block;
  border: 3px solid rgba(21, 129, 226, 0.4);
}
.profile-pic--seller:before {
  border: 3px solid rgba(246, 138, 36, 0.4);
}
.profile-pic--buyer-seller:before {
  border-left-color: rgba(21, 129, 226, 0.4);
  border-top-color: rgba(21, 129, 226, 0.4);
  border-right-color: rgba(246, 138, 36, 0.4);
  border-bottom-color: rgba(246, 138, 36, 0.4);
}
.profile-pic--sm.profile-pic--buyer:before,
.profile-pic--sm.profile-pic--seller:before,
.profile-pic--sm.profile-pic--buyer-seller:before {
  border: 2px solid rgba(21, 129, 226, 0.5);
}
.profile-pic--sm.profile-pic--seller:before {
  border-color: rgba(246, 138, 36, 0.5);
}
.profile-pic--sm.profile-pic--buyer-seller:before {
  border-left-color: rgba(21, 129, 226, 0.5);
  border-top-color: rgba(21, 129, 226, 0.5);
  border-right-color: rgba(246, 138, 36, 0.5);
  border-bottom-color: rgba(246, 138, 36, 0.5);
}
.sash {
  background-color: #ffffff;
  border-bottom: 4px solid #999999;
  display: block;
  font-size: 12px;
  font-weight: 500;
  left: 0;
  padding: 5px 6px;
  position: absolute;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.65);
  text-transform: uppercase;
  top: -1px;
  width: 100%;
  z-index: 100;
}
.sash:before,
.sash:after {
  content: " ";
  display: table;
}
.sash:after {
  clear: both;
}
.sash:before,
.sash:after {
  content: " ";
  display: table;
}
.sash:after {
  clear: both;
}
.sash-back {
  border-color: #5bc0de;
  color: #5bc0de;
}
.sash-new {
  border-color: #ffcc33;
  color: #ffcc33;
}
.sash-off {
  border-color: #696969;
  color: #696969;
}
.sash-reduced {
  border-color: #669900;
  color: #669900;
}
.sash-time {
  float: right;
  font-weight: 400;
  text-transform: lowercase;
}
.bootstrap-select.form-control {
  margin-bottom: 0 !important;
}
.ui-select-match.form-control {
  height: auto;
}
.ui-select-choices-row-inner > .fauxbox {
  margin-top: 0px;
  margin-bottom: 0px;
}
.score {
  background-color: #ffffff;
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px;
  color: #cccccc;
  display: inline-block;
  text-align: center;
  padding: 6px 0;
  width: 36px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.score-excellent {
  background-color: #669900;
  border-color: #669900;
  color: #ffffff;
}
.score-good {
  background-color: #ffcc33;
  border-color: #ffcc33;
  color: #ffffff;
}
.score-average {
  background-color: #cccccc;
  border-color: #cccccc;
  color: #ffffff;
}
.score-lg {
  padding: 10px 0;
  width: 48px;
  font-size: 18px;
  line-height: 1.34;
  border-radius: 4px;
}
.score-sm {
  padding: 5px 0;
  width: 32px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.score-xs {
  padding: 1px 0;
  width: 24px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
/*.btn-sm {
  // line-height: ensure proper height of button next to small input
  .button-size(@padding-small-vertical; @padding-small-horizontal; @font-size-small; @line-height-small; @border-radius-small);
}
.btn-xs {
  .button-size(@padding-xs-vertical; @padding-xs-horizontal; @font-size-small; @line-height-small; @border-radius-small);
}*/
.baron {
  overflow: hidden;
  position: relative;
}
.baron:hover .baron-scroller-bar,
.baron:hover .baron-scroller-bar-h {
  opacity: .5;
}
.baron .baron-scroller {
  overflow-y: scroll;
}
.baron-h .baron-scroller {
  overflow-x: scroll;
}
.baron-scroller {
  border: 0;
  height: 100%;
  width: 100%;
}
.baron-scroller::-webkit-scrollbar {
  /* Preventing webkit bug of horizontal scrolling */
  width: 0;
}
.baron-scroller-track {
  bottom: 2px;
  pointer-events: none;
  position: absolute;
  right: 2px;
  top: 2px;
  width: 9px;
  z-index: 3;
}
.baron-scroller-bar {
  background-color: #000;
  border: 1px solid #cccccc;
  border-radius: 4px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  right: 0;
  transition: opacity 0.2s linear;
  width: 9px;
  z-index: 1;
}
.baron-scroller-bar-h {
  background-color: #000;
  border: 1px solid #cccccc;
  border-radius: 4px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  bottom: 10px;
  transition: opacity 0.2s linear;
  height: 9px;
  z-index: 1;
}
.set-to-do__date,
.set-to-do__date-btns,
.set-to-do__time {
  margin-bottom: 15px;
}
.set-to-do__assign {
  margin-top: 15px;
}
.set-to-do__assign p {
  margin-bottom: 4px;
}
.set-to-do__body {
  padding: 0;
  position: relative;
}
.set-to-do__cancel {
  font-size: 11px;
  position: absolute;
  right: 15px;
  top: 19px;
}
.set-to-do__category {
  margin-bottom: 4px;
}
.set-to-do__comments textarea {
  height: 60px;
  overflow: auto;
  resize: none;
}
.set-to-do__date {
  font-weight: 500;
  padding-right: 68px;
}
.set-to-do__date-btns .btn {
  float: left;
  margin: 3px 0;
  width: 49%;
}
.set-to-do__date-btns .btn:nth-child(even) {
  float: right;
}
.set-to-do__date-btns .btn:last-child {
  display: block;
  width: 100%;
}
.set-to-do__time__opts {
  display: inline-block;
  margin-left: 3px;
}
.set-to-do__time__opts.hide {
  display: none;
}
.set-to-do__time__radios {
  display: inline-block;
}
.set-to-do__time__radio {
  margin-bottom: 0px;
  margin-top: 0px;
}
.set-to-do--modal .set-to-do__body {
  padding: 15px;
}
@media (min-width: 768px) {
  .set-to-do--modal-sm .set-to-do__date-btns .btn {
    padding: 1px 6px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }
  .set-to-do--modal-sm .set-to-do__date-btns .btn > .icon {
    font-size: 14px;
  }
}
.set-to-do--modal-sm .set-to-do__time__opts {
  display: block;
  margin: 4px 0 0 0;
}
.table {
  background-color: #ffffff;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  vertical-align: middle;
}
.sortable {
  cursor: pointer;
}
.sortable:hover {
  background-color: #ececec;
}
.sortable.is-sorting {
  font-weight: 700;
  background-color: #f6f6f6;
}
.sortable.is-sorting:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.sortable.is-sorting.descending:after {
  content: "";
  border-bottom: 4px solid;
  border-top: 0;
}
.table > thead > tr > td.selected,
.table > tbody > tr > td.selected,
.table > tfoot > tr > td.selected,
.table > thead > tr > th.selected,
.table > tbody > tr > th.selected,
.table > tfoot > tr > th.selected,
.table > thead > tr.selected > td,
.table > tbody > tr.selected > td,
.table > tfoot > tr.selected > td,
.table > thead > tr.selected > th,
.table > tbody > tr.selected > th,
.table > tfoot > tr.selected > th {
  background-color: #fcf8e3;
}
.table-hover > tbody > tr > td.selected:hover,
.table-hover > tbody > tr > th.selected:hover,
.table-hover > tbody > tr.selected:hover > td,
.table-hover > tbody > tr:hover > .selected,
.table-hover > tbody > tr.selected:hover > th {
  background-color: #faf2cc;
}
.texting__actions {
  background-color: #ffffff;
  padding: 15px;
  position: relative;
  z-index: 10;
}
.texting__actions__compose .form-group {
  margin-bottom: 6px;
}
.texting__actions__compose textarea {
  height: 60px;
  overflow: auto;
  resize: none;
}
.texting__actions__hr {
  margin: 15px 0;
}
.texting__actions__phones {
  margin-bottom: 4px;
}
.texting__actions__phone-assign {
  margin: 4px 0;
  font-size: 85%;
}
.texting__actions__templates {
  margin: 4px 0;
}
.texting__body {
  padding: 0;
  position: relative;
}
.texting__charcount {
  text-align: right;
  color: #999999;
}
a.texting__charcount:hover {
  color: #808080;
}
a.texting__charcount,
.btn-link.texting__charcount,
.clickable.texting__charcount {
  color: #999999;
}
a.texting__charcount:hover,
.btn-link.texting__charcount:hover,
.clickable.texting__charcount:hover {
  color: #808080;
}
.texting__charcount--danger {
  color: #a94442;
}
a.texting__charcount--danger:hover {
  color: #843534;
}
a.texting__charcount--danger,
.btn-link.texting__charcount--danger,
.clickable.texting__charcount--danger {
  color: #a94442;
}
a.texting__charcount--danger:hover,
.btn-link.texting__charcount--danger:hover,
.clickable.texting__charcount--danger:hover {
  color: #843534;
}
.texting__convo {
  background-color: #f6f6f6;
  position: relative;
}
.texting__convo__inner {
  height: 100%;
  max-height: 230px;
  min-height: 100px;
  overflow-y: auto;
  padding: 15px;
  position: relative;
}
.texting__welcome {
  border-radius: 3px;
  display: inline-block;
  font-size: 13px;
  margin-left: 62px;
  min-height: 40px;
  padding: 10px 12px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.texting__welcome .message-face {
  position: absolute;
  right: 100%;
  top: 0;
}
.texting__msg {
  margin: 0 0 7.5px 52px;
  position: relative;
}
.texting__msg--user {
  margin: 0 52px 7.5px 0;
  text-align: right;
}
.texting__msg--user .texting__msg__bubble__avatar {
  left: auto;
  right: -52px;
}
.texting__msg--user .texting__msg__time {
  text-align: right;
}
.texting__msg__bubble {
  background-color: #ececec;
  border-radius: 3px;
  display: inline-block;
  font-size: 13px;
  max-width: 85%;
  padding: 6px;
  position: relative;
  text-align: left;
  transition: background-color 500ms linear 0s;
}
.texting__msg__bubble__avatar {
  background-clip: padding-box;
  background-color: #cccccc;
  border-radius: 50%;
  height: 42px;
  position: absolute;
  left: -52px;
  margin-top: -21px;
  overflow: hidden;
  pointer-events: none;
  text-align: center;
  top: 50%;
  width: 42px;
  z-index: 10;
}
.texting__msg__bubble__avatar .icon {
  border-radius: 50%;
  color: #ececec;
  font-size: 40px;
  left: 1px;
  top: 6px;
}
.texting__msg__bubble__avatar img {
  margin-left: -2px;
  width: 46px;
}
.texting__msg__status {
  font-size: 11px;
}
.texting__msg__status--error {
  color: #cb2027;
  padding: 6px 0;
}
.texting__msg__status--error a {
  color: #cb2027;
  text-decoration: underline;
}
.texting__msg__status--error .icon-warning {
  top: -2px;
}
.texting__msg__time {
  color: #696969;
  font-size: 10px;
}
.texting--md .texting__actions {
  border-left: 1px solid #cccccc;
  float: right;
  min-height: 280px;
  width: 280px;
}
.texting--md .texting__actions__compose textarea {
  height: 140px;
}
.texting--md .texting__convo {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 280px;
  top: 0;
  z-index: 1;
}
.texting--md .texting__convo__inner {
  max-height: auto;
  min-height: 100%;
}
.texting--md .texting__msg {
  margin: 0 0 15px 52px;
}
.texting--md .texting__msg--user {
  margin: 0 52px 15px 0;
}
.texting--modal .texting__actions,
.texting--panel .texting__actions {
  background-color: transparent;
}
.texting--modal.texting--md .texting__actions,
.texting--panel.texting--md .texting__actions {
  border-bottom-right-radius: 4px;
}
.texting--modal.texting--md .texting__convo,
.texting--panel.texting--md .texting__convo {
  border-bottom-left-radius: 4px;
}
.switcher {
  display: inline-block;
  height: 24px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 52px;
}
.switcher__inner {
  font-size: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  width: 200%;
}
.switcher__input {
  display: none;
}
.switcher__label {
  border-radius: 3px;
  display: block;
  height: 100%;
  margin-bottom: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
  word-spacing: 0;
  z-index: 20;
}
.switcher__input:checked ~ .switcher__label .switcher__inner {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.switcher__input:checked ~ .switcher__label .switcher__off:after {
  -webkit-transform: translateX(-24px);
  transform: translateX(-24px);
}
.switcher__off,
.switcher__on {
  color: #ffffff;
  display: inline-block;
  font-size: 14px;
  height: 100%;
  line-height: 24px;
  position: relative;
  text-align: center;
  width: 50%;
}
.switcher__off > .icon,
.switcher__on > .icon {
  height: 24px;
  top: 0;
  vertical-align: inherit;
}
.switcher__off {
  background-color: #999999;
  padding-left: 20px;
  z-index: 2;
}
.switcher__off:after {
  content: "";
  background-color: #ffffff;
  border-radius: 2px;
  height: 20px;
  left: 0;
  margin: 2px;
  position: absolute;
  text-align: center;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  width: 20px;
  z-index: 10;
}
.switcher__on {
  background-color: #669900;
  padding-right: 20px;
}
.switcher__toggler {
  background-color: #ffffff;
  border-radius: 2px;
  height: 20px;
  left: 0;
  margin: 2px;
  position: absolute;
  text-align: center;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  width: 20px;
  z-index: 10;
}
.switcher__toggler--sm {
  height: 16px;
  width: 16px;
}
.switcher--disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}
.switcher--sm {
  height: 20px;
  width: 42px;
}
.switcher--sm .switcher__inner {
  border-radius: 2px;
}
.switcher--sm .switcher__off,
.switcher--sm .switcher__on {
  line-height: 20px;
}
.switcher--sm .switcher__off > .icon,
.switcher--sm .switcher__on > .icon {
  height: 20px;
}
.switcher--sm .switcher__off {
  padding-left: 16px;
}
.switcher--sm .switcher__off:after {
  content: "";
  background-color: #ffffff;
  border-radius: 2px;
  height: 20px;
  left: 0;
  margin: 2px;
  position: absolute;
  text-align: center;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  width: 20px;
  z-index: 10;
  height: 16px;
  width: 16px;
}
.switcher--sm .switcher__on {
  padding-right: 16px;
}
.switcher__input:checked ~ .switcher__label--sm .switcher__off:after {
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
}
.popover[class*="tour-"] {
  box-sizing: border-box;
  min-width: 270px;
  max-width: 320px;
}
.popover[class*="tour-"] .popover-content > ul {
  margin: 0;
  padding: 0 0 0 18px;
}
.popover[class*="tour-"] .popover-navigation {
  padding: 4px 14px 14px 14px;
  text-align: right;
}
.popover[class*="tour-"] .popover-navigation *[data-role=end] {
  float: none;
}
.popover[class*="tour-"] .popover-navigation .btn {
  padding-left: 0;
  padding-right: 0;
  width: 50px;
}
.popover[class*="tour-"] .popover-navigation .btn + .btn {
  margin-left: 10px;
}
/*.tour-backdrop {
  .opacity(25);
}*/
.lead {
  font-weight: 300;
}
.bg-attention {
  background-color: #f68a24;
  color: #ffffff;
}
a.bg-attention:hover {
  background-color: #de7009;
}
.bg-cool-dark {
  background-color: #222C32;
  color: #ffffff;
}
a.bg-cool-dark:hover {
  background-color: #0d1114;
}
.bg-cool {
  background-color: #394B54;
  color: #ffffff;
}
a.bg-cool:hover {
  background-color: #243036;
}
.bg-cool-light {
  background-color: #5F7F8E;
  color: #ffffff;
}
a.bg-cool-light:hover {
  background-color: #4b646f;
}
.bg-gray-lightest {
  background-color: #f6f6f6;
}
a.bg-gray-lightest:hover {
  background-color: #dddddd;
}
.bg-gray-lighter {
  background-color: #ececec;
}
a.bg-gray-lighter:hover {
  background-color: #d3d3d3;
}
.bg-gray-light {
  background-color: #cccccc;
}
a.bg-gray-light:hover {
  background-color: #b3b3b3;
}
.bg-gray {
  background-color: #999999;
  color: #ffffff;
}
a.bg-gray:hover {
  background-color: #808080;
}
.bg-gray-dark {
  background-color: #696969;
  color: #ffffff;
}
a.bg-gray-dark:hover {
  background-color: #505050;
}
.bg-gray-darker {
  background-color: #444444;
  color: #ffffff;
}
a.bg-gray-darker:hover {
  background-color: #2b2b2b;
}
.bg-white {
  background-color: #ffffff;
}
a.bg-white:hover {
  background-color: #e6e6e6;
}
.text-attention {
  color: #f68a24;
}
a.text-attention:hover {
  color: #de7009;
}
a.text-attention,
.btn-link.text-attention,
.clickable.text-attention {
  color: #f68a24;
}
a.text-attention:hover,
.btn-link.text-attention:hover,
.clickable.text-attention:hover {
  color: #de7009;
}
.text-muted {
  color: #999999;
}
a.text-muted:hover {
  color: #808080;
}
a.text-muted,
.btn-link.text-muted,
.clickable.text-muted {
  color: #999999;
}
a.text-muted:hover,
.btn-link.text-muted:hover,
.clickable.text-muted:hover {
  color: #808080;
}
.xsmall {
  font-size: 75%;
}
.border,
.card {
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px;
}
.inline-block {
  display: inline-block;
}
.pointer,
.clickable,
.switcher__label {
  cursor: pointer;
}
.overflow-hidden {
  overflow: hidden;
}
.preserve-3d {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.shadow-depth-1 {
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.shadow-depth-2 {
  box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
}
.shadow-depth-3 {
  box-shadow: 0px 17px 50px rgba(0, 0, 0, 0.19);
}
.shadow-depth-4 {
  box-shadow: 0px 16px 28px 0 rgba(0, 0, 0, 0.22);
}
.shadow-depth-5 {
  box-shadow: 0px 27px 24px 0 rgba(0, 0, 0, 0.2);
}
.text-overflow,
.bootstrap-select.btn-group .btn .filter-option,
.ui-select-match,
.card p,
.card .btn,
.modal-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.vert-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.ui-alert {
  background-color: #ffffff;
  padding: 15px 24px 15px 15px;
  position: relative;
}
.ui-alert + .ui-alert {
  margin-top: 15px;
}
.ui-alert__icon-wrapper {
  border-color: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 50px;
}
.ui-alert__body {
  margin-left: 50px;
}
.ui-alert__icon {
  font-size: 26px;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.ui-alert__close {
  color: inherit;
  font-size: 16px;
  position: absolute;
  right: 5px;
  top: 5px;
}
.well,
.pl-example {
  box-shadow: none;
  padding: 15px;
}
.well-sm {
  padding: 6px;
}
.well-lg {
  padding: 20px;
}
h1,
h2 {
  margin: 24px 0 10px;
}
.pl-docs-section {
  padding: 2em 0;
}
.pl-docs-section > h1 {
  margin-top: 0px;
}
.navbar-brand-logo {
  display: inline-block;
  margin-top: -4px;
  max-width: 110px;
}
.pl-docs-sidebar-header {
  background-color: #5bc0de;
  color: #ffffff;
  padding: 6px 12px;
  font-size: 15px;
}
.pl-docs-sidebar-header > a {
  color: #ffffff;
}
.pl-docs-sidebar-header a:last-child {
  float: right;
}
.pl-docs-sidebar.affix {
  top: 10px;
  width: 263px;
  position: static;
}
@media (min-width: 768px) {
  .pl-docs-sidebar.affix {
    position: fixed;
  }
}
.pl-docs-sidenav {
  margin-bottom: 6px;
}
.pl-docs-sidenav > li {
  margin: 0 6px 6px 0;
}
.pl-docs-sidenav > li + li {
  margin-left: 0;
}
.pl-docs-sidenav > li > a {
  background-color: #f6f6f6;
  color: #696969;
  font-size: 12px;
  padding: 3px 6px;
  text-transform: lowercase;
  transition: all 0.35s;
  margin: 0;
}
.pl-docs-sidenav > li > a:hover {
  background-color: #ececec;
}
.pl-docs-sidenav > li.active > a {
  background-color: #f68a24;
}
.pl-docs-sidenav > li.active > a:focus,
.pl-docs-sidenav > li.active > a:hover {
  background-color: #f68a24;
}
/*.pl-docs-sidebar > a {
  border-left: 2px solid transparent;
  color: @brand-attention;
  display: inline-block;
  font-size: 13px;
  padding: 6px 12px;
  text-decoration: none;
}*/
.pl-article + article {
  margin-top: 2em;
}
.pl-article > h1 {
  margin-top: 0;
}
.pl-article > h3 {
  color: #696969;
}
.pl-example {
  margin-bottom: 0;
  position: relative;
}
.pl-example + .pl-code {
  margin: -2px 0 20px 0;
}
.pl-example + .pl-code pre {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.pl-example > p:last-child {
  margin-bottom: 0;
}
.pl-example-control-sizing select,
.pl-example-control-sizing input[type=text] + input[type=text] {
  margin-top: 10px;
}
.pl-example > .img-circle,
.pl-example > .img-rounded,
.pl-example > .img-thumbnail {
  margin: 5px;
}
.pl-example-bg-classes > p {
  padding: 10px;
}
.pl-example > p > .close {
  float: none;
}
.responsive-utilities td.is-visible {
  background-color: #dff0d8 !important;
  color: #669900;
}
a.responsive-utilities td.is-visible:hover {
  background-color: #c1e2b3 !important;
}
.responsive-utilities th small {
  display: block;
  font-weight: 400;
  color: #999999;
}
.responsive-utilities-test span {
  display: block;
  padding: 15px 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
  border-radius: 4px;
}
.responsive-utilities-test .col-xs-6 {
  margin-bottom: 10px;
}
.visible-on .col-xs-6 .visible-xs-block,
.visible-on .col-xs-6 .visible-sm-block,
.visible-on .col-xs-6 .visible-md-block,
.visible-on .col-xs-6 .visible-lg-block,
.hidden-on .col-xs-6 .visible-xs-block,
.hidden-on .col-xs-6 .visible-sm-block,
.hidden-on .col-xs-6 .visible-md-block,
.hidden-on .col-xs-6 .visible-lg-block {
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
}
.show-grid [class^=col-] {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eee;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86, 61, 124, 0.2);
}
.pl-example > .btn-toolbar + .btn-toolbar {
  margin-top: 10px;
}
.pl-spacious {
  margin: 24px 0;
}
.pl-code {
  margin: 1.5em 0;
}
.pl-code pre {
  border-color: #cccccc;
  padding-left: 19px;
  padding-right: 19px;
}
.pl-code .cp {
  color: #099;
}
.pl-code .na {
  color: #4f9fcf;
}
.pl-code .nc {
  color: #0A8;
}
.pl-code .nt {
  color: #2f6f9f;
}
.pl-code .s,
.pl-code .s2 {
  color: #d44950;
}
.pl-code .t {
  color: #5bc0de;
}
.pl-code .s1 {
  color: #C30;
}
.pl-code .kd,
.pl-code .k {
  color: #006699;
}
.pl-icons .icon {
  font-size: 32px;
}
.pl-icons .icon + .icon {
  margin-left: 14px;
}
.pl-swatch-txt {
  padding-top: 10px;
  text-align: center;
}
[class*="pl-swatch--"] {
  height: 120px;
  width: 100%;
}
.pl-swatch--bt-orange {
  background-color: #f68a24;
}
.pl-swatch--bt-blue {
  background-color: #1581e2;
}
.pl-swatch--primary {
  background-color: #1581e2;
}
.pl-swatch--attention {
  background-color: #f68a24;
}
.pl-swatch--success {
  background-color: #669900;
}
.pl-swatch--info {
  background-color: #5bc0de;
}
.pl-swatch--warning {
  background-color: #ffcc33;
}
.pl-swatch--danger {
  background-color: #cb2027;
}
.pl-swatch--highlight {
  background-color: #f5fbff;
}
.pl-swatch--gray {
  background-color: #999999;
}
.pl-swatch--gray-light {
  background-color: #cccccc;
}
.pl-swatch--gray-lighter {
  background-color: #ececec;
}
.pl-swatch--gray-lightest {
  background-color: #f6f6f6;
}
.pl-swatch--gray-dark {
  background-color: #696969;
}
.pl-swatch--gray-darker {
  background-color: #444444;
}
.pl-swatch--cool {
  background-color: #394B54;
}
.pl-swatch--cool-light {
  background-color: #5F7F8E;
}
.pl-swatch--cool-dark {
  background-color: #222C32;
}
.pl-swatch--cool-hover {
  background-color: #f2f9fc;
}
.pl-sashes .sash {
  margin-bottom: 20px;
  position: static;
}
.pl-cards .card {
  margin-bottom: 20px;
}
.pl-badge-outline > button {
  margin-bottom: 6px;
}
.pl-code {
  margin: 1.5em 0;
}
.pl-code pre {
  border-color: #cccccc;
  padding-left: 19px;
  padding-right: 19px;
}
.pl-code .cp {
  color: #099;
}
.pl-code .na {
  color: #4f9fcf;
}
.pl-code .nc {
  color: #0A8;
}
.pl-code .nt {
  color: #2f6f9f;
}
.pl-code .s,
.pl-code .s2 {
  color: #d44950;
}
.pl-code .t {
  color: #5bc0de;
}
.pl-code .s1 {
  color: #C30;
}
.pl-code .kd,
.pl-code .k {
  color: #006699;
}
.pl-body pre.prettyprint {
  border-color: #cccccc;
  padding: 9.5px 19px;
}
.pl-body pre.prettyprint .atv {
  color: #d44950;
}
.pl-body pre.prettyprint .atn,
.pl-body pre.prettyprint .pun {
  color: #4f9fcf;
}
.pl-body pre.prettyprint .com {
  color: inherit;
}
.pl-body pre.prettyprint .tag {
  color: #2f6f9f;
}
.pl-code pre {
  border-color: #cccccc;
}
.pl-example .ui-select-range .ui-select-bootstrap {
  float: left;
  width: 45%;
}
.pl-example .ui-select-range .ui-select-bootstrap + .ui-select-bootstrap {
  margin-left: 15px;
}
.pl-example .scroll-area-1 {
  height: 200px;
}
.pl-example .scroll-area-1 p {
  margin: 0;
  padding: 5px 10px 0 5px;
}
.pl-example .scroll-area-2 {
  background-color: #1581e2;
  color: #ffffff;
  height: 300px;
}
.pl-example .scroll-area-2 h4 {
  padding-left: 10px;
}
.pl-example .scroll-area-2 p {
  margin: 0;
  padding: 5px 10px;
}
.scrollspy-example {
  position: relative;
  height: 200px;
  margin-top: 10px;
  overflow: auto;
}
.pl-example-type h1,
.pl-example-type h2,
.pl-example-type h3,
.pl-example-type h4,
.pl-example-type h5,
.pl-example-type h6 {
  margin: 0;
}
.pl-example-close-inverted {
  background-color: #f68a24;
  padding: 12px;
}
.pl-example-close-inverted .close-inverted {
  float: none;
}
.pl-example-vert-align {
  background-color: #ffcc33;
  height: 100px;
  padding: 12px;
}
.pl-example-modal .modal {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 1;
  display: block;
}
.pl-example.pl-example-texting {
  border: none;
  padding: 0;
  margin-bottom: 15px;
}
.pl-example .navbar:last-child {
  margin-bottom: 0;
}
.bs-navbar-top-example {
  padding-bottom: 45px;
}
.pl-example-progress-bar .progress-bar {
  cursor: pointer;
  margin: 10px 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn-showmarkup {
  margin-top: 12px;
}