<!-- ================================== About Boomstrap ================================== -->

<div class="pl-docs-section">
  <h1 id="about-boomstrap" class="page-header">About Boomstrap</h1>
  <p class="lead">Boomstrap is a ui pattern library built on the <a href="http://www.getbootstrap.com" target="_blank">Bootstrap</a> framework - with BoomTown branding and custom, reusable components.</p>
  <h3>Extending Bootstrap</h3>
  <p>Boomstrap contains an incredible collection of additions to Bootstrap. Among this collection are reusable user interface components designed specifically to work within the Boomtown CRM platform.</p>
  <h3>Javascript / Angular</h3>
  <p>We developed Boomstrap to work with jQuery / Bootstrap.js or with Angular.</p>
</div>