
<!-- ================================== INSTALLATION ================================== -->
<div class="pl-docs-section">
  <h1 id="installation" class="page-header">Installation</h1>
  <p class="lead">Install Boomstrap via <a href="https://www.npmjs.com/package/boomstrap" target="_blank">NPM</a>.
  <div class="pl-code">
    <pre>npm install boomstrap --save</pre>
  </div>
  <p class="lead">Install Boomstrap via <a href="http://bower.io/" target="_blank">Bower</a>.
  <div class="pl-code">
    <pre>bower install https://github.com/BoomTownROI/boomstrap.git --save</pre>
  </div>
</div>
