<h1><code ng:non-bindable="">btScore</code>
<div><span class="hint">directive in module <code ng:non-bindable="">boomstrap</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="boomstrap-directive-page boomstrap-directive-btscore-page"><p>The <code>btScore</code> directive represents a score component from Boomstrap.  It will keep the color
and size up to date based on what is specified.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;bt-score
       score="{Number}"
       size="{string}"&gt;
&lt;/bt-score&gt;</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>score</td><td><a href="" class="label type-hint type-hint-number">Number</a></td><td><div class="boomstrap-directive-page boomstrap-directive-btscore-page"><p>The score to present in the component.  Classes will be added to the element to
color a score element based on how high or low the score is.  Excellent score (99-76); Good score (75-56);
Average score (50-26); Default score (25-0)</p>
</div></td></tr><tr><td>size</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="boomstrap-directive-page boomstrap-directive-btscore-page"><p>The size of the score. Valid sizes include: <code>extrasmall</code>, <code>small</code>, and <code>large</code>.
If no size is specified, the score will be of medium size.</p>
</div> <p><em>(default: '')</em></p></td></tr></tbody></table></div>
<h2 id="example">Example</h2>
<div class="example"><div class="boomstrap-directive-page boomstrap-directive-btscore-page"><h4 id="example_source">Source</h4>
<div source-edit="boomstrap" source-edit-deps="angular.js" source-edit-html="index.html-3" source-edit-css="" source-edit-js="" source-edit-json="" source-edit-unit="" source-edit-scenario=""></div>
<div class="tabbable"><div class="tab-pane" title="index.html">
<pre class="prettyprint linenums" ng-set-text="index.html-3" ng-html-wrap-loaded="boomstrap angular.js"></pre>
<script type="text/ng-template" id="index.html-3">
  <div ng-init="myScore=20">
    <label>Input a score here to see it reflected in the tags :</label>
    <input ng-model="myScore">
    <p><bt-score score="myScore" size="extrasmall" /></p>
    <p><bt-score score="myScore" size="small"/></p>
    <p><bt-score score="myScore" /></p>
    <p><bt-score score="myScore" size="large"/></p>
  </div>
</script>
</div>
</div><h4 id="example_demo">Demo</h4>
<div class="well doc-example-live animate-container" ng-embed-app="boomstrap" ng-set-html="index.html-3" ng-eval-javascript=""></div>
</div></div>
</div>
