<div class="row">
  <div class="col-md-5">
    <ui-select ng-model="minimum.value">
      <match placeholder="Select a minimum value">{{$select.selected}}</match>
      <choices repeat="value in getValues($select.search) | filter: $select.search">
        <div>{{value}}</div>
      </choices>
    </ui-select>
  </div>
  <div class="col-md-2">
    <i class="ficon ficon-minus"></i>
  </div>
  <div class="col-md-5">
    <ui-select ng-model="maximum.value">
      <match placeholder="Select a maximum value">{{$select.selected}}</match>
      <choices repeat="value in getValues($select.search) | filter: $select.search">
        <div>{{ value}}</div>
      </choices>
    </ui-select>
  </div>
</div>