<section id="cards">
    <div class="page-header">
        <h1>Cards</h1>
        <div class="callout callout-attention">
            <h4>Data Requirement</h4>
            <p>Property cards rely on an object called <code>property</code>, passed via the controller or ng-repeat.</p>
        </div>
        <div>
            <h2>Single Card</h2>
            <p data-height="555" data-theme-id="5675" data-slug-hash="iLwht" data-default-tab="result" class='codepen'>See the Pen <a href='http://codepen.io/seanboom/pen/iLwht/'>Single Card Example</a> by Sean McCambridge (<a href='http://codepen.io/seanboom'>@seanboom</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
            <script async src="//codepen.io/assets/embed/ei.js"></script>
        </div>
        <div>
            <h2>Multiple Cards</h2>
            <p data-height="555" data-theme-id="5675" data-slug-hash="tlxCA" data-default-tab="result" class='codepen'>See the Pen <a href='http://codepen.io/seanboom/pen/tlxCA/'>Multiple Card Example</a> by Sean McCambridge (<a href='http://codepen.io/seanboom'>@seanboom</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
            <script async src="//codepen.io/assets/embed/ei.js"></script>
        </div>
        <div>
            <h2>Small Card</h2>
            <p data-height="444" data-theme-id="5675" data-slug-hash="qoAef" data-default-tab="result" class='codepen'>See the Pen <a href='http://codepen.io/seanboom/pen/qoAef/'>Small Card Example</a> by Sean McCambridge (<a href='http://codepen.io/seanboom'>@seanboom</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
            <script async src="//codepen.io/assets/embed/ei.js"></script>
        </div>
        <div>
            <h2>Cards With Carousels</h2>
            <p data-height="555" data-theme-id="5675" data-slug-hash="zjuBH" data-default-tab="result" class='codepen'>See the Pen <a href='http://codepen.io/seanboom/pen/zjuBH/'>Carousel Card Example</a> by Sean McCambridge (<a href='http://codepen.io/seanboom'>@seanboom</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
            <script async src="//codepen.io/assets/embed/ei.js"></script>
        </div>
    </div>
    <!-- <p data-height="360" data-theme-id="5675" data-slug-hash="dCLlE" data-default-tab="result" class='codepen'>See the Pen <a href='http://codepen.io/seanboom/pen/dCLlE/'>Chosen Example</a> by Sean McCambridge (<a href='http://codepen.io/seanboom'>@seanboom</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
    <script async src="//codepen.io/assets/embed/ei.js"></script> -->
</section>
