<section id="chosen">
  <div class="page-header">
    <h1>Chosen<small>
        (<a target="_blank" href="http://harvesthq.github.io/chosen/">Chosen</a>, <a target="_blank" href="https://github.com/localytics/angular-chosen">angular-chosen</a>)
    </small>
    </h1>
  </div>
  <div class="row">
    <div class="col-md-6 show-grid">
        <div ng-controller="ChosenDemoCtrl">
          <select style="width:200px"
            chosen
            ng-model="superhero"
            ng-options="s as s for s in superheroes">
            <option value=""></option>
          </select>
          <label>You have chosen {{ superhero }}!</label>
        </div>
    </div>
    <div class="col-md-6">
        <p>Chosen allows for searchable dropdowns.</p>

        <p>Provide a <code>chosen</code> attribute with an <code>ng-options</code> attribute to a <code>select</code> tag to search for elements.</p>
    </div>
  </div>
  <hr>
  <div class="row code">
    <div class="col-md-12">
      <tabset>
        <tab heading="Markup">
          <div>
            <pre ng-non-bindable><code data-language="html">&lt;select chosen
  ng-model=&quot;superhero&quot;
  ng-options=&quot;s for s in superheroes&quot;&gt;
&lt;/select&gt;
&lt;option value=&quot;&quot;&gt;&lt;/option&gt;
&lt;label&gt;You have chosen {{ superhero }}!&lt;/label&gt;
            </code></pre>
          </div>
        </tab>
        <tab heading="JavaScript">
          <div plunker-content="javascript">
            <pre ng-non-bindable><code data-language="javascript">(function(PatternLibrary) {
  'use strict';
  PatternLibrary.controller('ChosenDemoCtrl', ['$scope', function($scope) {
    $scope.superheroes = [
      'Batman',
      'Superman',
      'Green Arrow',
      'Wonder Woman'
    ];
  }]);
})(angular.module('PatternLibrary'));
</code></pre>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</section>