<section id="chosen">
  <div class="page-header">
    <h2>Chosen<small>
        (<a target="_blank" href="http://harvesthq.github.io/chosen/">Chosen</a>, <a target="_blank" href="https://github.com/localytics/angular-chosen">angular-chosen</a>)
    </small>
    </h2>
  </div>
  <div class="row">
    <div class="col-md-6 col-offset-md-3">
        <p>Chosen allows for searchable dropdowns.</p>

        <p>Provide a <code>chosen</code> attribute with an <code>ng-options</code> attribute to a <code>select</code> tag to search for elements.</p>
    </div>
  </div>
  <hr>
  <p data-height="208" data-theme-id="5592" data-slug-hash="lEbaF" data-default-tab="result" class='codepen'>See the Pen <a href='http://codepen.io/mfunkie/pen/lEbaF/'>lEbaF</a> by Mark Funk (<a href='http://codepen.io/mfunkie'>@mfunkie</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
  <script async src="//codepen.io/assets/embed/ei.js"></script>
</section>