<div class="pl-docs-section">
    <h1 id="overview">UI-Bootstrap Components</h1>
    <div class="callout callout-attention">
      <h4>Boomstrap and UI-Bootstrap</h4>
      <p>Our basic components are built atop the <a href="http://angular-ui.github.io/" target="_blank">AngularUI</a> team's <a href="http://angular-ui.github.io/bootstrap/" target="_blank">UI-Bootstrap</a> project but styled like the rest of the components in Boomstrap. The UI-Bootstrap components employed by Boomstrap are listed below. For background and documentation directly related to UI-Bootstrap, head over to the <a href="http://angular-ui.github.io/bootstrap/" target="_blank">UI-Bootstrap page on GitHub</a>.</p>
    </div>
</div>
