<section id="progressbar">
    <div class="page-header">
        <h2>Progressbar<small>
            (<a target="_blank" href="https://github.com/angular-ui/bootstrap/tree/master/src/progressbar">ui.bootstrap.progressbar</a>)
        </small></h2>
    </div>
    <p data-height="570" data-theme-id="5675" data-slug-hash="devjC" data-default-tab="result" class='codepen'>See the Pen <a href='http://codepen.io/seanboom/pen/devjC/'>Chosen Example</a> by Sean McCambridge (<a href='http://codepen.io/seanboom'>@seanboom</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
    <script async src="//codepen.io/assets/embed/ei.js"></script>
</section>
