<!-- ================================== Ranges ================================== -->

<!-- btSelectRange (Angular Custom) -->

<div class="pl-docs-section" id="ranges">
  <h1 class="page-header">Ranges</h1>
  <p data-height="268" data-theme-id="5592" data-slug-hash="gDCuj" data-default-tab="result" class='codepen'>See the Pen <a href='http://codepen.io/mfunkie/pen/gDCuj/'>bt-select-range Example</a> by Mark Funk (<a href='http://codepen.io/mfunkie'>@mfunkie</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
  <script async src="//codepen.io/assets/embed/ei.js"></script>
</div>
