<section id="relative-time" class="pl-docs-section">
    <div class="page-header">
      <h1>Relative Time</h1>
    </div>
    <p><code>am-time-ago</code> takes a date and passes it to <strong>moment.js</strong>.  In the examples below, a date string is passed to the JavaScript <code>Date()</code> object and handed off to the directive.</p>
    <p>Take a look at the <code>bt-property-card</code> directive to see <code>am-time-ago</code> used in the directive template.</p>
    <p data-height="360" data-theme-id="5675" data-slug-hash="gqKIk" data-default-tab="result" class='codepen'>See the Pen <a href='http://codepen.io/seanboom/pen/gqKIk/'>Relative Time Example</a> by Sean McCambridge (<a href='http://codepen.io/seanboom'>@seanboom</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
    <script async src="//codepen.io/assets/embed/ei.js"></script>
</section>