<section id="relative-time" class="pl-docs-section">
    <div class="page-header">
      <h1>Relative Time</h1>
    </div>
    <p><code>am-time-ago</code> takes a date and passes it to <strong>moment.js</strong>.  In the examples below, a date string is passed to the JavaScript <code>Date()</code> object and handed off to the directive.</p>
    <p>Take a look at the <code>bt-property-card</code> directive to see <code>am-time-ago</code> used in the directive template.</p>
    <bt-lazy-pen height="360" theme-id="5675" slug="CGlfg" user-id="boomtownroi" author="BoomTown"></bt-lazy-pen>
</section>