<section id="scrollbar" class="pl-docs-section">
    <style>
        .perfect-scrollbar {
            white-space: pre-line;
            height: 300px;
            width: 480px;
            overflow-y: hidden;
            position: relative;
        }
    </style>
    <div class="page-header">
      <h1>Scrollbar</h1>
    </div>
    <perfect-scrollbar class="perfect-scrollbar">
        <p>lala</p>
        <p>lala</p>
        <p>lala</p>
        <p>lala</p>
        <p>lala</p>
        <p>lala</p>
        <p>lala</p>
        <p>lala</p>
        <p>lala</p>
        <p>lala</p>
        <p>lala</p>
        <p>lala</p>
        <p>lala</p>
        <p>lala</p>
        <p>lala</p>
    </perfect-scrollbar>
</section>