<section id="scrollbar" class="pl-docs-section">
    <style>
        .ps-example {
            height: 300px;
            width: 816px;
        }
    </style>
    <div class="page-header">
      <h1>Scrollbar<small>
            (<a target="_blank" href="https://github.com/itsdrewmiller/angular-perfect-scrollbar">angular-perfect-scrollbar</a>)
        </small></h1>
    </div>
    <p>The image below sits in a <code>&lt;perfect-scrollbar&gt;</code> tag. If the inner content is wider or taller than the <code>perfect-scrollbar</code> container, scrollbars will be triggered.</p>
    <perfect-scrollbar class="ps-example" style="background-color: #fff; margin-bottom: 12px;">
        <div style="background: url('http://boomtownroi.com/assets/images/site/bg.gif'); opacity: 0.5; height: 900px;"></div>
    </perfect-scrollbar>
    <p>On dark backgrounds, use <code>class="inverted"</code></p>
    <perfect-scrollbar class="ps-example inverted" style="background-color: #03a;">
        <div style="background: url('http://boomtownroi.com/assets/images/site/bg.gif'); opacity: 0.3; height: 900px;"></div>
    </perfect-scrollbar>
    <h2>Usage</h2>
    <p>Create a <code>perfect-scrollbar</code> container with a class to hook up some CSS.</p>
    <p>HTML</p>
    <pre class="prettyprint">
&lt;!-- <em>awesome-clizzass</em> is an arbitrary name. Please don't use in production. :) --&gt;
&lt;perfect-scrollbar class="awesome-clizzass"&gt;&lt;!-- optionally, add class <em>inverted</em> --&gt;
    &lt;p&gt;So Snoopy!&lt;/p&gt;
&lt;/perfect-scrollbar&gt;
    </pre>
    <p>CSS</p>
    <pre class="prettyprint">
/* set a width and height in your CSS */

.awesome-clizzass {
    width: 300px;
    height: 816px;
}
    </pre>
</section>