<section id="tabs">
    <div class="page-header">
        <h1>Tabs<small>
            (<a target="_blank" href="https://github.com/angular-ui/bootstrap/tree/master/src/tabs">ui.bootstrap.tabs</a>)
        </small></h1>
    </div>
    <p data-height="570" data-theme-id="5675" data-slug-hash="Ghmlf" data-default-tab="result" class='codepen'>See the Pen <a href='http://codepen.io/seanboom/pen/Ghmlf/'>Chosen Example</a> by Sean McCambridge (<a href='http://codepen.io/seanboom'>@seanboom</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
    <script async src="//codepen.io/assets/embed/ei.js"></script>
</section>
