<section id="tooltip">
    <div class="page-header">
        <h2>Tooltip<small>
            (<a target="_blank" href="https://github.com/angular-ui/bootstrap/tree/master/src/tooltip">ui.bootstrap.tooltip</a>)
        </small></h2>
    </div>
    <p data-height="360" data-theme-id="5675" data-slug-hash="psHkn" data-default-tab="result" class='codepen'>See the Pen <a href='http://codepen.io/seanboom/pen/psHkn/'>Chosen Example</a> by Sean McCambridge (<a href='http://codepen.io/seanboom'>@seanboom</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
    <script async src="//codepen.io/assets/embed/ei.js"></script>
</section>