<section id="tour">
    <div class="page-header">
        <h1>Tour<small>
            (service based on <a target="_blank" href="http://bootstraptour.com/">bootstrap-tour</a>)
        </small></h1>
    </div>
    <p data-height="360" data-theme-id="5675" data-slug-hash="FIspt" data-default-tab="result" class='codepen'>See the Pen <a href='http://codepen.io/seanboom/pen/FIspt/'>FIspt</a> by Sean McCambridge (<a href='http://codepen.io/seanboom'>@seanboom</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
    <script async src="//codepen.io/assets/embed/ei.js"></script>
</section>