<section id="ui-select">
    <div class="page-header">
        <h1>ui-select<small>
            (<a target="_blank" href="https://github.com/angular-ui/ui-select">ui-select</a>)
        </small></h1>
    </div>
    <p data-height="350" data-theme-id="5592" data-slug-hash="bKAaI" data-default-tab="result" class='codepen'>See the Pen <a href='http://codepen.io/mfunkie/pen/bKAaI/'>ui-select Example</a> by Mark Funk (<a href='http://codepen.io/mfunkie'>@mfunkie</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
    <script async src="//codepen.io/assets/embed/ei.js"></script>
</section>